{{{view.manage_header}}}

<h2>"{{parcel_name}}" Parcel Generated</h2>

<div class="alert alert-success">
	<strong>Parcel generated successfully! <a href="{{url}}">Take me there</a>.</strong>
</div>

<hr /> 

<h3>Details</h3>

<div class="well with-title log well-small">
	<ol>
		{{#logOutput}}
		<li>{{.}}</li>
		{{/logOutput}}
	</ol>
</div>

{{#safemode}}
{{#file_outputs}}
{{filename}}
<div class="well well-small">
	<pre>{{content}}</pre>
</div>
{{/file_outputs}}

{{/safemode}}


<div class="well with-title sql well-small">
	<pre>
	{{{sqlOutput}}}
	</pre>
</div>

<div class="well with-title routes well-small">
	*Paste this into the parcel's config file, inside the routes*
	<pre>
	{{{routesOutput}}}
	</pre>
</div>




{{{view.manage_footer}}}