{{{view.core_head}}}
<div class="navigation">
  <div class="navigation-inner">
	<a class="brand" href="/manage"><img src="/images/fm-redtrans-128.png" /></a>
	<ul class="nav">
		<li class="dropdown">
			<a href="#"class="dropdown-toggle" data-toggle="dropdown"><span class="icon-cog "></span> Options <b class="caret" style="color: #535858"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/manage/users/"><span class="icon-wrench"></span> Settings</a></li>
				<li><a href="/manage/new/parcel"><span class="icon-heart"></span> New Parcel</a></li>
				<li><a href="/users/logout"><span class="icon-off"></span> Logout</a></li>
			</ul>
		</li>
	</ul>
	<ul class="nav">
		<li><a href="/manage/" class="active"><span class="icon-globe "></span> Dashboard</a></li>

		{{#parcels}}
		<li><a href="/manage/{{meta.plural}}"><span class="icon-{{meta.icon}}"></span> {{meta.plural}}</a></li>
		{{/parcels}}

	</ul>
  </div>
</div>

{{{view.core_messages}}}

<div class="content-container">