<div class="field" id="field-{{i}}">
	<form class="form-inline well">
	  	
	  	<select style="width:120px;" class="type">
		  	{{#types}}
		  	<option value="{{k}}" class="type">{{v}}</option>
		  	{{/types}}
		</select>

		&nbsp;
		&nbsp;

		<input type="text" class="name" style="width:120px;" placeholder="Name" />

		&nbsp;
		&nbsp;

	  	<input type="text"  class="size" style="width:120px;" placeholder="Size" />

	  	&nbsp;
		&nbsp;

		<input type="text"  class="default" style="width:120px;" placeholder="Default" />

		&nbsp;
		&nbsp;

		<label>
	  		<input type="checkbox" class="table" checked /> Table View
	  	</label>

		&nbsp;
		&nbsp;

	  	<label>
	  		<input type="checkbox" class="edit" checked /> Edit View
		</label>
		&nbsp;
		&nbsp;
		

		<a href="#" class="btn btn-danger">Remove</a>
		
		<input type="hidden" class="ai" value="false" />
	
	</form>

</div>