{{{view.manage_header}}}

{{#permission_error}}
<div class="container">
<div class="alert alert-error">
  {{{.}}}
</div>
</div>
{{/permission_error}}


<h2>Create New Parcel</h2>

<hr />

<h4>Info</h4>

<label>Name: <br /><input type="text" id="info-name" style="width:200px; text-transform: lowercase;" placeholder="" /></label>
<label>Plural: <br /><input type="text" id="info-plural" style="width:200px;text-transform: lowercase;" placeholder="" /></label>
<label>Author: <br /><input type="text" id="info-author" style="width:200px;" placeholder="" /></label>
<label>Description: <br /><textarea style="width:200px; height:80px;" id="info-descriptions"></textarea></label>

<h4>Fields</h4>

<div class="form-container"></div>

<div class="btn-group dropup">
	  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Add <span class="caret"></span></a>
	  <ul class="dropdown-menu">
	  	<li><a href="#" class="add add-pk"><b>Primary Key</b></a></li>
	  	<li><a href="#" class="add add-entry_datetime"><b>Entry Datetime</b></a></li>
	  	<li><a href="#" class="add add-deleted"><b>Deleted</a></b></li>
	   
	    <li class="divider"></li>

	    <li><a href="#" class="add add-ordering">Ordering</a></li>
	    <li><a href="#" class="add add-update_datetime">Update Datetime</a></li>

	    <li class="divider"></li>
	    
	    <li><a href="#" class="add add-custom">Custom</a></li>

	  </ul>
</div>

<hr />

<button type="submit" id="submit" class="btn btn-large btn-success">Generate Parcel</button>


{{{view.manage_footer}}}