{{{view.manage_header}}}

<div class="container">

<div class="row header">
	<div class="span6">{{#page_title}}<h2>{{.}}</h2>{{/page_title}}</div>
	<div class="span6 right">{{#link_back}}<a href="{{.}}" class="btn btn-large"><span class="icon-arrow-left"></span> Back</a>{{/link_back}}</div>
</div>

{{{form}}}
{{#preview}}<p>Current Cover Image: <img src="{{.}}" width="200px" height="200px"/></p>{{/preview}}
{{{view.manage_footer}}}