<table class="table table-striped" width="100%">
	<thead>
		<h4>Unpublished</h4>
		<tr>
			<th>Id</th>
			<th>Author Name</th>
			<th>Title</th>
			<th>Slug</th>
			<th>Excerpt</th>
			<th>Main Image</th>
			<th>Added</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#interview_unpublish}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{author_name}}</td>
			<td>{{title}}</td>
			<td>{{slug}}</td>
			<td>{{excerpt}}</td>
			<td>{{main_image}}</td>
			<td>{{entry_datetime}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<a href="#" class="reorder up btn" rel=interviews><span class="icon-arrow-up"></span></a>
				<a href="#" class="reorder down btn" rel=interviews style="float:right;"><span class="icon-arrow-down"></span></a>
			</td>
		</tr>
	{{/interview_unpublish}}
	</tbody>
</table><table class="table table-striped" width="100%">
	<thead>
		<h4>Published</h4>
		<tr>
			<th>Id</th>
			<th>Author Name</th>
			<th>Title</th>
			<th>Slug</th>
			<th>Excerpt</th>
			<th>Main Image</th>
			<th>Added</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#interviews_data}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{author_name}}</td>
			<td>{{title}}</td>
			<td>{{slug}}</td>
			<td>{{excerpt}}</td>
			<td>{{main_image}}</td>
			<td>{{entry_datetime}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<a href="#" class="reorder up btn" rel=interviews><span class="icon-arrow-up"></span></a>
				<a href="#" class="reorder down btn" rel=interviews style="float:right;"><span class="icon-arrow-down"></span></a>
			</td>
		</tr>
	{{/interviews_data}}
	</tbody>
</table>