<table class="table table-striped" width="100%">
	<thead>
		<h4 class="subheader">Unpublished</h4>
		<tr>
			{{#articles_unpublished}}
			<th>Id</th>
			<th>Added</th>
			<th>Author</th>
			<th>Title</th>
			<th>Slug</th>
			<th>Excerpt</th>
			<th>Cover Image</th>
			<th width="230">Actions</th>
			{{/articles_unpublished}}
			{{^articles_unpublished}}
			<th>
				None
			</th>
			{{/articles_unpublished}}
		</tr>
	</thead>
	<tbody>
	{{#articles_unpublished}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{entry_datetime}}</td>
			<td>{{author_name}}</td>
			<td>{{title}}</td>
			<td><a href="/articles/{{slug}}" target="_blank">{{slug}}</a></td>
			<td>{{excerpt}}</td>
			<td><a href="/images/articles/{{bg_image_header}}" target="_blank">{{bg_image_header}}</a></td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}
			</td>
		</tr>
	{{/articles_unpublished}}
	</tbody>
</table>

<table class="table table-striped" width="100%">
	<thead>
		<h4 class="subheader">Published</h4>
		<tr>
			<th>Id</th>
			<th>Added</th>
			<th>Author</th>
			<th>Title</th>
			<th>Slug</th>
			<th>Excerpt</th>
			<th>Cover Image</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#articles_data}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{entry_datetime}}</td>
			<td>{{author_name}}</td>
			<td>{{title}}</td>
			<td><a href="/articles/{{slug}}" target="_blank">{{slug}}</a></td>
			<td>{{excerpt}}</td>
			<td><a href="/images/articles/{{bg_image_header}}" target="_blank">{{bg_image_header}}</a></td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}
			</td>
		</tr>
	{{/articles_data}}
	</tbody>
</table>