
<div id="addExistingModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Attachments</h3>
  </div>
  <div class="modal-body">

    <div class="attachment">
      <ul class="thumbnails">
      {{#attachments}}
      <li class="span2" style="background:white">
        <div class="thumbnail">
          <div class="thumb" style="height:120px; overflow:hidden;">{{{preview}}}</div>
          <div class="caption">
            <center>
              <a href="#" class="btn useAttachment" data-attachment="{{id}}" data-item="{{item_id}}"><i class=" icon-check"></i></a>
            </center>
          </div>
        </div>
      </li>
      {{/attachments}}
      </ul>
    </div>



  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>