{{{view.core_head}}}
	<div class="articles-screen">
		{{{view.frontend_header}}}
		<div id="main_container" class="container-fluid">
			{{#article}}
				<div class="row">
					<div class="article-page-fix"></div>
					<div class="col-md-12 article_header_container">
						<div class="article-heading-single ">
							<div class="article-image-bg" style="background-image: url({{bg_image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;"></div>
							<div class="article-box">
								<div class="single-article-author text-center">{{date}}<br />/</br /><em style="font-style: italic">by {{author_name}}</em></div>
								<h1 class="single-article-title text-center">{{title}}</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 article_body">
					<p>{{{body}}}</p>
					</div>
				</div>
				<input type="hidden" id="article_id" value="{{id}}" />
			{{/article}}
			<div class="row">
				<div class="col-md-12">
					<div class="article-navigation">
						<div class="row">
							<div class="col-xs-3 col-md-4">
							{{#has_previous}}
							{{#article_previous}}
								<div class="row">
									<div class="col-md-1"><a href="/articles/{{slug}}" class="arrow-left"><i class="fa fa-angle-left"></i></a></div>
									<div class="col-md-11"><a href="/articles/{{slug}}" class="article-bottom-title">{{title}}</a><p class="small a_sub"><br />/<br />previous story</p></div>
								</div>
							{{/article_previous}}
							{{/has_previous}}
							{{^has_previous}}
								<div class="row"><div class="col-md-12"></div></div>
							{{/has_previous}}
							</div>
							<div class="col-xs-6 col-md-4 share-art">
								<div class="article-bottom-share text-center share">Share</div>
								<div class="row">
									<div id="article_data" class="col-md-12 text-center social-media-icon" data-slug="articles/{{article.slug}}" data-image="{{article.bg_image}}" data-title="{{article.title}}" data-desc="{{article.excerpt}}" data-url="{{domain_url}}">
										<i data-id="fb_share" class="fa fa-facebook-square social_media_share" title="Share on Facebook">
											<div class="share_box">{{facebook_data.likes}}</div>
										</i>
										<i data-id="tblr_share" class="fa fa-tumblr social_media_share" title="Share on Tumblr"></i>
										<i data-id="google_share" class="fa fa-google-plus social_media_share" title="Share on Google+">
											<div class="share_box_top">{{gplus}}</div>
										</i>
										<i data-id="stblupon_share" class="fa fa-stumbleupon social_media_share" title="Submit to Stumbleupon"></i>
										<i data-id="twitter_share" class="fa fa-twitter social_media_share" title="Share on Twitter">
											<div class="share_box_left">{{tweets}}</div>
										</i>
									</div>
								</div>
							</div>
							<div class="col-xs-3 col-md-4 text-right">
							{{#has_next}}
							{{#article_next}}
								<div class="row">
									<div class="col-md-11 text-right"><a href="/articles/{{slug}}" class="article-bottom-title">{{title}}</a><p class="small a_sub"><br />/<br />next story</p></div>
									<div class="col-md-1 text-right arrow-padding"><a href="/articles/{{slug}}" class="arrow-right"><i class="fa fa-angle-right"></i></a></div>
								</div>
							{{/article_next}}
							{{/has_next}}
							{{^has_next}}
								<div class="row"><div class="col-md-12"></div></div>
							{{/has_next}}
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- COMMENTS -->
			<div class="row">
				<div class="col-xs-12 col-md-offset-2 col-md-8 comment-section">
					{{#has_comments}}
						<h3>{{comments_count}}</h3>
						<!--<small class="comment-order">Sort by</small>-->
					{{/has_comments}}
					
					{{^has_comments}}
						{{#logged_in}}
						<small class="comment-order">// Be the first to comment on this article</small>
						{{/logged_in}}
					{{/has_comments}}
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-offset-2 col-md-8 comment-container">
					{{#has_comments}}
					{{#comments}}
					<div  id="comment_{{id}}"  class="row" style="padding: 0 15px 15px 15px;">
						<div class="comments">
							<div class="comment-user">
								<div class="row">
									<div class="col-xs-4 col-md-2">
										<div class="comment-user-image"  style="background-image: url({{user_image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center center; background-size: cover;"></div>
									</div>
									<div class="col-xs-2 col-md-1 comment-karma">
										<div class="row">
										{{#user_voted_up}}
											{{#logged_in}}
												{{#users_comment}}<div class="karma_novote">{{/users_comment}}
												{{^users_comment}}<div id="up_comment_{{id}}" class="karma-voted-up">{{/users_comment}}
											{{/logged_in}}
											
											{{^logged_in}}<div class="karma_novote">{{/logged_in}}
											<i class="fa fa-plus"></i></div>
											<input type="hidden" id="user_id" value="{{user_id}}" />
											<input type="hidden" id="comment_id" value="{{id}}" />
										{{/user_voted_up}}
										
										{{^user_voted_up}}
											{{#logged_in}}
												{{#users_comment}}<div class="karma_novote">{{/users_comment}}
												{{^users_comment}}<div id="up_comment_{{id}}" comment_id = "{{id}}" class="karma-up">{{/users_comment}}
											{{/logged_in}}
											
											{{^logged_in}}<div class="karma_novote">{{/logged_in}}
											<i class="fa fa-plus"></i></div>
											<input type="hidden" id="user_id" value="{{user_id}}" />
											<input type="hidden" id="comment_id" value="{{id}}" />
										{{/user_voted_up}}
										
										</div>
										<div class="row">
											<div id="karma_id_{{id}}" class="karma-count">{{comment_karma}}</div>
										</div>
										
										<div class="row">
										{{#user_voted_down}}
											{{#logged_in}}
												{{#users_comment}}<div class="karma_novote">{{/users_comment}}
												{{^users_comment}}<div id="down_comment_{{id}}" comment_id="{{id}}" class="karma-voted-down">{{/users_comment}}
											{{/logged_in}}
											
											{{^logged_in}}<div class="karma_novote">{{/logged_in}}
											<i class="fa fa-minus"></i></div>
											<input type="hidden" id="user_id" value="{{user_id}}" />
											<input type="hidden" id="comment_id_{{id}}" value="{{id}}" />
										{{/user_voted_down}}
										
										{{^user_voted_down}}
											{{#logged_in}}
												{{#users_comment}}<div class="karma_novote down">{{/users_comment}}
												{{^users_comment}}<div id="down_comment_{{id}}" comment_id="{{id}}" class="karma-down">{{/users_comment}}
											{{/logged_in}}
											
											{{^logged_in}}<div class="karma_novote down">{{/logged_in}}
											<i class="fa fa-minus"></i></div>
											<input type="hidden" id="user_id" value="{{user_id}}" />
											<input type="hidden" id="comment_id_{{id}}" value="{{id}}" />
										{{/user_voted_down}}
										
										</div>
									</div>
									<div class="col-xs-6 col-md-9 comment-body">
										<div class="row">
											<div class="col-md-12 comment-owner">
												<a href="/profile/{{username}}">{{fullname}}</a><span>&nbsp;/ {{entry_datetime}}</span>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 comment-content">
												<p>{{comment_body}}</p>
											</div>
										</div>
									</div>
								</div>
								
								{{#logged_in}}<div class="comment-reply"><i class="fa fa-reply"></i>&nbsp;&nbsp;<span class="expand-reply">reply</span></div>{{/logged_in}}
							</div>
						</div>
						
						<div class="row comment-reply-box-row">
							<div class="col-md-12 comment-reply-box">
								<textarea class="reply-box-ta" name="comment_reply"></textarea>
							</div>
							<div class="reply-box-ta-links">
								<span class="cancel-button">Cancel</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="{{id}}" class="btn reply-submit">reply</button>
								<input type="hidden" id="user_id" value="{{user_id}}" />
							</div>
						</div>
					</div>
					
					{{#replies}}
					<div id="comment_{{id}}" class="row" style="padding: 0 15px 15px 15px;">
					<div class="col-md-offset-1 col-md-11" style="padding-right: 0;">
						<div class="comments">
							<div class="comment-user">
								<div class="row">
									<div class="col-xs-4 col-md-2">
										<div class="comment-user-image"  style="background-image: url({{user_image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center center; background-size: cover;"></div>
									</div>
									<div class="col-xs-2 col-md-1 comment-karma">
										<div class="row">
											{{#user_voted_up_reply}}
												<div id="up_comment_{{id}}" comment_id = "{{id}}" class="karma_novote karma-voted-up">
												<i class="fa fa-plus"></i></div>
											{{/user_voted_up_reply}}
											
											{{^user_voted_up_reply}}
												{{#logged_in}}
													{{#users_reply}}<div  id="up_comment_{{id}}" class="karma_novote">{{/users_reply}}
													{{^users_reply}}<div id="up_comment_{{id}}"  comment_id = "{{id}}" class="karma-up">{{/users_reply}}
												{{/logged_in}}
												{{^logged_in}}<div class="karma_novote">{{/logged_in}}
												<i class="fa fa-plus"></i></div>
												<input type="hidden" id="user_id" value="{{user_id}}" />
												<input type="hidden" id="comment_id_{{id}}" value="{{id}}" />
											{{/user_voted_up_reply}}

										</div>
										<div class="row">
											<div id="karma_id_{{id}}" class="karma-count">{{comment_karma}}</div>
										</div>
										<div id="{{id}}" class="row">
											{{#user_voted_down_reply}}
												<div id="down_comment_{{id}}" comment_id = "{{id}}" class="karma_novote karma-voted-down">
												<i class="fa fa-minus"></i></div>
											{{/user_voted_down_reply}}
											
											{{^user_voted_down_reply}}
												{{#logged_in}}
													{{#users_reply}}<div id="down_comment_{{id}}" class="karma_novote down">{{/users_reply}}
													{{^users_reply}}<div id="down_comment_{{id}}" comment_id="{{id}}" class="karma-down">{{/users_reply}}
												{{/logged_in}}
												{{^logged_in}}<div class="karma_novote down">{{/logged_in}}
												<i class="fa fa-minus"></i></div>
												<input type="hidden" id="user_id" value="{{user_id}}" />
												<input type="hidden" id="comment_id_{{id}}" value="{{id}}" />
											{{/user_voted_down_reply}}
										</div>
									</div>
									<div class="col-xs-6 col-md-9 comment-body">
										<div class="row">
											<div class="col-md-12 comment-owner">
												<a href="/profile/{{username}}">{{fullname}}</a><span>&nbsp;/ {{entry_datetime}}</span>
												&nbsp;&nbsp;
												<i class="replied_to fa fa-reply"></i>&nbsp;
												<span class="replied_to">to 
													{{#sub_replied_to}}<a href="/profile/{{child_username}}">{{child_user}}</a>{{/sub_replied_to}}
													{{^sub_replied_to}}<a href="/profile/{{parent_username}}">{{parent_user}}</a>{{/sub_replied_to}}
												</span>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 comment-content">
												<p>{{comment_body}}</p>
											</div>
										</div>
									</div>
								</div>
								
								{{#logged_in}}<div class="comment-reply"><i class="fa fa-reply"></i>&nbsp;&nbsp;<span class="expand-reply">reply</span></div>{{/logged_in}}
							</div>
						</div>
						
						
						<div  class="row comment-reply-box-row">
							<div class="col-md-12 comment-reply-box">
								<textarea class="reply-box-ta" name="comment_reply"></textarea>
							</div>
							<div class="reply-box-ta-links">
								<span class="cancel-button">Cancel</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button data-reply="{{id}}" data-userid="{{user_id}}" data-fullname="{{fullname}}" data-parent="{{replied_to}}" class="btn sub-reply-submit">reply</button>
							</div>
						</div>
					</div>
					</div>
					{{/replies}}
					
					
					{{/comments}}
					{{/has_comments}}
					<div id="the_text_box" class="row">
						<div class="col-md-12 comment-reply-post">
							{{#logged_in}}
							<form method="POST">
								<textarea class="comment-textarea" name="comment">Comment on the article...</textarea>
								<div class="row">
									<div class="col-md-offset-10 col-md-2 text-right">
										<button type="submit" name="submit_comment" class="btn comment-submit">Post</button>
									</div>
								</div>
							</form>
							{{/logged_in}}
							{{^logged_in}}
							<small class="comment-order">// You must be logged in to comment</small>
							{{/logged_in}}
						</div>
					</div>
				</div>
			</div>
			<div class="article-page-fix"></div>
		</div>
		{{{view.frontend_footer}}}
	</div>
	<div id="fb-root"></div>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{article.title}}" />
	<meta property="og:image" content="{{domain_url}}{{article.bg_image}}" />
	<meta property="og:description" content="{{article.excerpt}}" />
	
	<script>
	// COMMENTS
	$(".expand-reply").live("click", function() {
		$(this).parent().parent().parent().next(".comment-reply-box-row").css("display", "block");
	});
	
	$(".cancel-button").live("click", function() {
		$(this).parent().parent().css("display", "none");
	});
	
	$(".reply-submit").live("click", function() {
		var article_id = $('#article_id').val(); 
		var user_id = $(this).next().val();
		var comment_body = $(this).parent().prev().children().val();
		var comment_id = $(this).attr('id');
		var close = $(this).parent().parent();
		var url = "/ajax/article";
		var data = { article_id: article_id, comment_body: comment_body, comment_id: comment_id, user_id: user_id, mode: 'reply' };
		
		if (!$.trim(comment_body)) {
			alert("cannot be empty");
		} else {
			jQuery.post(url, data, function(data) {
				// Display new reply
				var comment_info = $.parseJSON(data);
				var points = $(".user_points").text();
				$(".user_points").text("+" + comment_info.user_points + " points");
				
				$('#comment_' + comment_id).after('<div class="row" style="padding: 0 15px 15px 15px;"><div class="col-md-offset-1 col-md-11" style="padding-right: 0;"><div class="comments"><div class="comment-user"><div class="row"><div class="col-md-2"><div class="comment-user-image"  style="background-image: url(' + comment_info.user_image + '); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center center; background-size: cover;"></div></div><div class="col-md-1 comment-karma"><div class="row"><div class="karma-up karma_novote"><i class="fa fa-plus"></i></div></div><div class="row"><div class="karma-count">' + comment_info.comment_karma + '</div></div><div class="row"><div class="karma-down karma_novote"><i class="fa fa-minus"></i></div></div></div><div class="col-md-9 comment-body"><div class="row"><div class="col-md-12 comment-owner"><a href="/profile/' + comment_info.username + '">' + comment_info.user_fullname + '</a><span>&nbsp;/ ' + comment_info.entry_datetime + '</span></div></div><div class="row"><div class="col-md-12 comment-content"><p>' + comment_info.comment_body + '</p></div></div></div></div></div></div></div>');
				
				$(close).css("display", "none");
			});
		}
	});
	
	$('.sub-reply-submit').live('click', function() {
		var article_id 				= $('#article_id').val();
		var user_id					= $(this).data("userid"); // Author's ID
		var fullname				= $(this).data("fullname"); // Author's full name
		var parent_comment	= $(this).data("parent");
		var comment_id			= $(this).data("reply");
		var comment_body 	= $(this).parent().prev().children().val();
		var close 					= $(this).parent().parent();
		var url 							= "/ajax/article";
		
		var data = { article_id: article_id, comment_body: comment_body, comment_id: comment_id, user_id: user_id, parent_comment: parent_comment, fullname: fullname, mode: 'reply' };
		if (!$.trim(comment_body)) {
			alert("cannot be empty");
		} else {
			jQuery.post(url, data, function(data) {
				var comment_info = $.parseJSON(data);
				var points = $(".user_points").text
				$(".user_points").text("+" + comment_info.user_points + " points");
				
				$('#the_text_box').before('<div class="row" style="padding: 0 15px 15px 15px;"><div class="col-md-offset-1 col-md-11" style="padding-right: 0;"><div class="comments"><div class="comment-user"><div class="row"><div class="col-md-2"><div class="comment-user-image"  style="background-image: url(' + comment_info.user_image + '); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center center; background-size: cover;"></div></div><div class="col-md-1 comment-karma"><div class="row"><div class="karma-up karma_novote"><i class="fa fa-plus"></i></div></div><div class="row"><div class="karma-count">' + comment_info.comment_karma + '</div></div><div class="row"><div class="karma-down karma_novote"><i class="fa fa-minus"></i></div></div></div><div class="col-md-9 comment-body"><div class="row"><div class="col-md-12 comment-owner"><a href="/profile/' + comment_info.username + '">' + comment_info.user_fullname + '</a><span>&nbsp;/ ' + comment_info.entry_datetime + '</span>&nbsp;&nbsp;<span class="replied_to"><i class="fa fa-reply"></i>&nbsp;&nbsp;&nbsp;&nbsp;to ' + comment_info.recipients_name + '</span></div></div><div class="row"><div class="col-md-12 comment-content"><p>' + comment_info.comment_body + '</p></div></div></div></div></div></div></div>');
				
				$(close).css("display", "none");
				
				console.log(data);
			});
		}
	});
	
	// Karma
	$(".karma-up").live('click', function() {
		var article_id = $('#article_id').val();
		var comment_id = $(this).attr("comment_id");
		var user_id = $(this).next().val();
		
		var url = "/ajax/article";
		var data = { article_id: article_id, comment_id: comment_id, user_id: user_id, type: 1, mode: 'karma' };
         
        jQuery.post(url, data, function(response) {
			$("#karma_id_" + comment_id).text(response);
			
			if ($("#down_comment_" + comment_id).hasClass("karma-voted-down")) {
				$("#down_comment_" + comment_id).removeClass("karma-voted-down");
				$("#down_comment_" + comment_id).removeClass("karma_novote");
				$("#down_comment_" + comment_id).addClass("karma-down");
			}
			
			$("#up_comment_" + comment_id).removeClass("karma-up");
			$("#up_comment_" + comment_id).addClass("karma_novote");
			$("#up_comment_" + comment_id).addClass("karma-voted-up");
        });
		
	});
	
	$(".karma-down").live('click', function() {
		var article_id = $('#article_id').val();
		var comment_id = $(this).attr("comment_id");
		var user_id = $(this).next().val();
		
		var url = "/ajax/article";
		var data = { article_id: article_id, comment_id: comment_id, user_id: user_id, type: -1, mode: 'karma' };
		
        jQuery.post(url, data, function(response) {
			$("#karma_id_" + comment_id).text(response);
			
			if ($("#up_comment_" + comment_id).hasClass("karma-voted-up")) {
				$("#up_comment_" + comment_id).removeClass("karma-voted-up");
				$("#up_comment_" + comment_id).removeClass("karma_novote");
				$("#up_comment_" + comment_id).addClass("karma-up");
			}
			
			$("#down_comment_" + comment_id).removeClass("karma-down");
			$("#down_comment_" + comment_id).addClass("karma_novote");
			$("#down_comment_" + comment_id).addClass("karma-voted-down");
        });
	});
	</script>