<!-- COMMENTS -->
	<div class="row">
		<div class="col-xs-12 col-md-offset-2 col-md-8 comment-section">
			{{#has_comments}}
				<h3>{{comments_count}}</h3>
			{{/has_comments}}
			
			{{^has_comments}}
				{{#logged_in}}
				<small class="comment-order">// Be the first to comment on this article</small>
				{{/logged_in}}
			{{/has_comments}}
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 col-md-offset-2 col-md-8 comment-container">
			{{#has_comments}}
			{{#comments}}
			<div  id="comment_{{id}}"  class="row" style="padding: 0 15px 15px 15px;">
				<div class="comments">
					<div class="comment-user">
						<div class="row">
							<div class="col-xs-4 col-md-2">
								<div class="comment-user-image"  style="background-image: url({{user_image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center center; background-size: cover;"></div>
							</div>
							<div class="col-xs-2 col-md-1 comment-karma">
								<div class="row">
								{{#user_voted_up}}
									{{#logged_in}}
										{{#users_comment}}<div class="karma_novote">{{/users_comment}}
										{{^users_comment}}<div id="up_comment_{{id}}" class="karma-voted-up">{{/users_comment}}
									{{/logged_in}}
									
									{{^logged_in}}<div class="karma_novote">{{/logged_in}}
									<i class="fa fa-plus"></i></div>
									<input type="hidden" id="user_id" value="{{user_id}}" />
									<input type="hidden" id="comment_id" value="{{id}}" />
								{{/user_voted_up}}
								
								{{^user_voted_up}}
									{{#logged_in}}
										{{#users_comment}}<div class="karma_novote">{{/users_comment}}
										{{^users_comment}}<div id="up_comment_{{id}}" data-posttype="{{post_type}}" comment_id = "{{id}}" class="karma-up">{{/users_comment}}
									{{/logged_in}}
									
									{{^logged_in}}<div class="karma_novote">{{/logged_in}}
									<i class="fa fa-plus"></i></div>
									<input type="hidden" id="user_id" value="{{user_id}}" />
									<input type="hidden" id="comment_id" value="{{id}}" />
								{{/user_voted_up}}
								
								</div>
								<div class="row">
									<div id="karma_id_{{id}}" class="karma-count">{{comment_karma}}</div>
								</div>
								
								<div class="row">
								{{#user_voted_down}}
									{{#logged_in}}
										{{#users_comment}}<div class="karma_novote">{{/users_comment}}
										{{^users_comment}}<div id="down_comment_{{id}}" comment_id="{{id}}" class="karma-voted-down">{{/users_comment}}
									{{/logged_in}}
									
									{{^logged_in}}<div class="karma_novote">{{/logged_in}}
									<i class="fa fa-minus"></i></div>
									<input type="hidden" id="user_id" value="{{user_id}}" />
									<input type="hidden" id="comment_id_{{id}}" value="{{id}}" />
								{{/user_voted_down}}
								
								{{^user_voted_down}}
									{{#logged_in}}
										{{#users_comment}}<div class="karma_novote down">{{/users_comment}}
										{{^users_comment}}<div id="down_comment_{{id}}" data-posttype="{{post_type}}" comment_id="{{id}}" class="karma-down">{{/users_comment}}
									{{/logged_in}}
									
									{{^logged_in}}<div class="karma_novote down">{{/logged_in}}
									<i class="fa fa-minus"></i></div>
									<input type="hidden" id="user_id" value="{{user_id}}" />
									<input type="hidden" id="comment_id_{{id}}" value="{{id}}" />
								{{/user_voted_down}}
								
								</div>
							</div>
							<div class="col-xs-6 col-md-9 comment-body">
								<div class="row">
									<div class="col-md-12 comment-owner">
										<a href="/profile/{{username}}">{{fullname}}</a><span>&nbsp;/ {{entry_datetime}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 comment-content">
										<p>{{comment_body}}</p>
									</div>
								</div>
							</div>
						</div>
						
						{{#logged_in}}<div class="comment-reply"><i class="fa fa-reply"></i>&nbsp;&nbsp;<span class="expand-reply">reply</span></div>{{/logged_in}}
					</div>
				</div>
				
				<div class="row comment-reply-box-row">
					<div class="col-md-12 comment-reply-box">
						<textarea class="reply-box-ta" name="comment_reply"></textarea>
					</div>
					<div class="reply-box-ta-links">
						<span class="cancel-button">Cancel</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="{{id}}" data-posttype="{{post_type}}" class="btn reply-submit">reply</button>
						<input type="hidden" id="user_id" value="{{user_id}}" />
					</div>
				</div>
			</div>
			
			{{#replies}}
			<div id="comment_{{id}}" class="row" style="padding: 0 15px 15px 15px;">
			<div class="col-md-offset-1 col-md-11" style="padding-right: 0;">
				<div class="comments">
					<div class="comment-user">
						<div class="row">
							<div class="col-xs-4 col-md-2">
								<div class="comment-user-image"  style="background-image: url({{user_image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center center; background-size: cover;"></div>
							</div>
							<div class="col-xs-2 col-md-1 comment-karma">
								<div class="row">
									{{#user_voted_up_reply}}
										<div id="up_comment_{{id}}" comment_id = "{{id}}" class="karma_novote karma-voted-up">
										<i class="fa fa-plus"></i></div>
									{{/user_voted_up_reply}}
									
									{{^user_voted_up_reply}}
										{{#logged_in}}
											{{#users_reply}}<div  id="up_comment_{{id}}" class="karma_novote">{{/users_reply}}
											{{^users_reply}}<div id="up_comment_{{id}}" data-posttype="{{post_type}}" comment_id = "{{id}}" class="karma-up">{{/users_reply}}
										{{/logged_in}}
										{{^logged_in}}<div class="karma_novote">{{/logged_in}}
										<i class="fa fa-plus"></i></div>
										<input type="hidden" id="user_id" value="{{user_id}}" />
										<input type="hidden" id="comment_id_{{id}}" value="{{id}}" />
									{{/user_voted_up_reply}}

								</div>
								<div class="row">
									<div id="karma_id_{{id}}" class="karma-count">{{comment_karma}}</div>
								</div>
								<div id="{{id}}" class="row">
									{{#user_voted_down_reply}}
										<div id="down_comment_{{id}}" comment_id = "{{id}}" class="karma_novote karma-voted-down">
										<i class="fa fa-minus"></i></div>
									{{/user_voted_down_reply}}
									
									{{^user_voted_down_reply}}
										{{#logged_in}}
											{{#users_reply}}<div id="down_comment_{{id}}" class="karma_novote down">{{/users_reply}}
											{{^users_reply}}<div id="down_comment_{{id}}" data-posttype="{{post_type}}" comment_id="{{id}}" class="karma-down">{{/users_reply}}
										{{/logged_in}}
										{{^logged_in}}<div class="karma_novote down">{{/logged_in}}
										<i class="fa fa-minus"></i></div>
										<input type="hidden" id="user_id" value="{{user_id}}" />
										<input type="hidden" id="comment_id_{{id}}" value="{{id}}" />
									{{/user_voted_down_reply}}
								</div>
							</div>
							<div class="col-xs-6 col-md-9 comment-body">
								<div class="row">
									<div class="col-md-12 comment-owner">
										<a href="/profile/{{username}}">{{fullname}}</a><span>&nbsp;/ {{entry_datetime}}</span>
										&nbsp;&nbsp;
										<i class="replied_to fa fa-reply"></i>&nbsp;
										<span class="replied_to">to 
											{{#sub_replied_to}}<a href="/profile/{{child_username}}">{{child_user}}</a>{{/sub_replied_to}}
											{{^sub_replied_to}}<a href="/profile/{{parent_username}}">{{parent_user}}</a>{{/sub_replied_to}}
										</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 comment-content">
										<p>{{comment_body}}</p>
									</div>
								</div>
							</div>
						</div>
						
						{{#logged_in}}<div class="comment-reply"><i class="fa fa-reply"></i>&nbsp;&nbsp;<span class="expand-reply">reply</span></div>{{/logged_in}}
					</div>
				</div>
				
				
				<div  class="row comment-reply-box-row">
					<div class="col-md-12 comment-reply-box">
						<textarea class="reply-box-ta" name="comment_reply"></textarea>
					</div>
					<div class="reply-box-ta-links">
						<span class="cancel-button">Cancel</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button data-reply="{{id}}" data-userid="{{user_id}}" data-fullname="{{fullname}}" data-parent="{{replied_to}}" data-posttype="{{post_type}}" class="btn sub-reply-submit">reply</button>
					</div>
				</div>
			</div>
			</div>
			{{/replies}}
			
			
			{{/comments}}
			{{/has_comments}}
			<div id="the_text_box" class="row">
				<div class="col-md-12 comment-reply-post">
					{{#logged_in}}
					<form method="POST">
						<textarea class="comment-textarea" name="comment">Comment on the article...</textarea>
						<div class="row">
							<div class="col-md-offset-10 col-md-2 text-right">
								<button type="submit" name="submit_comment" class="btn comment-submit">Post</button>
							</div>
						</div>
					</form>
					{{/logged_in}}
					{{^logged_in}}
					<small class="comment-order">// You must be logged in to comment</small>
					{{/logged_in}}
				</div>
			</div>
		</div>
	</div>