{{{view.core_head}}}
<div class="articles-screen">
	{{{view.frontend_header}}}
	<div id="main_container" class="container-fluid">
		<div class="article-page-fix"></div>
		<div class="row fw_outer_all">
		
			<div class="col-md-8 fw_outer_left">
				
				<div class="fw_cover" style="background-image: url(/images/footwear/{{cover}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;"></div>
				
				<div class="row">
					<div id="fw_header" class="col-md-12">
						<div class="fw_header"></div>
						<div class="fw_header_text">
							<h1>{{brand}}</h1>
							<p>{{name}}</p>
						</div>
						<div class="fw_price">
							<p>{{price}}<span> cad</span></p>
						</div>
						<div class="minimize">_</div>
					</div>
				</div>
				<div class="row fw_color_container">
					<div class="col-md-12">
						{{#colors}}
							{{#white}}
								<div class="fw_color" style="background-color: {{hex}}; border: 1px solid #000;" title="{{name}}"></div>
							{{/white}}
							{{^white}}
								<div class="fw_color" style="background-color: {{hex}}" title="{{name}}"></div>
							{{/white}}
						{{/colors}}
					</div>
				</div>
				<div class="row fw_images_container">
					<div class="col-md-12">
						{{#images}}
							<img class="fw_image_thumb" src="/images/footwear/{{image}}" />
						{{/images}}
					</div>
				</div>
				
			</div>
			<div class="col-md-4 fw_outer_right">
				<div class="row fw_header_right">
					<div class="fw_p row">
						<div class="col-md-4">
							<p>release date//</p>
						</div>
						<div class="col-md-6">
							<p>average rating//</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<p>{{release_date}}</p>
						</div>
						<div class="col-md-6">
							<p style="font-size: 18px; line-height: 18px;">{{rating}}/10</p>
						</div>
					</div>
					<div class="fw_p row">
						<div class="col-md-4">
							<p>category//</p>
						</div>
						<div class="col-md-6">
							<p>tags//</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<p>{{release_date}}</p>
						</div>
						<div class="col-md-6">
							<p>{{category}}</p>
						</div>
					</div>
				</div>
				<div class="row fw_body_right">
					<div class="fw_body_border">
						<h4>Description</h4>
					</div>
					<p>{{{description}}}</p>
					<div class="fw_body_border">
						<h4>About {{brand}}</h4>
					</div>
					<p>{{brand_description}}</p>
					<a href="{{link}}" target="_blank"><div class="buy_button">Buy Now<span>via {{store}}</span></div></a>
				</div>
			</div>
			
		</div>
		<div class="fw_end_page"></div>
	</div>
{{{view.frontend_footer}}}
</div>

<style>

	@media only screen and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .fw_outer_all, .fw_outer_left {
			min-height: 594px;
		}
		
		::i-block-chrome, .fw_cover {
			height: 490px;
		}
	}
	
	.fw_body_right a {
		float: right;
	}
	
	.fw_body_right a:hover {
		text-decoration: none;
	}
	
	.buy_button {
		color: #FFFFFF;
		text-transform: uppercase;
		background-color: #EB1C39;
		font-size: 16px;
		width: 235px;
		padding: 10px;
		text-align: center;
	}
	
	.buy_button span {
		margin-left: 5px;
		color: #000;
		font-size: 10px;
	}
	
	.fw_end_page {
		height: 15px;
	}
	
	.fw_color_container {
		position: absolute;
		bottom: 68px;
	}
	
	.fw_color {
		width: 30px;
		height: 30px;
		margin-right: 10px;
		float: left;
	}
	
	.fw_images_container {
		position: absolute;
		bottom: 0;
	}
	
	.fw_image_thumb {
		width: 60px;
		height: 60px;
		float: left;
		margin-right: 15px;
	}
	
	.fw_outer_all {
		min-height: 91vh;
		font-family: rigby;
		padding-right: 15px;
	}
	
	.fw_outer_left {
		position: relative;
		padding-right: 0;
		min-height: 91vh;
	}
	
	#fw_header {
		height: 200px;
		position: relative;
		-webkit-transition: .3s ease-in;
	}
	
	.fw_header {
		height: 100%;
		background-color: #EB1C39;
		opacity: 0.9;
	}
	
	.fw_header_text, .fw_price {
		color: #FFFFFF;
		position: absolute;
		bottom: 0px;
		text-transform: uppercase;
		padding-left: 25px;
		letter-spacing: 1px;
	}
	
	.fw_header_text h1 {
		font-size: 60px;
		margin-bottom: 0;
	}
	
	.fw_price {
		right: 0;
		padding-left: 0;
		padding-right: 35px;
		font-size: 25px;
	}
	
	.fw_price span {
		font-size: 14px;
	}
	
	.fw_cover {
		height: 75vh;
		position: absolute;
		top: 0;
	}
	
	.fw_outer_right {
		
	}
	
	.fw_header_right {
		background-color: #252A2A;
		height: 200px;
		color: #FFFFFF;
		padding-left: 15px;
		padding-top: 75px;
	}
	
	.fw_p {
		font-style: italic;
		color: #525757;
	}
	
	.fw_body_right {
	
	}
	
	.fw_body_border {
		border-bottom: 1px solid #000;
	}
	
	.fw_body_right h4 {
		text-transform: uppercase;
		font-size: 16px;
		color: #535858;
		margin-bottom: 2px;
		letter-spacing: 1px;
	}
	
	.minimize {
		position: absolute;
		right: 0;
		padding-left: 0;
		padding-right: 35px;
		top: 10px;
		color: #FFFFFF;
		cursor: pointer;
	}
</style>

<script>
	$(document).ready(function() {
		var header_width = $("#fw_header").width();
		$(".fw_cover").css("width", header_width);
		$(".contrast").css("width", header_width);
		
		$('.fw_image_thumb').hover(function() {
			$('.fw_cover').css('background-image', 'url("' + $(this).attr('src') + '")');
		});
		
		$(".minimize").toggle(function() {
				$("#fw_header").css("height", "37px");
				$(".fw_price").hide();
			}, function() {
				$("#fw_header").css("height", "200px");
				$(".fw_price").show();
			});
			
	});
	
	$(window).resize(function(){
		var header_width = $("#fw_header").width();
		$(".fw_cover").css("width", header_width);
		$(".contrast").css("width", header_width);
	});
</script>