<footer class="footer">
	<div class="container-fluid">
		<div class="row hidden-xs">
			<div class="col-xs-12 col-md-offset-2 col-md-2 footer-links">
				<ul>
					{{#pages}}
						<li><a href="/page/{{slug}}">{{title}}</a></li>
					{{/pages}}
				</ul>
			</div>
			<div class="col-xs-12 col-md-4 text-center">
				<ul class="social-media-links-footer">
					<li><a href="{{social_links.facebook}}" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
					<li><a href="{{social_links.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="{{social_links.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
					<li><a href="{{social_links.tumblr}}" target="_blank"><i class="fa fa-tumblr"></i></a></li>
					<li><a href="{{social_links.youtube}}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
				</ul>
				<img class="footer-logo" src="/images/fm-primarytrans-32.png" />
			</div>
			<div class="col-xs-12 col-s-12 col-md-offset-1 col-md-3 footer-links">
				<ul class="footer-link-2">
					{{#pages2}}
						<li><a href="/page/{{slug}}">{{title}}</a></li>
					{{/pages2}}
				</ul>
			</div>
		</div>
		<div class="row visible-xs">
			<div class="col-xs-12 text-center">
				<ul class="social-media-links-footer">
					<li><a href="{{social_links.facebook}}" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
					<li><a href="{{social_links.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="{{social_links.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
					<li><a href="{{social_links.tumblr}}" target="_blank"><i class="fa fa-tumblr"></i></a></li>
					<li><a href="{{social_links.youtube}}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
				</ul>
				<img class="footer-logo" src="/images/fm-primarytrans-32.png" />
			</div>
		</div>
		<div class="row visible-xs">
			<div class="col-xs-12 col-md-offset-2 col-md-2 footer-links">
				<ul style="text-transform:uppercase">
					{{#pages}}
						<li><a href="/page/{{slug}}">{{title}}</a></li>
					{{/pages}}
					{{#pages2}}
						<li><a href="/page/{{slug}}">{{title}}</a></li>
					{{/pages2}}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-s-12 col-md-12 text-center">
				<small class="all_rights">2014 FoundMissing – All rights reserved.<small>
			</div>
		</div>
	</div>
</footer>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-53625002-1', 'auto');
	ga('send', 'pageview');

</script>