{{{view.core_head}}}
	<div class="articles-screen">
		{{{view.frontend_header}}}
		<div id="main_container" class="container-fluid">
			<div class="article-page-fix"></div>
			<div class="row album_outer">
				{{#album}}
				<div class="col-md-3 album_box">
					<div id="the_album" class="album_box_inner" data-toggle="modal" data-target="#album_modal_{{id}}"  data-local="#album_carousel_{{id}}">
						<div class="album-image-bg" style="background-image: url({{cover}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;"><div class="item-hover"></div></div>
					</div>
					<div class="gallery_author">{{date}}<br />/<br />by <span style="font-style: italic">{{author}}</span></div>		
					<div class="gallery_title"><h1>{{title}}</h1></div>					
					<div class="gallery_description">{{description}}</div>					
					
					<div id="album_carousel_{{id}}" class="carousel slide" data-ride="carousel" data-interval="false" style="display: none">
						<!-- Indicators -->
						<ol class="carousel-indicators">
						{{#image}}
							{{#first}}<li data-target="#album_carousel_{{id}}" data-slide-to="{{count}}" class="active"></li>{{/first}}
							{{^first}}<li data-target="#album_carousel_{{id}}" data-slide-to="{{count}}"</li>{{/first}}
						{{/image}}
						</ol>

					  <!-- Wrapper for slides -->
					 <div class="carousel-inner" style="background-color: #000">
					 {{#image}}
						{{#first}}<div class="item active">{{/first}}
						{{^first}}<div class="item">{{/first}}
							<!--<div class="view_album_image" style="background-image: url({{name}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;"></div>-->
							<img class="view_album_image_full" src="{{name}}" />
						  
							<div class="image-data-background"></div>
							<div class="carousel-caption">
								<h3>{{title}}{{#image_title}} - {{.}}{{/image_title}}</h3>
								<p>{{#caption}}{{.}}{{/caption}}{{^caption}}{{description}}{{/caption}}</p>
							</div>
						</div>
					{{/image}}
					 </div>

					  <!-- Controls -->
					  <a class="left carousel-control" href="#album_carousel_{{id}}" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					  </a>
					  <a class="right carousel-control" href="#album_carousel_{{id}}" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					  </a>
					</div>

					
					
					<div class="modal fade" id="album_modal_{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog view_album_inner">
						<div class="modal-content view_album_content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<button type="button" data-modal="#album_modal_{{id}}" data-carousel="#album_carousel_{{id}}" class="hidden-xs fullscreen glyphicon glyphicon-fullscreen"></button>
							</div>
							<div class="modal-body view_album_body">
							
							</div>
						</div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->


				</div>
				{{/album}}
			</div>
		</div>
	
{{{view.frontend_footer}}}
</div>