{{{view.core_head}}}
<style>
.learn_button, #submit {
	padding: 10px 15px;
	text-transform: uppercase;
	border: 2px #FFFFFF solid;
	width: 250px;
	font-size: 21px;
    margin: 0 auto;
	margin-top: 20px;
	transition: .5s;
}

.learn_button:hover, #submit:hover {
	cursor: pointer;
	background-color: #EB1C39;
}
</style>
<div class="register-screen">
	<div class="bg-overlay-darken"></div>
{{{view.frontend_header}}}
	<div id="main_container" class="container-fluid">
		<div class="article-page-fix"></div>
		<div class="row" style="padding-top: 25px; height: 95vh; z-index: 999; position: relative;">
			<div class="col-md-offset-2 col-md-8" style="height: 100%; z-index: 999; position: inherit;">
				<div class="row">
					<div class="col-md-12 text-center">
						<img src="/images/fm-redtrans-128.png" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 class="fm_text" style="margin-top: -10px;">foundmissing</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-10 text-center" style="padding-top: 20px; padding-bottom: 20px;">
						<p>As you find something, the ravenous cycle of fashion leaves us wanting more. Our collections grow but every piece inspires something new, that one thing missing to make your collection complete. Footwear in general is fragmented and displayed across the web in such a way that is is difficult for one to be able to search for a specific hard to find shoe, whether they would like to find information on the product or purchase it. Although, we are not an online store, it our duty to direct you to the information and reach of purchase.</p>
						
						<p>FoundMissing solves the search/hunting problem by working closely with selected brands on providing the newest detailed product information that is specifically catered to their preferences. FoundMissing exists to fill the void on allowing viewers to express their opinions on select shoes and provide an ease of access to purchasing the end product.</p>
						
						<p>As a FoundMissing Founder you receive access to the following:
							<ul>
							<li>Special Events Within North America</li>
							<li>Social Platform & Editorial Features</li>
							<li>Collaborative Initiatives </li>
							<li>Release Raffles </li>
							</ul>
						</p>
						<div id="click_form" class="learn_button" style="margin-top: 30px">Get Started</div>
					</div>
				</div>
			</div>
		</div>
		<div id="founder_form" class="row" style="height: 100vh; z-index: 999; position: relative; color: #000;">
			<div class="col-md-offset-4 col-md-4" style="height: 100%; z-index: 999; position: inherit;">
				<div class="row">
					<div class="col-md-12 text-center" style="padding-top: 20px; padding-bottom: 20px;">
						<h1 class="fm_text" style="font-size: 21px;">#FMFOUNDER Community Application</h1>
					</div>
				</div>
				<form>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="first_name" placeholder="First Name">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="nick_name" placeholder="Nick Name">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="last_name" placeholder="Last Name">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="email" class="form-control" id="email" placeholder="What is your primary e-mail?">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="city" placeholder="What city are you from?">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control">
									<option value="" disabled selected>So what are you into?</option>
									<option value="1">Blogging</option>
									<option value="2">Photography</option>
									<option value="3">Influencer</option>
									<option value="4">Video</option>
									<option value="5">Creative Direction</option>
									<option value="6">Design</option>
									<option value="7">Music</option>
									<option value="8">Fashion</option>
									<option value="9">Fitness</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="website" placeholder="What is your website link or portfolio?">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="social_media" placeholder="Social Media Accounts?">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="projects" placeholder="If you have a great project, where can we see it?">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<button id="submit" type="submit">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{{view.frontend_footer}}}
</div>