<nav id="top_bar" class="transparent_bg navbar" role="navigation">
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-s-3 col-xs-3">
				<div class="navbar-header">
				   <a class="navbar-brand" href="/"><img src="/images/fm-primarytrans-32.png" /></a>
				</div>
			</div>
			
			
			<div class="col-s-7 col-md-7">
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<div id="mobile_search" class="row"><div class="mobile_search_inner"><form class="navbar-form" role="search" action="/listing" method="GET"><input class="mobile_search_box" type="text" name="search" placeholder="search..." /></form></div></div>
					<ul class="nav navbar-nav">
						<!--{{#logged_in}}
							<li id="mobile_item"><a href="/account/me">Account</a></li>
						{{/logged_in}}-->
						<li class="hidden-xs"><a id="footwear">Footwear</a></li>
						<!--<li class="hidden-sm hidden-md hidden-lg"><a href="/">Footwear</a></li>-->
						<li><a href="/journal">Journal</a></li>
						<li><a href="/articles">Articles</a></li>
						<li><a href="/reviews">Reviews</a></li>
						<!--<li><a href="/interviews">Interviews</a></li>
						<li><a href="/">Collaborative</a></li>-->
						<li><a href="/founders">founders</a></li>
						<!--{{^logged_in}}
							<li id="mobile_item"><a href="/account/login">Log In</a></li>
						{{/logged_in}}
						{{#logged_in}}
							<li id="mobile_item"><a href="/account/logout">Log Out</a></li>
						{{/logged_in}}-->
					</ul>
				</div>
			</div>
			<div class="col-md-1 hidden-sm hidden-xs">
				<form class="navbar-form" role="search" action="/listing" method="GET">
					<div class="divider-vertical"><label for="s" id="s-label"><span class="glyphicon glyphicon-search"></span></label></div>
					<input type="text" id="s" name="search" placeholder="search..." />
				</form>
			</div>
			<div class="col-md-2 hidden-sm hidden-xs">
				<!--<div class="row" style="padding-right: 15px;">
					<div class="col-md-8 user_info" style="padding-left: 0">
						{{#logged_in}}
						<input type="hidden" id="logged_user" value="{{logged_in_user}}" />
						<p class="user_name"><a href="/account/me">{{user_data.fullname}}</a></p>
						<p class="user_points">{{user_data.karma}} Points</p>
						{{/logged_in}}
						{{^logged_in}}
							<ul class="list-inline text-center custom_nav">
								<li><a href="/account/login">Log In</a></li>
								<li><a href="/account/register">Sign Up</a></li>
							</ul>
						{{/logged_in}}
					</div>
					{{#logged_in}}
					<div class="col-md-4" style="padding-left: 0;">
						{{#view_page}}
							<div class="user_image" style="background-image: url({{user_data.image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center bottom; background-size: cover;">
						{{/view_page}}
						{{^view_page}}
							<div id="image_menu" class="user_image" style="background-image: url({{user_data.image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center bottom; background-size: cover;">
						{{/view_page}}
							{{#has_notification}}
							<div class="notifications" data-notifyid="{{notify_ids}}">
							<div class="image_notification"></div>
							<div class="image_notification_count">{{notification_count}}</div>
							</div>
							{{/has_notification}}
						</div>
					</div>
					{{/logged_in}}
				</div>-->
				
				<div id="side-menu" class="deactive container-fluid">
						<div class="user-navigation">
							<div class="user-tabs">
								<ul class="nav nav-pills nav-justified">
									 <li class="active"><a href="#user-messages" data-toggle="tab"><i class="fm_icon side_icon">1</i></a></li>
									 <li><a href="#user-activity" data-toggle="tab"><i class="fm_icon side_icon">5</i></li>
									 <li><a href="#user-bookmarks" data-toggle="tab"><i class="fm_icon side_icon">2</i></a></li>
									 <li><a href="#user-settings" data-toggle="tab"><i class="fm_icon side_icon">3</i></a></li>
								</ul>
							</div>
							
							<span class="user-split"></span>
							<div class="tab-content">
								<div class="tab-pane fade in active" id="user-messages">
									<h3>Messages</h3>
								</div>
								<div class="tab-pane fade" id="user-activity">
									<h3>Activity</h3>
								</div>
								<div class="tab-pane fade" id="user-bookmarks">
									<h3>Bookmarks</h3>
								</div>
								<div class="tab-pane fade" id="user-settings">
									<h3>Settings</h3>
									<a href="/account/logout">Log Out</a>
								</div>
							</div>
						</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div id="footwear_tool" class="hidden-xs">
		<div class="row">
			<div id="footwear_side" class="col-xs-3 col-s-3 col-md-2">
				<div class="fw_side_menu_button">
					<i class="fa fa-bars"></i>
				</div>
			</div>
			<div id="footwear_search" class="col-xs-7 col-s-7 col-md-8">
				<span class="text">currently viewing<i class="fa fa-play"></i></span>
				<div class="footwear_tags"></div>
			</div>
			<div id="footwear_search_options" class="col-xs-2 col-s-2 col-md-2">
				<span id="start_over" class="text">start over</span>
			</div>
		</div>
	</div>
	
	<div id="footwear_sidemenu" class="hidden-xs">
		<div class="row">
			<div class="col-md-12 footwear_label">Brand</div>
		</div>
		<div class="row footwear_options_row no-padding-right">
			<div class="col-xs-10 col-md-10">
				<input id="fw_brands_userinput" class="footwear_tb" type="text" placeholder="type a brand.."/>
				<input id="footwear_brands" type="hidden" /></div>
			<div id="brands_select_button" class="col-xs-2 col-md-2 icon-list"><i class="fa fa-list"></i></div>
		</div>
		
		<div class="row">
			<div class="col-md-12 footwear_label">Style</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 colors_box">
				{{#color}}
				<div class="color_box" style="background-color: {{hex}};" title="{{title}}" data-colorid="{{id}}">
					<input id="footwear_colors" type="hidden" />
				</div>
				{{/color}}
			</div>
		</div>
		
		<div class="row footwear_options_row no-padding-right">
			<div class="col-md-12">
				<input id="footwear_select_category" class="footwear_tb" type="text" placeholder="category" readonly="readonly" />
				<div id="fw_select_cat_button" class="footwear_selector"><i class="fa fa-play"></i></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 footwear_label">Prices &middot; other</div>
		</div>
		<div class="row footwear_options_row">
			<div class="price_other_box">
			<input id="min_price" type="text" name="min_price" placeholder="min price..." /><input id="max_price" type="text" name="max_price" placeholder="max price..." />
			</div>
		</div>
		
		<!--<div class="row">
			<div class="col-md-12 footwear_label">Size &middot; fit</div>
		</div>
		<div class="row">
		</div>-->
		
		<div class="row refine_search">
			<div class="col-xs-3 col-s-3 col-md-3 toggle_refine text-center">
				<i class="auto_refine fa fa-refresh" title="Toggle Auto-Refine"></i>
			</div>
			<div class="col-xs-9 col-s-9 col-md-9 submit_refine text-center">
				Refine search
			</div>
		</div>
	</div>
	
	<div id="user_input_brand" class="hidden-xs">
	</div>
	<div id="footwear_category_options" class="hidden-xs">
	</div>
	<div id="footwear_brands_options" class="hidden-xs">
	</div>
</nav>

<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
	<span class="sr-only">Toggle navigation</span>
	<span class="glyphicon glyphicon-align-justify"></span>
</button>


<a style="background-image: url(/images/fm-whitetrans-128.png); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center bottom; background-size: cover;" class="home_button" href="/">
</a>