{{{view.core_head}}}
<div id="home_container" class="container-fluid">
	<div id="background_one" class="background_one">
	</div>
	<div class="homepage_one">
		<div class="homepage_one_a">
			<!--<img src="images/fm-whitetrans-128.png" />-->
			<img src="images/fm-redtrans-128.png" />
			<div class="message">
				<!--It is your time now to become a Founder.-->
			</div>
			<!--<div id="click_learn" class="learn_button">
				Get Started
			</div>-->
		</div>
		<div id="homepage_navbar" class="color_white">
			{{{view.frontend_navigation}}}
		</div>
	</div>
	<div id="learn_more" class="homepage_two">
		<div class="homepage_two_a">
			<div class="message">
				The FoundMissing Initiative.
			</div>
			<div class="smaller_message">
			The way shoes are being displayed across the web is incredibly fragmented.<br />We aim to build a new home for online footwear. It’s a curated marketplace, a collection of rich <br />editorials, and an open invitation to share, review, and discuss our passions — all under one roof.
			</div>
			<div class="homepage_box row">
				<div class="col-md-offset-3 col-md-2">
					<div class="homepage_sub_box">
						<h3>Design</h3>
						<p>“Making sense” is prioritized into everything we do. Striving for better design, a better experience.</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="homepage_sub_box">
						<h3>Community</h3>
						<p>We’re building FoundMissing with your voice in mind. It’s about you as much as it is about shoes.</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="homepage_sub_box">
						<h3>Culture</h3>
						<p>Our eyes are set on the horizon of footwear culture and design. It’s a perspective in the making.</p>
					</div>
				</div>
			</div>
			<div id="click_more" class="fm_main_button">More About Foundmissing</div>
		</div>
	</div>
	<div id="fm_feature_header">Featured Stories</div>
	<div id="fm_main" class="homepage_three">
		<div class="main_outer">
			<div id="features" class="col-md-12 main_inner carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				{{#slider_content}}
					{{#first}}
					<div class="item active">
					{{/first}}
					{{^first}}
					<div class="item">
					{{/first}}
						<a href="{{slug}}">
							<div class="top_feature_image" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center; background-size: cover;">
								<div class="main_overlay main_title text-center">
									<i class="fm_icon main_icon">{{icon}}</i>
									<h1>{{title}}</h1>
								</div>
							</div>
						</a>
					</div>
				{{/slider_content}}
				</div>
				
				<a class="left carousel-control" href="#features" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#features" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="homepage_four">
		<div class="homepage_box_one">
			{{#box_one}}
			<div class="main_feature_image box_inner" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;">
				<div class="box_overlay"></div>
				<div class="box_date">{{date}}{{#author}}<br />/<br />by {{.}}{{/author}}</div>
				<i class="fm_icon box_icon">{{icon}}</i>
				<div class="box_text text-center">
					<h1>{{title}}</h1>
				</div>
				<div class="box_excerpt">{{description}}</div>
			</div>
			<a class="box_button_link" href="{{slug}}">{{type}}</a>
			{{/box_one}}
		</div>
		<div class="homepage_box_two">
			<div id="fm_connect row">
				<div class="fm_subscribe col-md-10">
					<h1>Stay in the loop</h1>
					<div id="signup">
						<input type="text" placeholder="e-mail address" />
						<button>sign up</button>
					</div>
					<p class="subscribe_definition">Get the heads up on news, updates, giveaways, and parties taking place in the footwear world. Your address is safe with us and you can opt out any time.</p>
					<p class="subscribe_more_policy">More on our policies</p>
				</div>
				<div class="col-md-2">
				
				</div>
			</div>
		</div>
	</div>
	<div class="homepage_five">
			<div class="homepage_box_three box_inner">
				{{#box_two}}
				<div class="main_feature_image" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;">
					<div class="box_overlay"></div>
					<div class="box_date">{{date}}{{#author}}<br />/<br />by {{.}}{{/author}}</div>
					<i class="fm_icon box_icon">{{icon}}</i>
					<div class="box_text text-center">
						<h1>{{title}}</h1>
					</div>
					<div class="box_excerpt">{{description}}</div>
				</div>
				{{/box_two}}
			</div>
			<div class="homepage_box_four">
				<div class="homepage_box_four_a">
				{{#box_three}}
				<div class="main_feature_image box_inner" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;">
					<div class="box_overlay">
						<i class="fm_icon box_icon">{{icon}}</i>
						<div class="box_text text-center">
							<h1>{{title}}</h1>
						</div>
					</div>
				</div>
				<a class="smaller_box_link" href="{{slug}}">{{type}}</a>
				{{/box_three}}
				</div>
				<div class="homepage_box_four_b">
					{{#box_four}}
					<div class="main_feature_image box_inner" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;">
						<div class="box_overlay">
							<i class="fm_icon box_icon">{{icon}}</i>
							<div class="box_text text-center">
								<h1>{{title}}</h1>
							</div>
						</div>
					</div>
					<a class="smaller_box_link" style="left: 75%" href="{{slug}}">{{type}}</a>
					{{/box_four}}
				</div>
			</div>
	</div>
	<div class="homepage_six">
			<div class="homepage_box_six">
				{{#box_five}}
				<div class="main_feature_image box_inner" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;">
					<div class="box_overlay"></div>
					<div class="box_date">{{date}}{{#author}}<br />/<br />by {{.}}{{/author}}</div>
					<i class="fm_icon box_icon">{{icon}}</i>
					<div class="box_text text-center">
						<h1>{{title}}</h1>
					</div>
					<div class="box_excerpt">{{description}}</div>
				</div>
				<a class="box_button_link" href="{{slug}}">{{type}}</a>
				{{/box_five}}
			</div>
			<div class="homepage_box_seven">
				{{#box_six}}
				<div class="main_feature_image box_inner" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;">
					<div class="box_overlay"></div>
					<div class="box_date">{{date}}{{#author}}<br />/<br />by {{.}}{{/author}}</div>
					<i class="fm_icon box_icon">{{icon}}</i>
					<div class="box_text text-center">
						<h1>{{title}}</h1>
					</div>
					<div class="box_excerpt">{{description}}</div>
				</div>
				<a class="box_button_link" href="{{slug}}">{{type}}</a>
				{{/box_six}}
			</div>
	</div>
</div>

<script>
	$(".box_inner").toggle(function() {
		$(this).find(".box_overlay").addClass("box_overlay_toggle");
		$(this).next('.box_button_link').fadeIn();
		$(this).next('.smaller_box_link').fadeIn();
		$(this).find('.box_date').fadeIn();
		$(this).find('.box_excerpt').fadeIn();
		$(this).find('.box_icon').fadeOut();
		
		//$(this).children().find(".box_overlay").addClass("box_overlay_toggle");
		//$(this).children().find('.box_button_link').fadeIn();
		//$(this).children().find('.box_date').fadeIn();
		//$(this).children().find('.box_excerpt').fadeIn();
		//$(this).children().find('.box_icon').fadeOut();
	}, function() {
		$(this).find(".box_overlay").removeClass("box_overlay_toggle");
		$(this).next('.box_button_link').fadeOut();
		$(this).next('.smaller_box_link').fadeOut();
		$(this).find('.box_date').fadeOut();
		$(this).find('.box_excerpt').fadeOut();
		$(this).find('.box_icon').fadeIn();
		
		//$(this).children().find(".box_overlay").removeClass("box_overlay_toggle");
		//$(this).children().find('.box_button_link').fadeOut();
		//$(this).children().find('.box_date').fadeOut();
		//$(this).children().find('.box_excerpt').fadeOut();
		//$(this).children().find('.box_icon').fadeIn();
	});
	
</script>