{{{view.core_head}}}
<div class="articles-screen">
{{{view.frontend_header}}}
	<div id="main_container" class="container-fluid">
		<div class="article-page-fix"></div>
		<div class="row main_outer">
			<div id="features" class="col-md-12 main_inner carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				{{#slider_content}}
					{{#first}}
					<div class="item active">
					{{/first}}
					{{^first}}
					<div class="item">
					{{/first}}
						<a href="{{slug}}">
							<div class="main_feature_image" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center; background-size: cover;">
								<div class="box_overlay"></div>
								<div class="main_title text-center">
									<h1>{{title}}</h1>
								</div>
							</div>
						</a>
						<i class="fm_icon main_icon">{{icon}}</i>
					</div>
				{{/slider_content}}
				</div>
				
				<a class="left carousel-control" href="#features" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#features" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
		<div class="row remove_row_margin">
			<div class="col-md-6 left_box">
			{{#box_one}}
				<div class="box_inner">
					<div class="main_feature_image" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;">
						<div class="box_overlay"></div>
						<div class="box_date">{{date}}{{#author}}<br />/<br />by {{.}}{{/author}}</div>
						<i class="fm_icon main_icon">{{icon}}</i>
						<div class="box_text text-center">
							<h1>{{title}}</h1>
						</div>
						<div class="box_excerpt">{{description}}</div>
					</div>
				</div>
				<a class="box_button_link" href="{{slug}}">{{type}}</a>
			{{/box_one}}
			</div>
			<div class="col-md-6 right_box">
			{{#box_two}}
				<div class="box_inner">
					<div class="main_feature_image" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;">
						<div class="box_overlay"></div>
						<div class="box_date">{{date}}{{#author}}<br />/<br />by {{.}}{{/author}}</div>
						<i class="fm_icon main_icon">{{icon}}</i>
						<div class="box_text text-center">
							<h1>{{title}}</h1>
						</div>
						<div class="box_excerpt">{{description}}</div>
					</div>
				</div>
				<a class="box_button_link" href="{{slug}}">{{type}}</a>
			{{/box_two}}
			</div>
		</div>
		<div class="row remove_row_margin">
			<div class="col-md-6 left_box">
			{{#box_three}}
				<div class="box_inner">
					<div class="last_feature_image" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;">
						<div class="box_overlay"></div>
						<div class="box_date" style="font-size: 12px">{{date}}{{#author}} / by {{.}}{{/author}}</div>
						<i class="fm_icon main_icon">{{icon}}</i>
						<div class="box_small_text text-center">
							<h1>{{title}}</h1>
						</div>
					</div>
				</div>
				<a class="smaller_box_link" href="{{slug}}">{{type}}</a>
			{{/box_three}}
			</div>
			<div class="col-md-3 right_box_1 left_box">
			{{#box_four}}
				<div class="box_inner">
					<div class="last_feature_image" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;">
						<div class="box_overlay"></div>
						<div class="box_date" style="font-size: 12px">{{date}}</div>
						<i class="fm_icon main_icon">{{icon}}</i>
						<div class="box_small_text text-center">
							<h1>{{title}}</h1>
						</div>
					</div>
				</div>
				<a class="smaller_box_link" href="{{slug}}">{{type}}</a>
			{{/box_four}}
			</div>
			<div class="col-md-3 right_box">
			{{#box_five}}
				<div class="box_inner">
					<div class="last_feature_image" style="background-image: url({{image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center bottom; background-size: cover;">
						<div class="box_overlay"></div>
						<div class="box_date" style="font-size: 12px">{{date}}</div>
						<i class="fm_icon main_icon">{{icon}}</i>
						<div class="box_small_text text-center">
							<h1>{{title}}</h1>
						</div>
					</div>
				</div>
				<a class="smaller_box_link" href="{{slug}}">{{type}}</a>
			{{/box_five}}
			</div>
		</div>
		<div class="push_bottom"></div>
	</div>
	{{{view.frontend_footer}}}
</div>
<script>
	$(".box_inner").toggle(function() {
		//$(this).children().find(".box_overlay").fadeIn(2500);
		$(this).children().find(".box_overlay").addClass("box_overlay_toggle");
		$(this).next('.box_button_link').fadeIn();
		$(this).next('.smaller_box_link').fadeIn();
		$(this).children().find('.box_date').fadeIn();
		$(this).children().find('.box_excerpt').fadeIn();
		//$(this).children().find('.box_excerpt').animate({marginTop: '-=50px'}, "slow");
	}, function() {
		//$(this).children().find(".box_overlay").fadeOut(1000);
		$(this).children().find(".box_overlay").removeClass("box_overlay_toggle");
		$(this).next('.box_button_link').fadeOut("slow");
		$(this).next('.smaller_box_link').fadeOut();
		$(this).children().find('.box_date').fadeOut();
		$(this).children().find('.box_excerpt').fadeOut();
		//$(this).children().find('.box_excerpt').animate({marginTop: '+=200px'}, "slow");
	});
</script>