{{{view.core_head}}}
<div class="articles-screen">
{{{view.frontend_header}}}
	<div id="main_container" class="container-fluid">
		<div class="article-page-fix"></div>
		<div class="row interview_container">
		
			<div id="interviews" class="col-md-12 interview_outer carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					{{#interview}}
					{{#first}}
					<div class="item active">
					{{/first}}
					{{^first}}
					<div class="item">
					{{/first}}
						<div class="article-image-bg" style="background-image: url({{main_image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;"><div class="interview_overlay"></div></div>
						<div class="interview_inner text-center">
							<span title="Archives" class="archives_link">
								<a href="/interviews/archives"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
								<p>archives</p>
							</span>
							<div class="details">
								<h1>{{title}}</h1>
								<div class="row">
									<div class="col-xs-12 col-md-offset-3 col-md-3 text-right left_box">
										<span class="rotate_position">{{date}}<br /><em style="font-style:italic">by {{author_name}}</em><br />/<br/>{{comment_count}}</span>
									</div>
									<div class="col-xs-12 col-md-2 right_box text-left">
										<span class="quote">&ldquo;{{quote}}&rdquo;</span>
										<a href="/interviews/{{slug}}"><div class="comment_box text-center">
											Read Interview
										</div></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/interview}}
				</div>
				
				<a class="left carousel-control" href="#interviews" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#interviews" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="article-page-bottom-fix"></div>
	{{{view.frontend_footer}}}
</div>