{{{view.core_head}}}
<div class="articles-screen">
{{{view.frontend_header}}}
	<div id="main_container" class="container-fluid">
		<div class="article-page-fix"></div>
		<div class="archive_outer">
			{{#interview}}
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
				<div class="circular" style="background: url({{image}});-ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;" /></div>
					<a title="{{title}}" href="/interviews/{{slug}}">{{title}}</a>
				</div>
			</div>
			{{/interview}}
		</div>
	</div>
	<div class="article-page-bottom-fix"></div>
	{{{view.frontend_footer}}}
</div>