{{{view.core_head}}}
<div class="articles-screen">
{{{view.frontend_header}}}
	<div id="main_container" class="container-fluid">
		<div class="article-page-fix"></div>
		{{#article}}
		<div class="row interview_container">
			<div id="interviews" class="col-md-12 interview_outer">
				<div class="article-image-bg" style="background-image: url({{main_image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;"><div class="interview_overlay"></div></div>
				<div class="interview_inner text-center">
					<span class="archives_link">
						<a href="/interviews/archives"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a><br />
						<a href="/interviews/archives"><p>archives</p></a>
					</span>
					<div class="details">
						<h1>{{title}}</h1>
						<div class="row">
							<div class="col-xs-12 col-md-offset-3 col-md-3 text-right left_box">
								<span>{{date}}<br /><em style="font-style:italic">by {{author_name}}</em><br />/<br/>14 comments</span>
							</div>
							<div class="col-xs-12 col-md-2 right_box text-left">
								<span class="quote">&ldquo;{{quote}}&rdquo;</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" id="article_id" value="{{id}}" />
		<div id="interview_body" class="row interview_body" style="padding-top: 30px">
			<div class="col-md-12">
				{{{body}}}
			</div>
		</div>
		<div class="row share-row">
			<div class="col-xs-12 col-md-12 share-art borders-share">
				<div class="article-bottom-share text-center share">Share</div>
				<div class="row">
					<div id="article_data" class="col-md-12 text-center social-media-icon" data-slug="interviews/{{slug}}" data-image="{{main_image}}" data-title="{{title}}" data-desc="{{excerpt}}" data-url="{{domain_url}}">
						<i data-id="fb_share" class="fa fa-facebook-square social_media_share" title="Share on Facebook">
							<div class="share_box">{{facebook_data.likes}}</div>
						</i>
						<i data-id="tblr_share" class="fa fa-tumblr social_media_share" title="Share on Tumblr"></i>
						<i data-id="google_share" class="fa fa-google-plus social_media_share" title="Share on Google+">
							<div class="share_box_top">{{gplus}}</div>
						</i>
						<i data-id="stblupon_share" class="fa fa-stumbleupon social_media_share" title="Submit to Stumbleupon"></i>
						<i data-id="twitter_share" class="fa fa-twitter social_media_share" title="Share on Twitter">
							<div class="share_box_left">{{tweets}}</div>
						</i>
					</div>
				</div>
			</div>
		</div>
		{{/article}}
		{{{view.frontend_comments}}}
	</div>
	<div class="article-page-bottom-fix"></div>
	{{{view.frontend_footer}}}
</div>

<div id="fb-root"></div>
<meta property="og:type" content="article" />
<meta property="og:title" content="{{article.title}}" />
<meta property="og:image" content="{{domain_url}}{{article.main_image}}" />
<meta property="og:description" content="{{article.excerpt}}" />