{{{view.core_head}}}
<div id="homepage_navbar" class="color_white">
	{{{view.frontend_navigation}}}
</div>
<div id="home_container" class="container-fluid">
	<div class="article-page-fix"></div>
	{{#journal}}
	{{#newrow}}
	<div class="row journal_row">
		<div class="col-md-6 journal_col">
			<div class="album-image-bg" style="background-image: url('{{cover}}'); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;">
				<div class="box_overlay"></div>
				<div class="box_text">
					<a class="journal_link" href="{{slug}}">{{title}}</a>
				</div>
			</div>
		</div>
	{{/newrow}}
	{{^newrow}}
		<div class="col-md-6 journal_col">
			<div class="album-image-bg" style="background-image: url('{{cover}}'); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;">
				<div class="box_overlay"></div>
				<div class="box_text">
					<a class="journal_link" href="{{slug}}">{{title}}</a>
				</div>
			</div>
		</div>
	</div>
	{{/newrow}}
	{{/journal}}
</div>

<script>
	$(".box_overlay").toggle(function() {
		$(this).addClass("box_overlay_toggle");
	}, function() {
		$(this).removeClass("box_overlay_toggle");
	});
	
</script>