{{{view.core_head}}}
	<div class="articles-screen">
	{{{view.frontend_header}}}
		<div id="main_container" class="container-fluid">
			<div class="row search_outer">
				<div class="article-page-fix"></div>
				<div class="col-md-offset-2 col-md-8">
					<div class="search_header">
						{{#has_results}}<h1>RESULTS FOR &ldquo;{{query}}&rdquo;</h1><small>{{result_count}} items found</small>{{/has_results}}
						{{^has_results}}<h1>NO RESULTS FOR &ldquo;{{query}}&rdquo;</h1>{{/has_results}}
					</div>
					
					<div class="result_container">
						<form method="GET" action="/listing" style="width: 100%">
							<input class="result_search" type="search" name="search" placeholder="search..." />
						</form>
						
					{{#has_articles}}
						<h3>articles</h3>
					{{/has_articles}}
					{{#article}}
							<div class="col-md-12 search_results">
								<div class="row"><div class="col-md-12"><a href="{{link}}" class="result_link">{{title}}</a></div></div>
								<div class="row">
									<div class="col-md-2">
										<a href="{{link}}" class="result_link"><div class="result_image" style="background-image: url(/uploads/images/{{image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;"></div></a>
									</div>
									<div class="col-md-10 result_excerpt">
										{{excerpt}}
									</div>
								</div>
							</div>
					{{/article}}
					{{#has_reviews}}
						<h3>reviews</h3>
					{{/has_reviews}}
					{{#review}}
							<div class="col-md-12 search_results">
								<div class="row"><div class="col-md-12"><a href="{{link}}" class="result_link">{{title}}</a></div></div>
								<div class="row">
									<div class="col-md-2">
										<a href="{{link}}" class="result_link"><div class="result_image" style="background-image: url(/uploads/images/{{image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;"></div></a>
									</div>
									<div class="col-md-10 result_excerpt">
										{{excerpt}}
									</div>
								</div>
							</div>
					{{/review}}
					{{#has_interviews}}
						<h3>interviews</h3>
					{{/has_interviews}}
					</div>
				</div>
			</div>
		</div>
		{{{view.frontend_footer}}}
	</div>
</body>
</html>

<style>
	.result_search {
		width: 100%;
		padding: 5px;
		-webkit-box-sizing: border-box !important;
		box-sizing: border-box !important;
	}
	
	.search_outer {
		min-height: 100vh;
	}
	
	.search_header {
		background-color: #EB1C39;
		height: 28vh;
		width: 100%;
		position: relative;
	}
	
	.search_header h1, .search_header small {
		color: #FFFFFF;
		left: 15px;
		bottom: 10px;
		position: absolute;
		font-family: rigby;
	}
	
	.search_header small {
		font-size: 12px;
	}
	
	.search_results {
		border: #F1F2F2 1px solid;
		padding: 15px;
		margin-bottom: 10px;
	}
	
	.result_container {
		margin-top: 25px;
	}
	
	.result_container h3 {
		font-family: rigby;
		color: #0E1212;
		text-transform: uppercase;
		font-size: 24px;
		padding: 0;
	}
	
	.result_link {
		color: #535858;
		font-size: 18px;
		font-family: rigby;
		text-transform: capitalize;
	}
	
	.result_link:hover {
		color: #000;
	}
	
	.result_image {
		height: 100px;
	}
	
	.result_excerpt {
		color: #A0A6A6;
	}
</style>