<nav class="nav_inner row">
	<div class="col-md-4 col-s-4 col-xs-4">
		<a class="navbar-brand" href="/"><div id="nav_logo" class="nav_logo_red"></div></a>
		<a id="navigation_title" href="/">Foundmissing</a>
	</div>
	<div class="col-s-7 col-md-7">
		<ul class="nav navbar-nav">
			<li><a href="/journal">Journal</a></li>
			<li><a href="/articles">Articles</a></li>
			<li><a href="/reviews">Reviews</a></li>
			<!--<li><a href="/interviews">Interviews</a></li>
			<li><a href="/">Collaborative</a></li>-->
			<li><a href="/founders">founders</a></li>
		</ul>
	</div>
</nav>