{{{view.core_head}}}
<div class="articles-screen">
	{{{view.frontend_header}}}
	<div id="main_container" class="container-fluid">
		<div class="article-page-fix"></div>
		<div id="pages" class="row">
			<div class="col-md-offset-3 col-md-6">
				{{#content}}
				<div class="page_header">
					<h1>{{title}}</h1>
				</div>
				<div class="page-body">
					<p>{{{body}}}</p>
				</div>
				{{/content}}
			</div>
		</div>
	</div>
{{{view.frontend_footer}}}
</div>
