{{{view.core_head}}}
	<div class="articles-screen">
		{{{view.frontend_header}}}
		<div id="main_container" class="container-fluid">
			<div class="article-page-fix"></div>
			<div class="user-screen row">
				<div class="col-md-8 no-padding-right">
					<div class="row"> <!-- User Head -->
						<div class="col-md-12">
							<div class="bg-overlay-infrared  user-profile-head">
								<div class="row">
									{{#logged_in}}
									{{^is_user}}
									<div class="bg-user-icon"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span></div>
									{{/is_user}}
									{{/logged_in}}
									<div class="col-md-12">
										<span class="user-name">{{profile_data.fullname}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<span class="user-info">{{profile_data.city}} {{profile_data.country}} {{profile_data.age}} {{profile_data.title}}</span>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- // END User Head -->
					<div class="row"> <!-- User Body -->
						<div class="col-xs-4 col-s-4 col-md-4">
							<div class="user-profile-pic" style="background-image: url({{profile_data.image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;">
							</div>
							<div class="text-right">
							<ul class="user-social-media">
								{{#profile_data.website}}<li><a href="{{profile_data.website}}" target="_blank">website</a></li>{{/profile_data.website}}
								{{#profile_data.facebook}}<li><a href="{{profile_data.facebook}}" target="_blank">facebook</a></li>{{/profile_data.facebook}}
								{{#profile_data.twitter}}<li><a href="{{profile_data.twitter}}" target="_blank">twitter</a></li>{{/profile_data.twitter}}
							</ul>
							</div>
						</div>
						<div class="col-xs-8 col-s-8 col-md-8">
							{{#profile_data.bio}}<div class="user-bio">{{{.}}}</div>{{/profile_data.bio}}
							{{^profile_data.bio}}<p class="user-bio">No Bio</p>{{/profile_data.bio}}
						</div>
					</div> <!-- // END User Body -->
				</div>
				
				<div class="col-md-4 no-padding-left">
					<div class="profile-head-info">
						<div class="row">
							<div class="col-xs-4 col-md-4">
								<p>join date//<br /><span>{{profile_data.date_joined}}</span></p>
							</div>
							<div class="col-xs-4 col-md-4">
								<p>last logged in//<br /><span>{{profile_data.last_login}}</span></p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 col-md-4">
								<p>comments//<br /><span>{{profile_data.comments}}</span></p>
							</div>
							<div class="col-xs-4 col-md-4">
								<p>reviews//<br /><span>{{profile_data.reviews}}</span></p>
							</div>
							<div class="col-xs-4 col-md-4">
								<p>karma//<br /><span>{{profile_data.karma}}</span></p>
							</div>
						</div>
					</div>
				
					{{{view.account_activity}}}
				</div>
			</div>
		</div>
		{{{view.frontend_footer}}}
	</div>