{{{view.core_head}}}
	<div class="articles-screen">
		{{{view.frontend_header}}}
		<div id="main_container" class="container-fluid">
		{{#review}}
			<div class="row">
				<div class="article-page-fix"></div>
					<div class="col-md-12 article_header_container">
						<div class="article-heading-single">
							<div class="article-image-bg" style="background-image: url({{main_image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center bottom; background-size: cover;">
							<div class="article-box">
								<div class="single-article-author text-center">{{date}}<br />/</br /><em style="font-style: italic">by {{author_name}}</em></div>
								<h1 class="single-article-title text-center">{{title}}</h1>
							</div>
							</div>
							
						</div>
					</div>
			</div>
			<div class="row">
				<div class="article_body col-md-12">
				<p>{{{body}}}</p>
				</div>
			</div>
			<input type="hidden" id="article_id" value="{{id}}" />
		
			<div class="row share-row">
				<div class="col-xs-12 col-md-12 share-art borders-share">
					<div class="article-bottom-share text-center share">Share</div>
					<div class="row">
						<div id="article_data" class="col-md-12 text-center social-media-icon" data-slug="reviews/{{slug}}" data-image="{{main_image}}" data-title="{{title}}" data-desc="{{excerpt}}" data-url="{{domain_url}}">
							<i data-id="fb_share" class="fa fa-facebook-square social_media_share" title="Share on Facebook">
								<div class="share_box">{{facebook_data.likes}}</div>
							</i>
							<i data-id="tblr_share" class="fa fa-tumblr social_media_share" title="Share on Tumblr"></i>
							<i data-id="google_share" class="fa fa-google-plus social_media_share" title="Share on Google+">
								<div class="share_box_top">{{gplus}}</div>
							</i>
							<i data-id="stblupon_share" class="fa fa-stumbleupon social_media_share" title="Submit to Stumbleupon"></i>
							<i data-id="twitter_share" class="fa fa-twitter social_media_share" title="Share on Twitter">
								<div class="share_box_left">{{tweets}}</div>
							</i>
						</div>
					</div>
				</div>
			</div>
		{{/review}}
		{{{view.frontend_comments}}}
			
		</div>
		
	<div class="article-page-bottom-fix"></div>
	{{{view.frontend_footer}}}
	</div>
	
<div id="fb-root"></div>
<meta property="og:type" content="article" />
<meta property="og:title" content="{{review.title}}" />
<meta property="og:image" content="{{domain_url}}{{review.main_image}}" />
<meta property="og:description" content="{{review.excerpt}}" />