{{{view.core_head}}}
	<div class="articles-screen">
	{{{view.frontend_header}}}
		<div id="main_container" class="container-fluid" style="height: 100%">
			<div class="article-page-fix"></div>
			<div class="hidden-xs row">
				<div id="review-items" class="col-xs-6 col-md-9">
					{{#reviews}}
						<div brand="{{brand}}" model="{{name}}" release_date="{{release_date}}" tags="{{tags}}" excerpt="{{excerpt}}" author_name="{{author_name}}" categories="{{styles}}" rating="{{rating}}" slug="{{slug}}" comment_count="{{count}}" class="col-xs-12 col-md-4 review_box">
							<div class="review_box_innter">
							<div class="review-image-bg" style="background-image: url({{main_image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center bottom; background-size: cover;"></div>
							<div class="item-hover"></div>
								<div class="review-button-container text-center">
									<button class="review-button">{{count}}</button><br />/<br />
									<a class="slug" href="/reviews/{{slug}}"><button class="review-button">Read Review</button></a>
								</div>
							</div>
						</div>
					{{/reviews}}
				</div>
				<div class="col-xs-6 col-md-3 item_container">
					<div class="sort-info ">
						Sort
					</div>
					{{#initial_review}}
					<div class="item-info">
						<div id="brand" class="item-brand">{{brand}}</div>
						<div id="model" class="item-model">{{name}}</div>
					</div>
					<div class="item-details">
						<div class="row">
							<div class="col-md-6">
								<span>release date//</span>
								<div id="release_date">{{release_date}}</div>
							</div>
							<div class="col-md-6">
								<span>average rating//</span>
								<div id="rating">{{rating}}/10</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<span>category//</span>
								<div id="categories">{{styles}}</div>
							</div>
							<div class="col-md-6">
								<span>tags//</span>
								<div id="tags">{{tags}}</div>
							</div>
						</div>
					</div>
					<div class="review-body">
						<div id="author_name">{{author_name}}</div>
						/
						<br />
						<div id="excerpt">{{excerpt}}</div>
					</div>
					<div class="row  review-buttons">
						<div class="col-md-6">
							<a class="slug" href="/reviews/{{slug}}"><button class="btn btn-large">Read Reviews</button></a>
						</div>
						<div class="col-md-6">
							<button id="review_comment_count" class="btn btn-large">{{count}}</button>
						</div>
					</div>
					{{/initial_review}}
				</div>
			</div>
			
			<div class="visible-xs row">
				<div class="col-xs-12 text-center review_mobile_header"><h3>Reviews</h3></div>
			</div>
			<div class="visible-xs row item_most_outer">
				<div class="col-xs-6 item_inner_box">
					{{#reviews}}
						<div class="col-xs-12 col-md-4 review_box_m">
							<a href="/reviews/{{slug}}"><div class="review-image-bg" style="background-image: url({{main_image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center bottom; background-size: cover;"></div></a>
						</div>
					{{/reviews}}
				</div>
				<div class="col-xs-6 item_info_outer">
					{{#reviews}}
						<div class="item_outer">
							<div class="item-info">
								<a href="/reviews/{{slug}}">
								<div class="item-brand">{{brand}}</div>
								<div class="item-model">{{name}}</div>
								</a>
							</div>
							
							<div class="row item_subheadings_mobile item_mobile_heading">
								<div class="col-xs-6">	
									<p>rating//</p>
								</div>
								<div class="col-xs-6">
									<p>released//</p>
								</div>
							</div>
							<div class="row item_subheadings_mobile">
								<div class="col-xs-6">
									<p>{{rating}}/10</[>
								</div>
								<div class="col-xs-6">
									<p>{{release_date}}</p>
								</div>
							</div>
							<div class="excerpt_mobile row">
								<div class="col-xs-12">
									<p>{{excerpt}}...</p>
								</div>
							</div>
						</div>
					{{/reviews}}
				</div>
			</div>
		</div>
		<div class="article-page-bottom-fix"></div>
	{{{view.frontend_footer}}}
	</div>