{{{view.core_head}}}
<div class="temp-screen">
	{{{view.frontend_header}}}
	<div id="main_container" class="container-fluid" style="height: 100%">
		<div class="hidden-xs article-page-fix"></div>
		<div class="row outer">
			<div class="red_box">
				<div class="message">Original and real content means a lot to us at FoundMissing. As a new website, we would like to establish a relationship with the right brands before we give you genuine interviews.<br /><br />Thank you for your patience.</div>
			</div>
		</div>
	</div>
	<div class="article-page-bottom-fix"></div>
	{{{view.frontend_footer}}}
</div>

<style>
	.outer {
		min-height: 601px;
		position: relative;
	}
	
	.temp-screen {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/temp.jpg");
		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/temp.jpg");
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/temp.jpg");
		background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/temp.jpg");
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url("/images/temp.jpg");
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/temp.jpg");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		overflow-x: hidden;
		color: #FFFFFF;
	}
	
	.red_box {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 350px;
		height: 300px;
		margin-left: -175px;
		margin-top: -135px;
		text-align: center;
	}
	
	.message {
		line-height: 22px;
		font-family: georgia, serif;
		letter-spacing: 0.5px;
	}
	
	@media only screen and (min-width: 1824px){
		.outer {
			min-height: 885px;
		}
		
	}
</style>
