<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Description</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#brands_data}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{title}}</td>
			<td>{{description}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<a href="#" class="reorder up btn" rel=brands><span class="icon-arrow-up"></span></a>
				<a href="#" class="reorder down btn" rel=brands style="float:right;"><span class="icon-arrow-down"></span></a>
			</td>
		</tr>
	{{/brands_data}}
	</tbody>
</table>