<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th>Id</th>
			<th>Parent Id</th>
			<th>User Id</th>
			<th>comment_body</th>
			<th>Replied To</th>
			<th>Entry Datetime</th>
			<th>Update Datetime</th>
			<th>Post Type</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#comments_data}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{parent_id}}</td>
			<td>{{user_id}}</td>
			<td>{{comment_body}}</td>
			<td>{{replied_to}}</td>
			<td>{{entry_datetime}}</td>
			<td>{{update_datetime}}</td>
			<td>{{post_type}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<a href="#" class="reorder up btn" rel=comments><span class="icon-arrow-up"></span></a>
				<a href="#" class="reorder down btn" rel=comments style="float:right;"><span class="icon-arrow-down"></span></a>
			</td>
		</tr>
	{{/comments_data}}
	</tbody>
</table>