
<!--
<div class="clearfix">
    <label for="{{id}}">{{title}}</label>
    <div class="input file">
        <input type="file" id="{{id}}" name="{{id}}{{#multiple}}[]{{/multiple}}" class="{{class}}" value="{{value}}" {{#multiple}}multiple{{/multiple}}  {{#disabled}}disabled="disabled"{{/disabled}} />{{#required}}<span class="required">*</span>{{/required}}
    </div>
</div>
-->

<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="input-append">
    <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" id="{{id}}" name="{{id}}{{#multiple}}[]{{/multiple}}" class="{{class}}" value="{{value}}" {{#multiple}}multiple{{/multiple}}  {{#disabled}}disabled="disabled"{{/disabled}} /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  </div>
</div>