<div class="actions">
<input type="submit" id="{{id}}" name="{{id}}" class="{{class}}" value="{{value}}" {{#disabled}}disabled="disabled"{{/disabled}} />
<a href="{{redirect}}" class="btn">Cancel</a>    
</div>
