<div class="clearfix">
    <label for="{{id}}">{{title}}</label>
    <div class="input">
        <textarea id="{{id}}" name="{{id}}" class="{{class}}" {{#disabled}}disabled="disabled"{{/disabled}} >{{{value}}}</textarea>{{#required}}<span class="required">*</span>{{/required}}
    </div>
</div>