<div class="clearfix">
    <label for="{{id}}">{{title}}</label>
    <div class="input">
        <input type="text" id="{{id}}" name="{{id}}" class="{{class}}" value="{{value}}" {{#disabled}}disabled="disabled"{{/disabled}} />{{#required}}<span class="required">*</span>{{/required}}
    </div>
</div>
