<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th>Id</th>
			<th>Type</th>
			<th>Comment Id</th>
			<th>User Id</th>
			<th>Entry Datetime</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#comments_karma_data}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{type}}</td>
			<td>{{comment_id}}</td>
			<td>{{user_id}}</td>
			<td>{{entry_datetime}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<a href="#" class="reorder up btn" rel=comments_karma><span class="icon-arrow-up"></span></a>
				<a href="#" class="reorder down btn" rel=comments_karma style="float:right;"><span class="icon-arrow-down"></span></a>
			</td>
		</tr>
	{{/comments_karma_data}}
	</tbody>
</table>