{{{view.core_head}}}
<div id="wrapper_home">
	<div class="row main_image">
		<div class="col-md-12 text-center">
			<img src="/images/fm-primarytrans-512.png" />
		</div>
	</div>
	<div class="row home darkgrey">
		<div class="col-md-12 home_inner">
			<div class="row section" data-target="Articles">
				<div class="section_background" style="background-image: url('/images/mobile/bg_article.jpg'); background-position: center; background-size: cover;">
					<div class="bg_overlay"></div>
				</div>
				<div class="col-xs-12 text-right">
					Articles
				</div>
			</div>
			<div class="row section" data-target="Reviews">
				<div class="section_background" style="background-image: url('/images/mobile/bg_review.jpg'); background-position: center; background-size: cover;">
					<div class="bg_overlay"></div>
				</div>
				<div class="col-xs-12 text-right">
					Reviews
				</div>
			</div>
			<div class="row section" data-target="Interviews">
				<div class="section_background" style="background-image: url('/images/mobile/bg_interview.jpg'); background-position: center; background-size: cover;">
					<div class="bg_overlay"></div>
				</div>
				<div class="col-xs-12 text-right">
					Interviews
				</div>
			</div>
			<div class="row section" data-target="Gallery">
				<div class="section_background" style="background-image: url('/images/mobile/bg_gallery.jpg'); background-position: center; background-size: cover;">
					<div class="bg_overlay"></div>
				</div>
				<div class="col-xs-12 text-right">
					Gallery
				</div>
			</div>
		</div>
	</div>
</div>
<div id="main"></div>
<div id="main_article"></div>

<style>
.wrapper_home {
	position: absolute;
	overflow-x: hidden;
}

.main_image {
	padding: 20px 0;
}

.home {
	font-family: rigby;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 3px;
}

.home_inner > .section {
	height: 150px;
	padding: 0 15px;
	color: #FFFFFF;
	/*text-shadow: 1px 1px #535858;*/
	padding-top: 60px;
	position: relative;
}

.main_image img {
	width: 80%;
}

.section_background {
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.bg_overlay {
	background-color: #000;
	opacity: 0.4;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53625002-3', 'auto');
  ga('send', 'pageview');

</script>