@font-face {
font-family: 'rigby';
	src:url('/fonts/rigby_v8-webfont.eot');
	src:url('/fonts/rigby_v8-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/rigby_v8-webfont.woff') format('woff'),
		url('/fonts/rigby_v8-webfont.ttf') format('truetype'),
		url('/fonts/rigby_v8-webfont-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100%;
}

h2, h4, ul.nav li a {
	font-family: rigby;
	text-transform: uppercase;
	color: #A0A6A6;
	font-size: 24px;
	letter-spacing: 4px;
	font-weight: normal !important;
}

h4 {
	font-size: 18px;
}

.subheader {
	margin-left: 7px;
}
	
.right {
text-align: right;    
}

.row.header{
    margin-bottom: 20px;
}

.container {
	margin-left: 0;
	margin-top: 0;
	width: 100%;
}

.row.header {
	margin-top: 10px;
	margin-left: 10px;
}

.navigation {
	overflow-y: auto;
	position: fixed;
	font-family: rigby;
	top: 0;
	left: 0;
	height: 100%;
	/*border-right: 1px solid #EB1C39;*/
	width: 160px;
	width: 160px;
	
}

ul.nav li a {
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 22px;
	transition: 0.5s;
}

ul.nav li a:hover {
	color: #EB1C39;
	background-color: #F1F2F2;
}

.brand {
	margin-left: 15px;
}

.nav {
	padding-left: 15px;
}

.content-container {
	margin-left: 161px;
	margin-top: 0;
	height: 100%;
}

.btn-large {
	box-shadow: none;
	border-radius: 0;
}

.span6 .btn {
	background-image: none;
	background-color: #EB1C39;
	font-family: rigby;
	text-transform: uppercase;
	margin-top: 10px;
	transition: 0.5s;
	color: #FFFFFF;
}
.span6 .btn:hover {
	background-color: #FFFFFF;
	color: #000;
}

.table thead th {
	font-family: rigby;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
	background-color: #F1F2F2;
}

.dropdown-menu {
	background-color: #000 !important;
}

.alert {
	position: absolute;
	right: 0;
	border-radius: 0;
}

.login-screen {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/boots.jpg");
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/boots.jpg");
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/boots.jpg");
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/boots.jpg");
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url("/images/boots.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/boots.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	overflow-x: hidden;
	color: #FFFFFF;
	min-height: 601px;
}

.article-image-bg {
	width: 100%;
	height: 600px;
}

.table a.btn {
	background-color: #EB1C39;
	background-image: none;
	border-radius: 0;
	font-family: rigby;
	text-transform: uppercase;
	text-shadow: none;
}

.table a.btn-primary {
	background-color: #FFFFFF;
	color: #000;
}

.reorder {
	text-transform: lowercase !important;
	background-color: #F1F2F2 !important;
	padding: 4px 9px;
}

.well {
	background-color: #F1F2F2;
	border-radius: 0;
	box-shadow: 0;
}

.loading_image {
	display: none;
	margin-top: -11px;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("/img/manage/glyphicons-halflings.png");

}

.icon-white {
  background-image: url("/img/manage/glyphicons-halflings-white.png");
}



form.well input[type="text"]{
    width:330px;
}

form.well textarea{
    height: 120px;
    /*width: 330px;*/
}


form.well .form-actions{
    margin-bottom: 0px;
    padding-bottom: 0px;

}



.box{
	position: relative;
	background-color: #AD1D28;
	padding: 0px 8px 0px 8px;
	-webkit-border-radius:3px;
	border-top:1px solid rgba(255,255,255, .3);
}

.box h3{
	text-shadow:1px 1px 2px rgba(0,0,0,.5);
	margin-top: 0px !important;
}

.box .label{
	position: absolute;
	top:4px;
	right:4px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-left-radius:5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.box .loading{
	position: absolute;
	width:15px;
	height: 15px;
	background-image:url(/img/manage/loading.gif);
	margin-left: 8px;
	margin-top: 12px;
	display: none;
}


.box form.well{
	background:none;
	padding: 0;

}

.box form.well input[type="text"]{
	width: 94%;
	box-shadow: 1px 1px 3px rgba(0,0,0,.5);

	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-right-radius:3px;
}


.box form.well .form-actions{
	margin-top:0px;
}

.box form.well .form-actions input{
	float: right;
	top:-15px;
	right: -15px;
	position: relative;
}


/* upload */

#progress, #progress_image {
	display: none;
}

#preview{
	/*display: none;*/
	width:120px;
	padding: 10px;
}

#preview_image{
	width:150px;
	padding: 10px;
	margin-top: 10px;
}


.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(../img/loading.gif) center no-repeat;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

/* Fix for IE 6: */
* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
* + html .fileinput-button {
  line-height: 22px;
  margin: 1px 0 0 0;
}

@media (max-width: 767px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
  .files .delete {
    width: 60px;
  }
}




/* generator */

.well.with-title{
  position: relative;
  padding-top: 30px;

  font-family: monospace;
}

.well.with-title:after{
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

.well.with-title.log:after{
  content:'Log';
}

.well.with-title.sql:after{
  content:'SQL';
}


.well.with-title.routes:after{
  content:'Routes';
}

.well.with-title pre{
  border:none;
}


.thumbnail .caption{
  position: relative;
  height:60px;
}


.thumbnail .caption a.btn{
  position: absolute;
  top:5px;
  left:0px;
  height: 24px;
}
.thumbnail .caption a.btn-danger{
  position: absolute;
  top:5px;
  left:auto;
  right:0px;
}

.thumbnail .caption a.reorder-thumb.up{
  top: 44px;
}

.thumbnail .caption a.reorder-thumb.down{
  top: 44px;
  left:auto;
  right:0px;
}
