{{{view.manage_header}}}

<div class="container">

<div class="row header">
	<div class="span6">{{#page_title}}<h2>{{.}}</h2>{{/page_title}}</div>
	<div class="span6 right">{{#link_new}}<a href="{{.}}" class="btn btn-large">Create New Newsletter <span class="icon-plus"></span></a>{{/link_new}}</div>
</div>

{{#has_data}}
{{{view.newsletter_table}}}
{{/has_data}}

{{^has_data}}
<div class="alert alert-info">
	<strong>There are no newsletters yet.</strong> Create one <a href="{{link_new}}">now</a>!
</div>
{{/has_data}}

{{#archive_button}}
<a href="{{url}}" class="btn btn-mini">{{title}}</a>
{{/archive_button}}

</div>

{{{view.manage_footer}}}