{{{view.manage_header}}}
<div id="loading_screen" style="position:absolute;background-color:#000000;opacity:0.7;z-index:9999;top:0;left:0;width:0;height:0;color:#FFFFFF;">Sending...</div>
<div class="container">

<div class="row header">
	<div class="span6">{{#page_title}}<h2>{{.}}</h2>{{/page_title}}</div>
	<div class="span6 right">{{#link_back}}<a href="{{.}}" class="btn btn-large"><span class="icon-arrow-left"></span> Back</a>{{/link_back}}</div>
</div>

{{{form}}}
<button id="preview_email">Preview</button><button id="send_emails">Send Emails</button>

{{{view.manage_footer}}}

<script>
	$(document).ready(function() {
		var url = "/ajax/newsletter_email";
		
		$("#preview_email").live("click", function() {
			var myWindow = window.open("", "Preview", "width=800, height=600");
			myWindow.document.write($("#body").val());
		});
		
		$("#send_emails").live("click", function() {
			var data = { body: $("#body").val(), title: $("#title").val() };
			$("#loading_screen").css("width", "100%");
			$("#loading_screen").css("height", $(document).height());
			$.post(url, data, function(response) {
				$("#loading_screen").css("width", "0");
				$("#loading_screen").css("height", "0");
				alert(response);
			});
		});
	});
</script>