{{{view.manage_header}}}

<div class="container">

<div class="row header">
	<div class="span6">{{#page_title}}<h2>{{.}}</h2>{{/page_title}}</div>
	<div class="span6 right">{{#link_back}}<a href="{{.}}" class="btn btn-large"><span class="icon-arrow-left"></span> Back</a>{{/link_back}}</div>
</div>

<div class="cover_image_preview">
	{{#preview}}<div class="article-image-bg" style="background-image: url({{.}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;"></div>{{/preview}}
	{{^preview}}<div class="article-image-bg" style="background-color: #A0A6A6; background-image: url(); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;"></div>{{/preview}}
	<div class="update_cover"></div>
	<button class="update_cover_btn btn btn-large">Update Cover</button>
	
</div>
<div class="article_form">
	<form id="edit" method="POST" action="" class="well" enctype="multipart/form-data"><input type="hidden" id="id" name="id" value="{{review.id}}">
		<div class="fileupload fileupload-new" data-provides="fileupload">
			<div class="input-append">
				<div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="change_cover fileupload-exists">Change</span><input type="file" id="main_image" name="main_image" class="" value="{{review.cover_image}}"></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
			</div>
		</div>
	
		<div class="article_left">
			<label for="author_name">Author Name</label>
			<input type="text" id="author" name="author" class="" value="{{review.author}}">
			<label for="title">Title</label>
			<input type="text" id="title" name="title" class="fillslug" value="{{review.title}}">
			<label for="slug">Slug</label>
			<input type="text" id="slug" name="slug" value="{{review.slug}}">
			<label for="shoe_id">Shoe</label>
			<select id="shoe_id" name="shoe_id" class="" value="">
				{{{shoes_options}}}
			</select>
		</div>
		
		<div class="article_excerpt">
			<label for="excerpt">Excerpt (Max 250 Characters)</label>
			<div class="input">
				<textarea id="excerpt" name="excerpt">{{review.excerpt}}</textarea>
			</div>
		</div>
		
		<label for="body">Body</label>
		<div class="input">
			<textarea id="body" name="body">{{review.body}}</textarea>
		</div>
		<div class="preview-btn right">
			<a class="btn btn-large" href="/reviews/{{review.slug}}" target="_blank">Preview</a>
		</div>
		
		<label for="publish_date">Publish</label>
		<div class="input">
			<select id="publish_date" name="publish_date" class="" value="">
				{{#published}}
				<option value="1" selected="selected">Yes</option> 
				<option value="0">No</option> 
				{{/published}}
				{{^published}}
				<option value="1">Yes</option> 
				<option value="0" selected="selected">No</option> 
				{{/published}}
			</select>
		</div>
		<div class="actions">
			<input type="submit" id="submit" name="submit" class="btn btn-primary" value="Save">
			<a href="/manage" class="btn">Cancel</a>    
		</div>
	</form>

</div>

{{{form}}}

{{{view.manage_footer}}}

<script>
	$(document).ready(function() {
		$(".update_cover_btn").live("click", function() {
			$("#main_image").click();
		});
		
		$(".change_cover").live("click", function() {
			$("#main_image").click();
		});
	});
</script>

<style>
	#main_image, .fileupload-new {
		display: none;
	}
	
	.fileupload .uneditable-input {
		border-radius: 0;
	}
	
	.fileupload {
		position: absolute;
		margin-top: -55px;
		margin-left: -20px;
		margin-bottom: 0;
	}
	
	.update_cover {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100px;
		background-color: #000;
		opacity: 0.5;
		display: none;
		transition: 1s;
	}
	
	.update_cover_btn {
		position: absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -71px;
		display: none;
		transition: 1s;
	}
	
	.cover_image_preview {
		position: relative;
	}
	
	.cover_image_preview:hover .update_cover, .cover_image_preview:hover .update_cover_btn {
		display: block;
	}
	
	.preview-btn {
		display: block;
	}
	
	.btn-large {
		box-shadow: none;
		border-radius: 0;
	}

	.btn {
		background-image: none;
		background-color: #EB1C39;
		font-family: rigby;
		text-transform: uppercase;
		transition: 0.5s;
		color: #FFFFFF;
		box-shadow: none;
		border-radius: 0;
	}
	.btn:hover {
		background-color: #FFFFFF;
		color: #000;
	}
	
	.article_left {
		width: 49%;
		margin: 0;
	}
	
	#author, #title, #slug, #shoe_id {
		width: 100%;
	}
	
	.article_excerpt {
		width: 49%;
		float: right;
		margin-top: -256px;
	}
	
	.article_excerpt textarea {
		width: 99%;
		height: 212px !important;
	}
	
	.well #body {
		width: 99.5%;
		height: 400px;
	}
