<table class="table table-striped" width="100%">
	<thead>
		<h4>Unpublished</h4>
		<tr>
			<th>Id</th>
			<th>Author</th>
			<th>Title</th>
			<th>Slug</th>
			<th>Excerpt</th>
			<th>Shoe Id</th>
			<th>Added</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#reviews_unpublished}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{author}}</td>
			<td>{{title}}</td>
			<td>{{slug}}</td>
			<td>{{excerpt}}</td>
			<td>{{shoe_id}}</td>
			<td>{{entry_datetime}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<a href="#" class="reorder up btn" rel=reviews><span class="icon-arrow-up"></span></a>
				<a href="#" class="reorder down btn" rel=reviews style="float:right;"><span class="icon-arrow-down"></span></a>
			</td>
		</tr>
	{{/reviews_unpublished}}
	</tbody>
</table>
<table class="table table-striped" width="100%">
	<thead>
		<h4>Published</h4>
		<tr>
			<th>Id</th>
			<th>Author</th>
			<th>Title</th>
			<th>Slug</th>
			<th>Excerpt</th>
			<th>Shoe Id</th>
			<th>Added</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#reviews_data}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{author}}</td>
			<td>{{title}}</td>
			<td>{{slug}}</td>
			<td>{{excerpt}}</td>
			<td>{{shoe_id}}</td>
			<td>{{entry_datetime}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<a href="#" class="reorder up btn" rel=reviews><span class="icon-arrow-up"></span></a>
				<a href="#" class="reorder down btn" rel=reviews style="float:right;"><span class="icon-arrow-down"></span></a>
			</td>
		</tr>
	{{/reviews_data}}
	</tbody>
</table>