<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th>Id</th>
			<th>Entry Datetime</th>
			<th>Title</th>
			<th>Author</th>
			<th>Body</th>
			<th>Excerpt</th>
			<th>Main Image</th>
			<th>Publish Date</th>
			<th>Slug</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#journals_data}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{entry_datetime}}</td>
			<td>{{title}}</td>
			<td>{{author}}</td>
			<td>{{body}}</td>
			<td>{{excerpt}}</td>
			<td>{{main_image}}</td>
			<td>{{publish_date}}</td>
			<td>{{slug}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<a href="#" class="reorder up btn" rel=journals><span class="icon-arrow-up"></span></a>
				<a href="#" class="reorder down btn" rel=journals style="float:right;"><span class="icon-arrow-down"></span></a>
			</td>
		</tr>
	{{/journals_data}}
	</tbody>
</table>