{{{view.manage_header}}}
<div class="login-screen">

<form id="admin_login" method="POST">
	<input type="text" id="email" name="email" placeholder="email" autocomplete="off" required /><br />
	<input type="password" id="password" name="password" placeholder="password" autocomplete="off" required />
	<div class="actions">
		<input type="submit" id="submit" name="submit" class="btn" />
		<a href="/manage" class="btn">Cancel</a>
	</div>	
</form>

</div>
{{{view.manage_footer}}}

<style>
	#admin_login {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -60px;
	}
	
	#email, #password {
		opacity: 0.5;
		background-color: #FFFFFF;
		border-radius: 0;
	}
	
	#submit {
		background-color: #EB1C39;
		color: #FFFFFF;
	}
	
	.btn {
		border: none;
		font-family: rigby;
		text-transform: uppercase;
		background-image: none;
		text-shadow: none;
		border-radius: 0;
	}
</style>