<h4 class="subheader">Admins</h4>
<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th>Id</th>
			<th>Username</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th width="180">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#admin_data}}
		<tr>
			<td>{{id}}</td>
			<td>{{username}}</td>
			<td>{{firstname}}</td>
			<td>{{lastname}}</td>
			<td>{{email}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

			

			</td>
		</tr>
	{{/admin_data}}
	</tbody>
</table>
<h4 class="subheader">Users</h4>
<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th>#</th>
			<th>Username</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th width="180">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#users_data}}
		<tr>
			<td>{{id}}</td>
			<td>{{username}}</td>
			<td>{{firstname}}</td>
			<td>{{lastname}}</td>
			<td>{{email}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

			

			</td>
		</tr>
	{{/users_data}}
	</tbody>
</table>