<div class="activity_container">
	{{#user_activity}}
		{{#comment}}
		<div class="row">
			<div class="col-md-12 activity">
				<div class="row">
					<div class="col-xs-3 col-md-3">
						{{#article_info}}
						<div class="activity-image" style="background-image: url({{article_image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center center; background-size: cover;"></div>
						{{/article_info}}
						{{^article_info}}
							{{#user_replied_to_you}}
								<div class="activity-image" style="background-image: url(/uploads/images/{{user_that_replied_image}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center center; background-size: cover;"></div>
							{{/user_replied_to_you}}
							{{^user_replied_to_you}}
								<div class="activity-image" style="background-image: url(/uploads/images/{{replied_to_user}}); -ms-background-position-x: center; -ms-background-position-y: center; background-position: center center; background-size: cover;"></div>
							{{/user_replied_to_you}}
						{{/article_info}}
					</div>
					<div class="col-xs-1 col-md-1 activity_icon_container">
						<i class="fm_icon activity_icon">&#45;</i>
					</div>
					<div class="col-xs-8 col-md-8 mobile-activity-content">
						{{#article_info}}
						<span class="activity_title">Commented on <a href="{{article_prefix}}{{slug}}">{{title}}</a></span>
						{{/article_info}}
						{{^article_info}}
							{{#user_replied_to_you}}<span class="activity_title"><a href="/profile/{{user_that_replied_username}}">{{user_that_replied}}</a> replied to {{identifier}} <a href="{{article_prefix}}{{article_slug.slug}}{{object_url}}">comment</a></span>{{/user_replied_to_you}}
							{{^user_replied_to_you}}<span class="activity_title">replied to <a href="/profile/{{user_username}}">{{user_fullname}}'s</a> <a href="{{article_prefix}}{{article_slug.slug}}{{object_url}}">comment</a></span>{{/user_replied_to_you}}
						{{/article_info}}
						<span class="activity_date">&nbsp;/&nbsp;{{date_time}}</span>
						</br>
						<span class="activity_body">&ldquo;{{comment_body}}&rdquo;</i></span>
					</div>
				</div>
			</div>
		</div>
		{{/comment}}
	{{/user_activity}}
	
	{{#has_activities}}
	<div class="load_activities row" data-profile="{{profile_page}}" data-userprofileid="{{profile_data.user_id}}">
		<div class="col-md-12 load_more">
			<a>Load More</a><img class="loading_animation" src="/images/loading-red.gif"/>
		</div>
	</div>
	{{/has_activities}}
</div>