{{{view.frontend_header}}}

<div class="wrap">

{{#error}}<div class="error">{{.}}</div>{{/error}}

<form id="edit" method="POST" action="" enctype="multipart/form-data">
	<input type="hidden" id="id" name="id" class="" value="{{id}}" />
	<!-- UPLOAD STUFF HERE -->

	<div class="clearfix">
	    <label for="image_filename">File</label>
	    <div class="input">
	        <input type="file" name="image_filename[]" id="image_filename" />
	    </div>
	</div>

	<input type="hidden" name="filename" id="filename" value="{{filename}}" />

	<div class="actions">
		<input type="submit" id="submit" name="submit" class="btn btn-primary" value="Save"  />
		<a href="/manage/items/edit/11" class="btn">Cancel</a>    
	</div>

</form>


<div id="file-info"></div>
<div id="output"></div>
<p id="preview_container"></p>


</div>



<script>

document.getElementById('image_filename').onchange = function(){
    var files = document.getElementById('image_filename').files;
    for(var i = 0; i < files.length; i++) {
        resizeAndUpload(files[i]);
    }
};

function resizeAndUpload(file) {

	var reader = new FileReader();
    reader.onloadend = function() {
 
    var tempImg = new Image();
    tempImg.src = reader.result;
    tempImg.onload = function() {
 
        var MAX_WIDTH = 800;
        var MAX_HEIGHT = 800;
        var tempW = tempImg.width;
        var tempH = tempImg.height;
        if (tempW > tempH) {
            if (tempW > MAX_WIDTH) {
               tempH *= MAX_WIDTH / tempW;
               tempW = MAX_WIDTH;
            }
        } else {
            if (tempH > MAX_HEIGHT) {
               tempW *= MAX_HEIGHT / tempH;
               tempH = MAX_HEIGHT;
            }
        }
 
        var canvas = document.createElement('canvas');
        canvas.width = tempW;
        canvas.height = tempH;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(this, 0, 0, tempW, tempH);
        var dataURL = canvas.toDataURL("image/jpeg");
 
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(ev){

            if(xhr.readyState == 4 && xhr.status == 200){
    	         if(xhr.responseText != 'error'){
    	     		document.getElementById('filename').value = xhr.responseText;
    	     		document.getElementById('preview_container').innerHTML = '<img src="/uploads/images/' + xhr.responseText + '" />';

    	     		//$("#preview_container img").Jcrop({aspectRatio: 1, onSelect: completeCrop});

    			} else {
    				alert('An error occurred');
    			}
            }

            
        };
 
        xhr.open('POST', '/api/upload', true);
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        var data = 'image=' + dataURL;
        xhr.send(data);

      }
 
   }
   reader.readAsDataURL(file);
}



</script>

{{{view.frontend_footer}}}