{{{view.core_head}}}
<div class="login-screen">
{{{view.frontend_header}}}

<div class="bg-overlay-darken"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-s-12 col-md-12 login-view">
				<div class="login-heading text-center">FIND WHAT'S MISSING.</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-12 col-s-12 col-md-12">
				<p class="text-center">You’re at the doorstep of the web’s most comprehensive <br />database and community for men’s footwear.<br />Find those kicks you want and join the conversation.</p>
			</div>
		</div>
		<br /><br />
		<form id="login_form" action="" method="POST" autocomplete="off">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<input id="username" class="user_login" type="text" name="email" placeholder="e-mail" />
				</div>
				<div class="col-md-1">
					<span class="glyphicon glyphicon-envelope"></span>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<input id="password" class="user_login" type="password" name="password" placeholder="password" />
				</div>
				<div class="col-md-1">
					<span class="glyphicon glyphicon-lock"></span>
				</div>
			</div>
			<br />
			{{#error}}
			<div class="row">
				<p class="error_message col-md-offset-4 text-right col-md-4">{{.}}</p>
			</div>
			{{/error}}
			<div class="row">
				<div class="col-xs-12 col-s-12 col-md-2 col-md-offset-4">
					<button type="submit" name="user_signup" class="btn btn-lg sign-button">SIGN UP</button>
				</div>
				<div class="col-xs-12 col-s-12 col-md-2 text-right">
					<button id="login_submit" type="submit" name="user_login" class="btn btn-lg log-button">LOG IN</button>
				</div>
			</div>
		</form>
	</div>
</div>
{{{view.frontend_footer}}}
</body>
</html>