{{{view.core_head}}}
<div  class="register-screen">
{{{view.frontend_header}}}

	<div class="bg-overlay-darken"></div>
	<div class="container-fluid">
		<form id="register_form" class="register_form" method="POST" action="">
			<div class="register-view"></div>
			<div class="row">
				<div id="email" class="col-md-offset-4 col-md-4">
					<input type="text" class="new_user_signup" name="email" placeholder="e-mail" value="{{temp_email}}" autocomplete="off" />
					<i class="fa check_disabled"></i>
					<div id="email_message" class="check_disabled"></div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-offset-4 col-md-4">
					<input type="password" class="new_user_signup" name="password" placeholder="password" value="{{temp_password}}" autocomplete="off" />
					<i class="fa check_disabled"></i>
					<div class="check_disabled"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-4 col-md-4">
					<input type="password" class="new_user_signup signup_space" name="confirm_password" placeholder="confirm password" autocomplete="off" />
					<i class="fa check_disabled"></i>
					<div class="check_disabled"></div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-offset-4 col-md-4">
					<input type="text" class="new_user_signup" name="username" placeholder="user name" autocomplete="off" />
					<i class="fa check_disabled"></i>
					<div id="username_message" class="check_disabled"></div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-offset-4 col-md-2">
					<input type="text" class="new_user_signup" name="firstname" placeholder="name" autocomplete="off" />
					<i class="fa check_disabled"></i>
				</div>
				<div class="col-md-2">
					<input type="text" class="new_user_signup" name="lastname" placeholder="surname" autocomplete="off" />
					<i class="fa check_disabled"></i>
					<div id="name_message" class="check_disabled"></div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-offset-4 col-md-2">
						<input type="text" class="new_user_signup" name="age" placeholder="age" autocomplete="off" />
				</div>
				<div class="col-md-2">
						<input type="text" class="new_user_signup" name="title" placeholder="title" autocomplete="off" />
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-offset-4 col-md-2">
						<input type="text" class="new_user_signup" name="city" placeholder="city" autocomplete="off" />
				</div>
				<div class="col-md-2">
						<input type="text" class="new_user_signup" name="country" placeholder="country" autocomplete="off" />
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-offset-4 col-md-2">
						<select class="form-control new_user_signup" name="shoe_size">
							<option selected="selected" disabled>shoe size</option>
							<option value="4.5">4.5</option>
							<option value="5.0">5.0</option>
							<option value="5.5">5.5</option>
							<option value="6.0">6.0</option>
							<option value="6.5">6.5</option>
							<option value="7.0">7.0</option>
							<option value="7.5">7.5</option>
							<option value="8.0">8.0</option>
							<option value="8.5">8.5</option>
							<option value="9.0">9.0</option>
							<option value="9.5">9.5</option>
							<option value="10.0">10.0</option>
							<option value="10.5">10.5</option>
							<option value="11.0">11.0</option>
							<option value="11.5">11.5</option>
							<option value="12.0">12.0</option>
						</select>
				</div>
				<div class="col-md-2">
					<select class="form-control new_user_signup" name="gender">
						<option selected="selected" disabled>gender</option>
						<option value="male">male</option>
						<option value="female">female</option>
					</select>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-offset-4 col-md-2">
					<a type="submit" class="btn btn-lg back-button">BACK</a>
				</div>
				<div class="col-md-2 text-right">
					<input type="hidden" name="user_signup2" value="signup" />
					<a id="submit_form" name="precheck" class="btn btn-lg signup-button">SIGN UP</a>
					<div id="error_messages" class="check_disabled"></div>
				</div>
			</div>
		</form>
	</div>
</div>

{{{view.frontend_footer}}}
</body>
</html>