<div class="sidebar">
	<h2>{{user_data.fullname}}</h2>
	<div class="profile-pic">
		<a href="/account/image"><img src="{{user_data.image}}" alt=""></a>
	</div>
	
	<div class="account-links">
		<ul>
			<li><a href="/account/settings">Settings</a></li>
			<li><a href="/account/logout">Logout</a></li>
		</ul>
	</div>

</div> <!-- /.sidebar -->