{{{view.core_head}}}
	<div class="articles-screen">
		{{{view.frontend_header}}}
		<div id="main_container" class="container-fluid">
			<div class="article-page-fix"></div>
			<div class="user-screen row">
				<div class="col-md-8 no-padding-right"> <!-- User Info -->
					<div class="row"> <!-- User Head -->
						<div class="col-md-12 profile-head-outer">
							<div class="bg-overlay-infrared user-profile-head">
								<div class="row">
									<div class="col-md-12">
										<span class="user-name">{{user_data.fullname}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<span class="user-info">{{user_data.city}} {{user_data.country}} {{user_data.age}} {{user_data.title}}</span>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- // END User Head -->
					<div class="row"> <!-- User Body -->
						<div class="col-xs-4 col-s-4 col-md-4">
							<div class="user-profile-pic" style="background-image: url({{user_data.image}}); -ms-background-position-x: center; -ms-background-position-y: bottom; background-position: center; background-size: cover;">
								<div class="update_profile_picture"></div>
								<i class="camera-icon fa fa-camera"></i>
								<span class="update_profile_picture_text">Update Profile Picture</span>
							</div>
							<div class="text-right">
							<ul class="user-social-media">
								{{#user_data.website}}<li><a href="{{user_data.website}}" target="_blank">website</a></li>{{/user_data.website}}
								{{#user_data.facebook}}<li><a href="{{user_data.facebook}}" target="_blank">facebook</a></li>{{/user_data.facebook}}
								{{#user_data.twitter}}<li><a href="{{user_data.twitter}}" target="_blank">twitter</a></li>{{/user_data.twitter}}
								<li><a href="" data-toggle="modal" data-target="#edit_profile">edit your profile</a></li>
							</ul>
							</div>
						</div>
						<div class="col-xs-8 col-s-8 col-md-8">
							{{#user_data.bio}}<div class="user-bio">{{{user_data.bio}}}</div>{{/user_data.bio}}
							{{^user_data.bio}}<p class="user-bio">No Bio</p>{{/user_data.bio}}
						</div>
					</div> <!-- // END User Body -->
				</div> <!-- // END User Info-->
				
				<div class="col-md-4 no-padding-left">
					<div id="account-navigation">
						<div class="row">
							<ul class="nav nav-pills nav-justified account-options">
								<li class="active col-xs-3 col-md-3"><a href="#user_activity" data-toggle="tab"><i class="fm_icon">5</i></a></li>
								<li class="col-xs-3 col-md-3"><a href="#user_messages" data-toggle="tab"><i class="fm_icon">1</i></a></li>
								<li class="col-xs-3 col-md-3"><a href="#user_bookmarks" data-toggle="tab"><i class="fm_icon">2</i></a></li>
								<li class="col-xs-3 col-md-3"><a href="#user_settings" data-toggle="tab"><i class="fm_icon">3</i></a></li>
							</ul>
						</div>
						
						<div class="tab-content row">
							<div id="user_activity" class="tab-pane fade in active">
								<div class="col-md-12">
									{{{view.account_activity}}}
								</div>
							</div>
							<div id="user_messages" class="tab-pane fade">
								<div class="col-md-12">
									<!--<h1>messages</h1>-->
								</div>
							</div>
							<div id="user_bookmarks" class="tab-pane fade">
								<div class="col-md-12">
									{{#bookmarks}}
									<div class="row favorites" data-shoeid="{{id}}">
										<div class="col-xs-3 col-md-3">
											<div class="activity-image" style="background-image: url(/images/footwear/{{image}}); -ms-background-position-x: bottom; -ms-background-position-y: bottom; background-position: bottom; background-size: cover;"></div>
										</div>
										<div class="col-xs-8 col-md-8">
											<span class="activity_title"><a href="/footwear/{{slug}}">{{brand}} {{name}}</a></span>
										</div>
										<div class="col-xs-1 col-md-1">
											<i class="remove_fav fa fa-times" title="remove"></i>
										</div>
									</div>
									{{/bookmarks}}
								</div>
							</div>
							<div id="user_settings" class="tab-pane fade ">
								<div class="col-md-12">
									<ul>
										<li><a href="" data-toggle="modal" data-target="#edit_profile">edit your profile</a></li>
										<li><a href="" data-toggle="modal" data-target="#change_password">Change Password</a></li>
										<li><a href="/account/logout">Log Out</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
		<form id="edit" method="POST" action="" enctype="multipart/form-data">
			<input type="hidden" name="submit_picture" />
			<input type="file" name="file" id="image_filename" accept="image/jpg, image/jpeg, image/png, image/gif, image/bmp, image/tiff" style="visibility: hidden; width: 1px; height: 1px" />
		</form>
		{{{view.frontend_footer}}}
	</div>
	
	<div class="modal fade" id="change_password" tabindex="-1" role="dialog" aria-labelledby="change_password" aria-hidden="true">
		<div class="modal-dialog inner_change_password">
			<div class="modal-content edit_change_password">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="change_password">Change Password</h4>
				</div>
				<div class="modal-body">
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-md-12">
							<input type="password" name="current_password" value="" placeholder="current password" />
						</div>
					</div>
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-md-12">
							<input type="password" name="confirm_password" value="" placeholder="confirm password" />
						</div>
					</div>
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-md-12">
							<input type="password" name="new_password" value="" placeholder="new password" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<img class="save_animation" src="/images/loading-red.gif"/>&nbsp;&nbsp;
					<span class="password_message"></span>&nbsp;&nbsp;
					<button type="button" class="btn close-button" data-dismiss="modal">CLOSE</button>
					<button type="button" class="btn change_password_button" >SAVE</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="edit_profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog inner_edit_profile">
			<div class="modal-content edit_profile_content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
				</div>
				<div class="modal-body">
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-md-4">
							<i class="fa fa-user"></i>&nbsp;
							<input type="text" name="edit_name" value="{{user_data.fullname}}" placeholder="name" />
						</div>
						<div class="col-md-4">
							<i class="fa fa-calendar-o"></i>&nbsp;
							<input type="text" name="edit_age" value="{{user_data.age}}" placeholder="age" />
						</div>
					</div>
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-md-4">
							<i class="fa fa-globe"></i>&nbsp;
							<input type="text" name="edit_city" value="{{user_data.city2}}" placeholder="city" />
						</div>
						<div class="col-md-4">
							<i class="fa fa-globe"></i>&nbsp;
							<input type="text" name="edit_country" value="{{user_data.country2}}" placeholder="country" />
						</div>
						<div class="col-md-4">
							<i class="fa fa-briefcase"></i>&nbsp;
							<input type="text" name="edit_title" value="{{user_data.title2}}" placeholder="title" />
						</div>
					</div>
					<div class="row" style="padding-bottom: 10px;">
						<div class="col-md-4">
							<i class="fa fa-laptop"></i>&nbsp;
							<input type="text" name="edit_website" value="{{user_data.website}}" placeholder="website" />
						</div>
						<div class="col-md-4">
							<i class="fa fa-facebook-square"></i>&nbsp;
							<input type="text" name="edit_facebook" value="{{user_data.facebook}}" placeholder="facebook" />
						</div>
						<div class="col-md-4">
							<i class="fa fa-twitter-square"></i>&nbsp;
							<input type="text" name="edit_twitter" value="{{user_data.twitter}}" placeholder="twitter"/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1">
							<p>Bio</p>
						</div>
						<div class="col-md-11">
							<textarea name="edit_bio">{{user_data.bio}}</textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<img class="save_animation" src="/images/loading-red.gif"/>&nbsp;&nbsp;
					<button type="button" class="btn close-button" data-dismiss="modal">CLOSE</button>
					<button type="button" class="btn save-profile-button" >SAVE</button>
				</div>
			</div>
		</div>
	</div>
