<h4 class="subheader">Filter:
	<select id="filter_brand">
		<option value="0" selected>All Brands</option>
		{{#all_brands}}<option value="{{id}}">{{title}}</option>{{/all_brands}}
	</select>
	<img class="loading_image" src="/images/fm_loading-smooth.gif" />
</h4>
<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th>Id</th>
			<th>Brand</th>
			<th>Name</th>
			<th>Styles</th>
			<th>Tags</th>
			<th>Price</th>
			<th>Rating</th>
			<th>Colors</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody class="footwear_collections">
	{{#footwears_data}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{brand_id}}</td>
			<td>{{model_name}}</td>
			<td>{{style_id}}</td>
			<td>{{tags}}</td>
			<td>{{price}}</td>
			<td>{{rating}}</td>
			<td>{{color_id}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}
			</td>
		</tr>
	{{/footwears_data}}
	</tbody>
</table>