<!DOCTYPE HTML>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Become a #FoundMissing Founder today. We empower our users day by day">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="icon" 
      type="image/png" 
      href="/icon.png">
{{#meta}}
    <meta {{{.}}}/>
    
{{/meta}}

{{#head_js}}
    <script type="text/javascript" {{{.}}}></script>
{{/head_js}}

{{#css}}
    <link rel="stylesheet" type="text/css" {{{.}}}/>
{{/css}}
{{#less}}
    <link rel="stylesheet/less" type="text/css" {{{.}}}/>
{{/less}}
</head>
<body>