{{{view.manage_header}}}

<div class="container">

<div class="row header">
	<div class="span6">{{#page_title}}<h2>{{.}}</h2>{{/page_title}}</div>
	<div class="span6 right">{{#link_back}}<a href="{{.}}" class="btn btn-large"><span class="icon-arrow-left"></span> Back</a>{{/link_back}}</div>
</div>

{{{form}}}
<script>
	$(document).ready(function() {
		$('#slider').change(function() {
			if(this.checked) {
				$("#position").attr("disabled", "disabled"); 
				$(this).val(1);
			} else {
				$("#position").removeAttr("disabled");
				$(this).val(0);
			}
		});
		
		$('#type').on('change', function() {
			var url = '/ajax/frontpageoptions';
			var data = { type: 'parent_id', article_type: this.value };
			
			$.post(url, data, function(response) {
				$("#parent_id").html(response);
			});
		});
		
		if ($('#slider').val() == 1) {
			$('#slider').prop('checked', true);
			$("#position").attr("disabled", "disabled"); 
		} else {
			$('#slider').prop('checked', false);
			$("#position").removeAttr("disabled");
		}
	});
</script>
{{{view.manage_footer}}}