{{{view.manage_header}}}

<div class="container">

<div class="row header">
	<div class="span6">{{#page_title}}<h2>{{.}}</h2>{{/page_title}}</div>
	<div class="span6 right">{{#link_back}}<a href="{{.}}" class="btn btn-large"><span class="icon-arrow-left"></span> Back</a>{{/link_back}}</div>
</div>

<div class="row">
		<div class="span5">
			{{{form}}}
		</div>
		<div class="span7">
			<div class="well">
				<u>Attachments</u>	
				<!--<div class="attachment" style="margin-top:4px;">
					<ul class="thumbnails">
					{{#attachments}}
					<li class="span2" style="background:white" rel="{{item_attachment_id}}">
						<div class="thumbnail">
		
							<div class="thumb" style="height:120px; overflow:hidden;">{{{preview}}}</div>
							<div class="caption">
								
								<a href="{{edit_url}}" class="btn btn"><i class=" icon-edit"></i></a>
								<a href="{{delete_url}}" class="btn btn-danger"><i class="icon-white icon-ban-circle"></i></a>

								<br />

								<a href="#" class="reorder-thumb up btn"><span class="icon-arrow-left"></span></a>
								<a href="#" class="reorder-thumb down btn"><span class="icon-arrow-right"></span></a>
							
							</div>
						</div>
					</li>
					{{/attachments}}
					</ul>
				</div>-->

				{{#add_attachment}}

				<div class="btn-group">
					  <a href="{{url}}" class="btn btn-info">Add</a>
					  <a href="{{multiple}}" class="btn btn-info">Add Multiple</a>
				</div>
				
					  {{#album_attachments}}
						<img src="{{image}}" />
					  {{/album_attachments}}


				{{/add_attachment}}

				{{^add_attachment}}
				<em>Item must be saved before attachments can be added.</em>
				{{/add_attachment}}
			</div>
		</div>
</div>

{{{view.manage_footer}}}