<table class="table table-striped" width="100%">
	<thead>
		<h4>Unpublished</h4>
		<tr>
			{{#gallyer_unpublished}}
			<th>Id</th>
			<th>Title</th>
			<th>Description</th>
			<th>Author</th>
			<th>Date</th>
			<th width="230">Actions</th>
			{{/gallyer_unpublished}}
			{{^gallyer_unpublished}}
			<th>None</th>
			{{/gallyer_unpublished}}
		</tr>
	</thead>
	<tbody>
	{{#gallyer_unpublished}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{title}}</td>
			<td>{{description}}</td>
			<td>{{author_name}}</td>
			<td>{{entry_datetime}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<a href="#" class="reorder up btn" rel=gallerys><span class="icon-arrow-up"></span></a>
				<a href="#" class="reorder down btn" rel=gallerys style="float:right;"><span class="icon-arrow-down"></span></a>
			</td>
		</tr>
	{{/gallyer_unpublished}}
	</tbody>
</table><table class="table table-striped" width="100%">
	<thead>
		<h4>Published</h4>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Description</th>
			<th>Author</th>
			<th>Date</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#gallerys_data}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{title}}</td>
			<td>{{description}}</td>
			<td>{{author_name}}</td>
			<td>{{entry_datetime}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<a href="#" class="reorder up btn" rel=gallerys><span class="icon-arrow-up"></span></a>
				<a href="#" class="reorder down btn" rel=gallerys style="float:right;"><span class="icon-arrow-down"></span></a>
			</td>
		</tr>
	{{/gallerys_data}}
	</tbody>
</table>