<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th>#</th>
			<th>Key</th>
			<th>Value</th>
			<th width="180">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#contents_data}}
		<tr>
			<td>{{id}}</td>
			<td>{{k}}</td>
			<td>{{v}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

			</td>
		</tr>
	{{/contents_data}}
	</tbody>
</table>