{{{view.manage_header}}}

<div class="container">

<div class="row header">
	<div class="span6">{{#page_title}}<h2>{{.}}</h2>{{/page_title}}</div>
	<div class="span6 right">{{#link_back}}<a href="{{.}}" class="btn btn-large"><span class="icon-arrow-left"></span> Back</a>{{/link_back}}</div>
</div>

{{#new_winner}}
<button id='random'>Random Select Winner</button>
<br />
<form id="winner" method="POST">
	<input type="hidden" id="id" value="" />
	<input type="text" id="user_id" name="user_id" />
	<input type="text" id="winner_name" name="winner_name" />
	<input type="text" id="winner_email" name="winner_email" />
	<input type="text" id="winner_code" name="winner_code" /><br />
	<p>name of event:<input type="text" id="event" name="event" /></p>
	<p>name of prize:<input type="text" id="prize" name="prize" /></p>
	<input type="submit" id="submit" name="submit" value="Submit" />
</form>
{{/new_winner}}

{{^new_winner}}
{{{form}}}
{{/new_winner}}


<script>
	$("#random").click(function() {
		var url = '/manage/winners/ajax';
		var data = { type: 'pick_winner' };
		
		$.post(url, data, function(response) {
			var winner = $.parseJSON(response);
			
			$("#user_id").val(winner.id);
			$("#winner_name").val(winner.first + " " + winner.last);
			$("#winner_email").val(winner.email);
			$("#winner_code").val(winner.code);
			
			$("#random").attr('disabled','disabled');
		});
	});
</script>
{{{view.manage_footer}}}