{{{view.manage_header}}}
<div class="container">

<div class="row header">
	<div class="span6">{{#page_title}}<h2>{{.}}</h2>{{/page_title}}</div>
	<!--<div class="span6 right">{{#link_back}}<a href="{{.}}" class="btn btn-large"><span class="icon-arrow-left"></span> Back</a>{{/link_back}}</div>-->
</div>
</div>
{{{view.manage_footer}}}