<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th>Id</th>
			<th>User Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Code</th>
			<th>Event</th>
			<th>Prize</th>
			<th width="230">Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#winners_data}}
		<tr rel="{{id}}">
			<td>{{id}}</td>
			<td>{{user_id}}</td>
			<td>{{full_name}}</td>
			<td>{{email}}</td>
			<td>{{code}}</td>
			<td>{{event}}</td>
			<td>{{prize}}</td>
			<td>
				{{#link_view}}
				<a href="{{.}}" class="btn">View</a>
				{{/link_view}}

				{{#link_edit}}
				<a href="{{.}}" class="btn btn-primary">Edit</a>
				{{/link_edit}}

				{{#link_delete}}
				<a href="{{.}}" class="btn btn-danger">Delete</a>
				{{/link_delete}}

				{{#link_restore}}
				<a href="{{.}}" class="btn btn-primary">Restore</a>
				{{/link_restore}}

				<a href="#" class="reorder up btn" rel=winners><span class="icon-arrow-up"></span></a>
				<a href="#" class="reorder down btn" rel=winners style="float:right;"><span class="icon-arrow-down"></span></a>
			</td>
		</tr>
	{{/winners_data}}
	</tbody>
</table>