/* ==========================================================================
	ARTICLES VIEW
	========================================================================== */
	.article-container {
		position: relative;
		min-height: 1px;
	}
	
	.article-outer {
		position: relative;
		overflow: hidden;
	}

	.article-outer ul {
		width: 20000em;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	.article-outer li {
		float: left;
	}
	
	.article {
		position: relative;
		width: 330px;
	}
	
	.article-title, .single-article-title {
		position: absolute;
		top: 0;
		left: 0;
		margin-top: 40vh;
		width: 100%;
		color: #FFFFFF;
		/*font-size: 42px;*/
		z-index: 1;
		text-transform: uppercase;
		line-height: 32px;
		/*letter-spacing: 4px;*/
		font-size: 36em;
		letter-spacing: 0.16em;
		padding: 0 5px;
	}
	
	.article-author, .single-article-author {
		color: #FFFFFF !important;
		padding: 30px;
		line-height: 15px;
		font-family: georgia;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		display: none;
	}
	
	.article-button-container {
		position: absolute;
		left: 0;
		top: 0;
		margin-top: 30vh;
		width: 100%;
		display: none;
	}
	
	.article-button {
		background-color: transparent;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 1px;
		border: 1px solid #FFFFFF;
		color: #FFFFFF;
		padding: 6px 12px 4px 12px;
	}
	
	.article-description {
		position: absolute;
		left: 0;
		top: 0;
		margin-top: 55vh;
		width: 100%;
		display: none;
	}
	
	.article-description p {
		color: #FFFFFF;
		padding: 0 10%;
		text-align: center;
		font-family: Georgia, "Times New Roman", Times, serif;
		letter-spacing: 1px;
		font-size: 11px;
		line-height: 18px;
		text-shadow: 0px 0px 1px #EB1C39;
	}
	
	.article-hover {
		top: 0;
		left: 0;
		position:absolute;
		opacity:0.66;
		background-color: #EB1C39;
		width: 100%;
		height: 95vh;
		display: none;
	}
	
	.article:hover .article-hover, .article:hover .article-author, .article:hover .article-button-container, 
	.article:hover .article-description, .article:hover .article-link, .article-container:hover .article-carousel-prev, 
	.article-container:hover .article-carousel-next, .article-container:hover .article-left, .article-container:hover .article-right  {
		display: block;
	}
	
	.article-link {
		z-index: 98;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		display: none;
	}
	
	.article-heading-single {
		width: 100%;
		position: relative;
		padding-bottom: 20px;
	}
	
	.article-box {
		height: 300px;
		width: 350px;
		background-color: #EB1C39;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -150px;
		margin-left: -175px;
	}
	
	.article-box h1 {
		padding: 0 10px;
	}
	
	.single-article-title {
		font-size: 24px;
		margin-top: 40%;
		padding: 0 5px;
		font-family: rigby;
	}
	
	.single-article-author {
		display: block;
	}
	
	.article-carousel-prev, .article-carousel-next {
		z-index: 99;
		display: none;
		position: absolute;
		height: 100%;
		color: #FFFFFF;
		height: 100%;
		width: 50px;
		top: 0;
		cursor: pointer;
	}
	
	.article-carousel-prev:hover, .article-carousel-next:hover {
		background-color: #000000;
		opacity: 0.2;
	}
	
	.article-outer a:hover {
		text-decoration: none;
		color: #FFFFFF;
	}
	
	.article-carousel-prev, .article-left, span.article-arrow {
		left: 0;
		padding-left: 10px;
	}
	
	.article-carousel-next, .article-right, span.article-arrow {
		right: 0;
		padding-right: 10px;
	}
	
	.article-carousel-prev.inactive, .article-carousel-next.inactive {
		opacity: 0;
		cursor: default;
	}
	
	span.article-arrow {
		padding-top: 20vh;
		margin-top: 20vh;
		position: absolute;
		font-size: 72px;
	}
	
	.article-navigation {
		border-bottom: 1px solid #A0A6A6 !important;
		border-top: 1px solid #A0A6A6 !important;
		margin-top: 30px;
		width: 100%;
		padding: 30px 0;
	}
	
	.article-navigation a, .article-navigation a {
		color: #535858;
	}
	
	.article-navigation a:hover, .article-navigation a:hover {
		color: #535858;
		text-decoration: none;
	}
	
	.article_caption {
		font-family: rigby;
		font-size: 21px;
	}
	
	.article_caption_small {
		font-family: rigby;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 1px;
	}
	
	.article_body {
		line-height: 36px;
		font-size: 16px;
		font-family: georgia;
	}
	
	.article_image {
		width: 100%;
		height: auto;
	}
	
	.indent {
		text-indent: 30px;
	}
	
	.right_image {
		padding-right: 0px;
	}
	
	.left_image {
		padding-left: 0;
	}
	
	.article_notes {
		font-style: italic;
		font-size: 12px;
	}
	
	.special_pads {
		padding-left: 0;
		padding-right: 15px;
	}
	
	.special_pads:nth-child(2) {
		padding-right: 7.5px;
		padding-left: 7.5px;
	}
	
	.special_pads:nth-child(3) {
		padding-right: 0;
		padding-left: 15px;
	}
	
	.special_pads_small {
		padding-left: 0;
		padding-right: 7.5px;
	}
	
	.special_pads_small:nth-child(2), .special_pads_small:nth-child(3) {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
	
	.special_pads_small:nth-child(4) {
		padding-right: 0;
		padding-left: 7.5px;
	}
	
	.product_details {
		color: #A0A6A6;
		font-style: italic;
		font-size: 14px;
	}
	
	.details {
		margin-top: -10px;
	}

	@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
		.special_pads:nth-child(1), .special_pads:nth-child(2), .special_pads:nth-child(3), .special_pads_small, 
		.special_pads_small:nth-child(2), .special_pads_small:nth-child(3), .special_pads_small:nth-child(4) {
			padding: 15px;
		}
		
		.article, .article-image-bg, .article-hover {
			height: 95vh;
		}
		
		.article-carousel-next, .article-carousel-prev {
			display: block;
		}
		
		.article-box {
			width: 100%;
			height: 185px;
			left: 0;
			bottom: 0;
			top: auto;
			margin-left: 0;
		}
		
		.article-title, .article-description {
			padding-right: 30px;
		}
		
		.article-description {
			margin-top: 0;
			top: 65%;
		}
		
		.single-article-title {
			font-size: 20px;
			margin-top: 25%;
		}
		
		.single-article-author {
			font-size: 12px;
			padding: 15px;
		}
		
		.article-container {
			padding-right: 15px;
			padding-left: 15px;
		}
		
		.leading_title {
			font-size: 16px;
		}
		
		.article_body {
			line-height: 28px;
			font-size: 14px;
		}
		
		.right_image {
			padding-right: 15px;
		}
		
		.left_image {
			padding-left: 15px;
		}
	}
	
	@media only screen 
	and (min-width : 1824px) {
		.article-image-bg, .article-hover {
			height: 95vh;
		}
	}
	
	/* TARGET ONLY SAFARI 5.X BROWSERS */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .article-image-bg, .article-hover {
			height: 583px;
		}
		
		::i-block-chrome, .article-button-container {
			margin-top: 196.5px;
		}
		
		::i-block-chrome, .article-description {
			margin-top: 360.25px;
		}
		
		::i-block-chrome, .article-title {
			margin-top: 262px;
		}
		
		::i-block-chrome, span.article-arrow {
			padding-top: 131px;
			margin-top: 131px;
		}
		
		::i-block-chrome, .single-article-title {
			margin-top: 147.375px;
		}
	}
	
	@media only screen and (max-width: 990px), only screen and (max-device-width: 990px) {
		.right_image {
			padding-right: 15px;
		}
		
		.left_image {
			padding-left: 15px;
		}
		
		.special_pads:nth-child(1), .special_pads:nth-child(2), .special_pads:nth-child(3), .special_pads_small, 
		.special_pads_small:nth-child(2), .special_pads_small:nth-child(3), .special_pads_small:nth-child(4) {
			padding: 15px;
		}
	}
	
	@media only screen 
	and (min-width : 1824px) 
	and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .article-image-bg, .article-hover {
			height: 901px;
		}
		
		::i-block-chrome, .article-button-container {
			margin-top: 286.5px;
		}
		
		::i-block-chrome, .article-description {
			margin-top: 525.25px;
		}
		
		::i-block-chrome, .article-box {
			height: 430px;
			margin-top: 214.875px;
		}
		
		::i-block-chrome, .article-title {
			margin-top: 382px;
		}
		
		::i-block-chrome, span.article-arrow {
			padding-top: 191px;
			margin-top: 191px;
		}
		
		::i-block-chrome, .single-article-title {
			margin-top: 150px;
		}
	}