/* ==========================================================================
		LOG IN VIEW
		========================================================================== */
	.login-screen {
		background: url(/images/butes.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		overflow: auto;
		color: #FFFFFF;
	}

	.login-screen .user_login {
		opacity: 0.9;
		background: transparent;
		border: solid 2px #FFFFFF;
		width: 100%;
		text-align:center;
		font-style: italic;
		font-size: 1.2em;
	}

	.login-screen .user_login:focus {
		background-color: #232B2B;
		opacity: 0.5;
		color: #FFFFF;
		font-style: normal;
	}

	.login-heading {
		font-size: 48px;
		font-family: rigby;
	}

	.login-view, .register-view {
		margin-top: 10%;
	}

	.login-message {
		text-align: center;
		width: 50%;
	}

	.login-help {
		padding-left: 2px;
		color: #ED1B38;
		font-size: 20px;
		font-weight: bold;
	}

	.sign-button, .back-button, .close-button {
		background-color: #7F121C;
		border-radius: 0px;
		font-family: rigby;
		color: #FFFFFF;
	}

	.log-button, .signup-button {
		background-color: #F21C3A;
		border-radius: 0px;
		font-family: rigby;
		color: #FFFFFF;
	}
	
	.error_message {
		color: #EB1C39;
	}



/* ==========================================================================
	REGISTER VIEW
	========================================================================== */
	.register-screen {
		background: url(/images/unbox.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		overflow: auto;
		color: #FFFFFF;
	}

	.register_form {
		z-index: 50;
	}

	.register-screen .new_user_signup {
		opacity: 0.9;
		background: transparent;
		border: solid 2px #FFFFFF;
		width: 100%;
		text-align:center;
		font-style: italic;
		font-size: 1.2em;
	}

	.register-screen .new_user_signup:focus {
		background-color: #232B2B;
		opacity: 0.5;
		color: #FFFFFF;
		
	}

	select.new_user_signup { 
		color: #FFFFFF;
		border-radius: 0;
	}

	@-moz-document url-prefix() {
		select.new_user_signup { 
			text-indent: 0;
		}
	}

	.signup_space {
		margin-top: 3px;
	}

	.back-button, .signup-button {
		width: 60%;
	}
	
	.fa-times {
		font-size: 20px;
		color: #EB1C39;
	}

	.fa-check {
		font-size: 20px;
		color: #66CC33;;
	}

	.check_disabled {
		display: none;
	}

	.check_active {
		display: block;
		position: absolute;
		/*right: 20px;*/
		right: -10px;
		top: 4px;
	}

	.message_active {
		display: block;
		color: #EB1C39;
		position: absolute;
		/*left: 470px;*/
		right: -215px;
		top: 3px;
		width: 200px;
	}

	.name_active {
		display: block;
		color: #EB1C39;
		position: absolute;
		right: -175px;
		top: 10px;
		width: 200px;
	}

/* ==========================================================================
	MOBILE VIEWS
	========================================================================== */
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
	/* ================================
		LOG IN / REGISTER VIEW
		================================ */
		.login-view {
			margin-top: 20%;
		}
		
		 .register-view {
			margin-top: 25%;
		 }
		
		.login-screen .user_login {
			width: 100%;
			font-size: 1.5em;
			margin-top: -40px;
		}
		
		.login-screen .sign-button {
			marign-top: 20px;
		}
		
		.register-screen .new_user_signup {
			width: 100%;
			font-size: 1.5em;
		}
		
		.register-screen input[name="firstname"], .register-screen input[name="password"], .register-screen select[name="age"], .register-screen select[name="country"] {
			margin-top: -10px;
		}
		
		.register-screen input[name="lastname"], .register-screen input[name="confirm_password"], .register-screen select[name="gender"], .register-screen select[name="shoe_size"] {
			margin-top: 10px;
		}
		
		.sign-button, .log-button, .signup-button, .back-button {
			width: 100%;
			margin-bottom: 4px;
		}
		
		.login-screen .glyphicon-envelope, .login-screen .glyphicon-lock {
			display: none;
		}
}