/* ==========================================================================
	GALLERY VIEW
	========================================================================== */
	
	.album_outer {
		min-height: 93vh;
	}
	
	.album_box {
		height: 45.5vh;
		overflow: hidden;
		padding: 0;
	}
	
	.album_box_inner {
		padding: 2px;
	}
	
	.album-image-bg {
		width: 100%;
		height: 46vh;
	}
	
	.album_box_inner .item-hover {
		position: relative;
		height: 46vh;
		cursor: pointer;
		background-color: #000;
		display: block;
		opacity: 0.2;
		-o-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-ms-transition-duration: 0.5s;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}
	
	.album_box:hover .item-hover {
		display: block;
		background-color: #EB1C39;
		opacity: 0.5;
	}
	
	.album_box:hover .gallery_description, .album_box:hover .gallery_author {
		display: block;
	}
	
	.view_album_inner {
		top: 4.5vh;
		position: fixed;
		/*width: 800px;*/
		width: 58.565%;
		left: 20.7174%;
		font-family: rigby;
	}
	
	.modal {
		z-index: 9999;
	}
	
	.item {
		height: 89vh;
	}
	
	.view_album_content {
		border-radius: 0;
		height: 89vh;
	}
	
	.view_album_image {
		height: 100%;
	}
	
	.view_album_image_full {
		height: 100% !important;
		width: auto !important;
		margin: 0 auto;
	}
	
	.view_album_body {
		height: 89vh;
		padding: 0;
	}
	
	.gallery_title {
		display: block;
		position: absolute;
		top: 50%;
		text-align: center;
		width: 100%;
		margin: 0;
	}
	
	.gallery_title h1, .gallery_description, .gallery_author {
		margin: 0;
		font-size: 24px;
		color: #FFFFFF;
		font-family: rigby;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.gallery_description, .gallery_author {
		font-family: georgia;
		text-transform: none;
		font-size: 14px !important;
		letter-spacing: 0;
		position: absolute;
		top: 70%;
		text-align: center;
		width: 100%;
		display: none;
		-o-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-ms-transition-duration: 0.5s;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}
	
	.gallery_author {
		top: 5%;
	}
	
	.vew_album_footer {
		background: #000;
		opacity: 0.4;
	}
	
	.modal-header {
		position: absolute;
		background-color: transparent;
		height: 15px;
		z-index: 9999;
		border: none;
		right: 0;
	}
	.modal-header button {
		opacity: 0.4;
	}
	
	.modal-header button:hover {
		color: #EB1C39;
		text-shadow: 0 1px 0 #EB1C39;
		opacity: 1;
	}
	
	.fullscreen {
		background: none;
		-webkit-appearance: none;
		margin-right: 10px;
		border: none;
		line-height: 1;
	}
	
	.carousel-indicators {
		top: 15px;
	}
	
	.image-data-background {
		background-color: #000;
		height: 115px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: 0.4;
	}
	
	.carousel-caption {
		height: 110px;
		width: 100%;
		left: 0;
		bottom: 0;
		padding: 0;
		text-align: left;
	}
	
	.carousel-caption h3 {
		font-size: 18px;
		margin-top: 10px;
		margin-left: 10px;
		margin-bottom: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	.carousel-caption p {
		margin-left: 10px;
		width: 75%;
		font-family: "verdana";
	}
	
	@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
		
		.view_album_content {
			height: 100%;
		}
		
		.view_album_image_full {
			height: auto !important;
			width: 100% !important;
			margin: auto 0 !important;
		}
		
		.item {
			height: 100vh;
		}
		
		.album_box_inner {
			padding: 5px;
		}
		
		.view_album_inner {
			margin: 0;
			left: 0;
			top: 0;
			width: 100%;
		}
		
		.album_outer {
			padding-right: 10px;
			padding-left: 10px;
		}
		
		.gallery_description, .gallery_author {
			font-size: 8px;
		}
		
		.close {
			font-size: 32px;
		}
		
		.album_box:first-child {
			margin-top: -5px;
		}
		
		.carousel-caption h3 {
			font-size: 14px;
			margin: 0;
			padding: 15px 15px 0 15px;
		}
		
		.carousel-caption p {
			font-size: 11px;
			width: 100%;
			margin: 0;
			padding: 0 15px;
		}
	}
	
	/* Safari */
	@media only screen 
	and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .album_outer {
			min-height: 596px;
		}
		
		::i-block-chrome, .album-image-bg, .album_box_inner .item-hover {
			height: 285px;
		}
		
		::i-block-chrome, .album_box {
			height: 295px;
		}
		
		::i-block-chrome, .view_album_inner {
			top: 30px;
		}
		
		::i-block-chrome, .item, .view_album_content, .view_album_body {
			heght: 572px;
		}
		
		::i-block-chrome, .view_album_image {
			height: 572px;
		}
	}
	
	@media only screen 
	and (min-width : 1824px) 
	and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .album_outer {
			min-height: 890px;
		}
		
		::i-block-chrome, .album-image-bg, .album_box_inner .item-hover {
			height: 430px;
		}
		
		::i-block-chrome, .album_box {
			height: 445px;
		}
	}

	@media only screen and (min-width: 1824px) {
		.album_outer {
			min-height: 901px;
		}
	}
