html, body {
	position: relative;
	height: auto;
	min-height: 100%;
}

.register-screen {
	background: url(/images/boots.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	overflow: auto;
	color: #FFFFFF;
	z-index: -1;
}

.bg-overlay-darken {
	width:100%;
	height:100%;
	opacity:0.5;
}

#main_container {
	min-height: 81vh;
	z-index: 9999;
}

.fm_text {
	letter-spacing: 10px;
	text-transform: uppercase;
	font-family: rigby;
}

#founder_form {
	background-color: #CCCCCC;
}

@media only screen and (max-width: 990px), only screen and (max-device-width: 990px) {
	
}