/* ==========================================================================
	HOMEPAGE VIEW
	========================================================================== */	
	.box_excerpt {
		margin-left: 10%;
		position: absolute;
		width: 80%;
		text-align: center;
		top: 70%;
		display: none;
		font-family: "Georgia";
		font-size: 14px;
	}
	
	.box_date {
		position: absolute;
		top: 15px;
		width: 100%;
		text-align: center;
		display: none;
		font-family: "Georgia";
		font-style: italic;
		font-size: 14px;
	}
	
	.box_button_link, .smaller_box_link {
		position: absolute;
		top: 35%;
		left: 50%;
		margin-top: -22px;
		margin-left: -85px;
		padding: 8px 8px 6px 8px;
		width: 170px;
		font-size: 18px;
		background-color: transparent;
		border: 2px solid #FFFFFF;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: center;
		color: #FFFFFF;
		display: none;
	}
	
	.smaller_box_link {
		font-size: 16px;
		top: 25%;
		padding: 6px;
	}
	
	.box_button_link:hover, .smaller_box_link:hover {
		color: #FFFFFF;
		cursor: pointer;
		background-color: #EB1C39;
		text-decoration: none;
	}
	
	.box_overlay {
		background-color: #000;
		opacity: 0.2;
		height: inherit;
		display: block;
		-o-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}
	
	.box_overlay_toggle {
		background-color: #EB1C39 !important;
		opacity: 0.5;
	}
	
	.box_inner {
		cursor: pointer;
		position: relative;
	}
	
	.push_bottom {
		height: 10px;
	}
	
	.last_feature_image {
		height: 250px;
	}
	
	.left_box, .right_box {
		position: relative;
		color: #FFFFFF;
		font-family: rigby;
	}
	
	.left_box {
		padding-right: 5px;
		padding-left: 0;
	}
	
	.right_box {
		padding-left: 5px;
		padding-right: 0;
	}
	
	.right_box_1 {
		padding-left: 5px;
	}
	
	.remove_row_margin {
		margin-top: 10px;
	}
	
	.carousel-control{
		width: 150px;
	}
	
	.main_icon {
		position: absolute;
		font-size: 38px;
		right: 20px;
		top: 0;
		color: #FFFFFF;
		font-style: normal;
	}
	
	.main_inner {
		padding: 0;
	}
	
	#features a {
		color: #FFFFFF;
	}
	
	#features a:hover {
		color: #FFFFFF;
		text-decoration: none;
	}
	
	.main_title h1, .box_text h1, .box_small_text h1 {
		font-size: 36px;
		letter-spacing: 0.16em;
		top: 50%;
		width: 100%;
		position: absolute;
		margin: 0;
		margin-top: -18px;
		text-transform: uppercase;
		padding-left: 110px;
		padding-right: 110px;
	}
	
	.box_small_text h1 {
		top: 45%;
	}
	
	.main_feature_image {
		height: 400px;
	}
	
	.features {
		height: 400px;
		font-family: rigby;
		color: #FFFFFF;
		position: relative;
	}
	
	.main_outer {
		font-family: rigby !important;
	}
	
	.box_text h1 {
		font-size: 36px;
	}
	
	.box_small_text h1 {
		padding: 0;
		font-size: 32px;
		position: absolute;
	}
	
	@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
		.left_box, .right_box, .right_box_1  {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.remove_row_margin, .right_box, .right_box_1 {
			margin-top: 15px;
		}
		
		.box_excerpt {
			margin-left: 5%;
			width: 90%;
			font-size: 10px;
		}
		
		.carousel-control{
			width: 50px;
		}
		
		.carousel-control span {
			margin-top: -40px;
		}
		
		.main_title h1, .box_text h1, .box_small_text h1 {
			padding-left: 0px;
			padding-right: 0px;
			font-size: 22px;
		}
		
		.main_outer {
			padding-left: 15px;
			padding-right: 15px;
		}
	
	}
	
	@media only screen and (max-width: 990px), only screen and (max-device-width: 990px) {
		.right_box {
			margin-top: 10px;
		}
		
		.main_title h1 {
			padding-left: 15px;
			padding-right: 15px;
		}
	}