/* ==========================================================================
	INTERVIEWS VIEW
	========================================================================== */
	.interview_container {
		font-family: rigby;
		color: #FFFFFF;
	}
	
	#main_container {
		height: 100% !important;
	}

	.interview_outer {
		position: relative;
		padding-left: 0;
		padding-right: 0;
	}
	
	.interview_inner {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 89vh;
		padding-top: 15px;
	}
	
	.interview_inner .archives_link {
		font-size: 7px;
		letter-spacing: 6px;
		z-index: 100;
	}
	
	.archives_link a {
		color: #FFFFFF;
	}
	
	.archives_link a:hover {
		color: #A0A6A6;
	}
	
	.archives_link p {
		visibility: hidden;
		font-size: .9em;
		letter-spacing: 0.1em;
	}
	
	.archives_link:hover p {
		visibility: visible;
	}
	
	.interview_inner .details {
		margin-top: 210px;
	}
	
	.interview_inner .details h1 {
		text-transform: uppercase;
		border-bottom: 1px #FFFFFF solid;
		font-size:2.6em;
		letter-spacing:0.16em;
	}
	.interview_inner .details .row {
		margin-top: -10px;
	}
	
	.interview_inner .details .left_box {
		/*margin-top: 150px;*/
		font-family: georgia;
		position: relative;
	}
	
	.rotate_position {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		position:absolute;
		right: 0;
		top: 40px;
		font-size: 17px;
		line-height: 25px;
	}
	
	.interview_inner .details .right_box {
		border-left: #FFFFFF solid 1px;
		padding-top: 15px;
		padding-left: 15px;
		height: 35vh;
		font-style: italic;
		position: relative;
	}
	
	.right_box .quote {
		font-family: georgia, serif;
		font-size: 1.2em;
	}
	
	.interview_inner .details .right_box .comment_box {
		position: absolute;
		left: 15px;
		bottom: 0;
		padding: 5px 15px;
		text-transform: uppercase;
		width: 200px;
		font-style: normal;
		background-color: transparent;
		border: 1px solid #FFFFFF;
		font-size: .9em;
		letter-spacing: 0.1em;
	}
	
	.right_box a {
		color: #FFFFFF;
	}
	
	.right_box a:hover {
		text-decoration: none;
	}
	
	.interview_inner .details .right_box .comment_box:hover {
		background-color: #EB1C39;
		border: 1px solid #EB1C39;
		cursor: pointer;
	}
	
	.interview_overlay {
		background-color: #000;
		opacity: 0.5;
		height: 100%;
		width: 100%;
	}
	
	.archive_outer {
		min-height: 89vh;
	}
	
	
	.circular {
		width: 100px;
		height: 100px;
		border-radius: 50px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
	}
	
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
		margin-top: -45px;
	}
	
	.carousel-control {
		width: 8%;
	}
	
	.home_button {
		display: none;
	}
	
	@media only screen 
	and (max-width: 767px), only screen 
	and (max-device-width: 767px) {
		.interview_inner .details h1 {
			font-size: 18px;
			margin-top: -75px;
			padding-left: 15px;
		}
		.interview_inner .details .row {
			margin-top: 0;
		}
		.interview_inner .details .left_box {
			margin-top: 125px;
			padding-right: 35px;
			font-size: 10px;
		}
		
		.article_box {
			margin-top: 70px !important;
		}
		
		.interview_inner .details .right_box {
			padding: 30px;
			margin: 0;
			height: 130px;
			border-left: none;
			text-align: center;
		}
		
		.interview_inner .details .right_box .quote {
			font-size: 14px;
		}
		
		.interview_inner .details .right_box .comment_box {
			left: 35%;
			bottom: 0;
		}
		
		.interview_outer {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.carousel-control.right {
			right: 15px;
		}
		
		.carousel-control.left {
			left: 15px;
		}
		
		.rotate_position {
			-webkit-transform: rotate(0deg);
			position: relative;
			top: 0;
			font-size: 14px;
			line-height: 14px;
		}
		
		.article_comment_box {
			bottom: -15px !important;
		}
		
	}
	
	@media only screen 
	and (max-width: 990px), only screen 
	and (max-device-width: 990px) {
		.interview_inner .details h1 {
			font-size: 18px;
			margin-top: -75px;
			padding-left: 15px;
		}
		.interview_inner .details .row {
			margin-top: 0;
		}
		.interview_inner .details .left_box {
			margin-top: 125px;
			padding-right: 35px;
			font-size: 10px;
		}
		
		.interview_inner .details .right_box {
			padding: 30px;
			margin: 0;
			height: 130px;
			border-left: none;
			text-align: center;
		}
		
		.interview_inner .details .right_box .quote {
			font-size: 14px;
		}
		
		.interview_inner .details .right_box .comment_box {
			bottom: -50px;
			left: 38%;
		}
		
		.article_comment_box {
			bottom: -15px !important;
		}
		
		.article_box {
			margin-top: 70px !important;
		}
	}
	
	@media only screen 
	and (min-width : 1824px) {
		.interview_outer, .article-image-bg, .archive_outer  {
			min-height: 92vh;
		}
		
		.outer {
			min-height: 885px;
		}
	}
	
	@media only screen 
	and (max-width: 480px), only screen 
	and (max-device-width: 480px) {
		.interview_inner .details .right_box .comment_box {
			left: 26%;
		}
	}
	
	/* TARGET ONLY SAFARI 5.X BROWSERS */
	@media screen 
	and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .interview_inner {
			height: 583px;
		}
		
		::i-block-chrome, .archive_outer, .interview_outer, .article-image-bg  {
			min-height: 583px;
		}
		
		::i-block-chrome, .interview_inner .details {
			margin-top: 196.5px;
		}
		
		::i-block-chrome, .interview_inner .details .right_box {
			height: 229px;
		}
	}
	
	@media only screen 
	and (min-width : 1824px) 
	and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .interview_inner {
			height: 850px;
		}
		
		::i-block-chrome, .archive_outer, .interview_outer, .article-image-bg  {
			min-height: 879px;
		}
		
		::i-block-chrome, .interview_inner .details {
			margin-top: 286.5px;
		}
		
		::i-block-chrome, .interview_inner .details .right_box {
			height: 334px;
		}
	}