/* Journal */

.journal_row, .journal_col {
	height: 60vh;
	padding: 0;
    margin: 0;
}

.album-image-bg {
	height: inherit;
}

.journal_link {
	color: #FFFFFF;
	font-size: 28px;
}

.journal-image-bg {
	height: 100vh;
}

.journal_link:hover, .journal_link:active {
	color: #FFFFFF;
	text-decoration: underline;
	z-index: 9999;
}

.box_text {
	z-index: 2;
	position: absolute;
    width: 100%;
    text-align: center;
	top: 50%;
    margin-top: -50px;
	letter-spacing: 6px;
	padding: 15px;
	text-transform: uppercase;
}

.box_overlay, .main_overlay {
    z-index: 1;
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
	-o-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.box_overlay_toggle {
	background-color: #EB1C39 !important;
	-o-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}