@font-face {
	font-family: 'rigby_2';
		src:url('/fonts/rigby_v10-webfont.eot');
		src:url('/fonts/rigby_v10-webfont.eot?#iefix') format('embedded-opentype'),
			url('/fonts/rigby_v10-webfont.woff') format('woff'),
			url('/fonts/rigby_v10-webfont.ttf') format('truetype'),
			url('/fonts/rigby_v10-webfont-webfont.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
.color_infrared {
	color: #EB1C39;
}

.color_grey {
	color: #535858;
}

.color_nav_trans {
	color: #FFFFFF;
	background-color: transparent;
	transition: .3s;
}

.color_nav_white {
	color: #535858;
	transition: .3s;
	background-color: #FFFFFF;
}

.color_nav_white a {
	color: #535858 !important;
}

#nav_logo {
	width: 32px;
	height: 32px;
}

.navbar-nav > li > a {
	font-size: 16px !important;
	color: #FFFFFF;
}

.nav_logo_trans {
	transition: .3s;
	/*background: url('/images/fm-whitetrans-32.png') no-repeat;*/
	background: url('/images/fm-redtrans-32.png') no-repeat;
}

.nav_logo_red{
	transition: .3s;
	background: url('/images/fm-redtrans-32.png') no-repeat;
}

.nav_trans_backgroud {
	background: rgba(0, 0, 0, 0.7);
}

#home_container {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: black;
	padding: 0;
	font-family: 'rigby_2';
	color: #FFFFFF;
}

.background_one {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background: url('http://i64.tinypic.com/2i1hwet.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	opacity: 0.6;
}

.background_two {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 1;
	background: url('/images/free.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.learn_button, .fm_main_button {
	padding: 10px 15px;
	text-transform: uppercase;
	border: 2px #FFFFFF solid;
	width: 250px;
	font-size: 21px;
    margin: 0 auto;
	margin-top: 20px;
	transition: .5s;
}

.fm_main_button {
	width: 400px;
	border: 1px #555 solid;
	color: #555;
}

.learn_button:hover, .fm_main_button:hover {
	cursor: pointer;
	background-color: #EB1C39;
}

.fm_main_button:hover {
	border: 1px solid #EB1C39;
	color: #FFFFFF;
}

#homepage_navbar {
	width: 100%;
	bottom: 0;
	position: absolute;
	color: #FFFFFF;
	z-index: 9999;
	height: 50px;
}

.nav_inner {
	margin-right: 0;
}

.navbar-brand img {
	width: 32px;
	height: auto;
}

#navigation_title {
	font-size: 21px;
    letter-spacing: 10px;
    text-transform: uppercase;
	margin-top: 12px;
    float: left;
	color: #FFFFFF;
}

#navigation_title:hover {
	text-decoration: none;
}

.homepage_one, .homepage_two, .homepage_three {
	z-index: 9998;
	width: 100%;
	height: 100vh;
	display: block;
}

#learn_more, .homepage_sub_box {
	background-color: #CCC !important;
	position: relative;
}

.homepage_sub_box {
	border: 1px solid #555;
}

.homepage_sub_box p, .homepage_sub_box h3, .smaller_message, .message {
	color: #555 !important;
}

.homepage_two {
	background-color: #cccccc;
}

.homepage_two, .homepage_three, .homepage_four, .homepage_five, .homepage_six, #fm_feature_header {
	display: block;
	background-color: #000000;
	opacity: 1;
}

.homepage_three, .homepage_four, .homepage_five, .homepage_six {
	background-color: #FFFFFF;
	padding: 0;
	height: auto;
}

#fm_feature_header {
	background-color: #535858;
	padding: 28px;
	font-size: 24px;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-family: rigby_2;
}

.homepage_one_a {
	position: absolute;
	height: 400px;
	top: 250px;
	width: 50%;
    margin: 0 auto;
	left: 25%;
	text-align: center;
}

.homepage_two_a {
	height: 400px;
	text-align: center;
	padding-top: 150px;
}

.homepage_one_a .message {
	padding: 10px 0;
	font-size: 21px;
	color: #FFFFFF !important;
}

.homepage_two_a .message {
	font-size: 26px;
}

.homepage_two_a .smaller_message {
	font-family:Georgia, "Times New Roman", Times, serif;
	padding: 20px 0;
	font-size: 11px;
	line-height: 22px;
}

.homepage_box {
	margin: 0;
}

.homepage_box .col-md-2 {
	padding: 10px;
	
}

.homepage_sub_box {
	height: 30vh;
	padding: 50px;
}



.homepage_sub_box h3 {
	letter-spacing: 4px;
	text-transform: uppercase;
}

.homepage_sub_box p {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.main_outer {
	padding: 0;
	margin: 0;
}

.main_inner {
	padding: 0;
}

.main_title {
	color: #FFFFFF;
	padding-top: 180px;
	color: #FFFFFF;
}


.main_icon {
	font-size: 40px;
}

.main_title h1 {
	margin: 0;
	text-decoration: none;
	letter-spacing: 8px;
	z-index: 0;
	font-size: 50px;
	padding-top: 20px;
}

.item a {
	color: #FFFFFF;
	text-decoration: none;
}

.main_feature_image, .top_feature_image {
	height: 400px;
	padding: 0;
	margin: 0;
	position: relative;
}

.top_feature_image {
	height: 500px;
}

.carousel-control {
	z-index: 9998;
}

.homepage_four, .homepage_five, .homepage_six {
	display: block;
	float: left;
	z-index: 9998;
	width: 100%;
}
.homepage_box_one, .homepage_box_two, .homepage_box_three, .homepage_box_four, .homepage_box_five, .homepage_box_six, .homepage_box_seven {
	height: 400px;
	width: 50%;
	float: left;
	position: relative;
}

.homepage_box_four_a, .homepage_box_four_b{
	width: 50%;
	float: left;
	height: inherit;
}

.box_overlay, .main_overlay {
    z-index: 1;
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
	-o-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.main_overlay {
	height: 500px;
}

.box_text, .box_date, .box_excerpt, .box_icon, .box_button_link, .smaller_box_link {
	z-index: 2;
	position: absolute;
    width: 100%;
    text-align: center;
}

.box_text {
	top: 50%;
    margin-top: -25.5px;
	letter-spacing: 6px;
	padding: 15px;
}

.box_icon {
	top: 30%;
    font-size: 44px;
}
.box_button_link, .smaller_box_link {
	text-transform: uppercase;
	font-size: 18px;
	top: 30%;
	color: #FFFFFF;
	padding: 8px 8px 6px 8px;
	border: #FFFFFF solid 2px;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	z-index: 9999 !important;
}

.box_button_link:hover, .smaller_box_link:hover {
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
	background-color: #EB1C39;
}

.box_button_link:visited, .smaller_box_link:visited {
	text-decoration: none;
	color: #FFFFFF;
}

.smaller_box_link {
	width: 150px;
	font-size: 14px;
	left: 25%;
	margin-left: -75px;
}

.box_excerpt {
	top: 70%;
    font-size: 18px;
	padding: 15px 60px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.box_date, .box_excerpt, .box_button_link, .smaller_box_link {
	display: none;
}

.box_date {
	top: 5%;
}

.box_overlay_toggle {
	background-color: #EB1C39 !important;
	-o-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#fm_connect, .fm_subscribe {
	background-color: #dbdbdb;
	height: 400px;
	color: #535858;
}

.fm_subscribe {
	padding: 35px;
}

.fm_subscribe h1 {
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-top: 80px;
	font-size: 21px;
}

#signup {
	width: 100%;
	margin-top: 50px;
}

#signup input, #signup button {
	width: 48%;
	padding: 5px 15px;
	font-size: 21px;
	letter-spacing: 3px;
}

#signup button {
	margin-left: 3%;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #535858;
	background-color: transparent;
	-o-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#signup button:hover {
	background-color: #EB1C39;
	color: #FFFFFF;
	border: 2px solid #000000;
}

.subscribe_definition {
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-top: 20px;
}

.subscribe_more_policy {
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration: underline dotted;
	-webkit-text-decoration-style: dotted;
}
@media (min-width: 992px) {
	.homepage_sub_box {
		padding: 20px;
	}
	.homepage_sub_box p {
		font-size: 12px;
	}
	.homepage_sub_box h3 {
		letter-spacing: 3px;
		font-size: 18px;
	}
}
