@font-face {
	font-family: 'rigby_2';
	src:url('/fonts/rigby_v10-webfont.eot');
	src:url('/fonts/rigby_v10-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/rigby_v10-webfont.woff') format('woff'),
		url('/fonts/rigby_v10-webfont.ttf') format('truetype'),
		url('/fonts/rigby_v10-webfont-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#homepage_navbar {
	width: 100%;
	top: 0;
	position: fixed;
	color: #535858;
	transition: .3s;
	background-color: #FFFFFF;
	z-index: 9999;
	height: 50px;
}

.nav_inner {
	margin-right: 0;
}

.navbar-brand img {
	width: 32px;
	height: auto;
}

#navigation_title {
	font-size: 21px;
    letter-spacing: 10px;
    text-transform: uppercase;
	margin-top: 12px;
    float: left;
	color: #FFFFFF;
}

#navigation_title:hover {
	text-decoration: none;
}


#homepage_navbar a {
	color: #535858 !important;
}

#nav_logo {
	width: 32px;
	height: 32px;
}

.navbar-nav > li > a {
	font-size: 16px !important;
	color: #FFFFFF;
}

.nav_logo_trans {
	transition: .3s;
	background: url('/images/fm-whitetrans-32.png') no-repeat;;
}

.nav_logo_red{
	transition: .3s;
	background: url('/images/fm-redtrans-32.png') no-repeat;;
}

.nav_trans_backgroud {
	background: rgba(0, 0, 0, 0.7);
}

#home_container {
	position: relative;
	width: 100%;
	z-index: 2;
	background-color: #FFFFFF;
	padding: 0;
	font-family: 'rigby_2';
	color: #FFFFFF;
}

.article-page-fix {
	margin-top: 50px !important;
	display:block;
	width:100%;
}

