/* ==========================================================================
	xFOUNDxMISSINGx
	========================================================================== */
	html, body {
		height: 100%;
		/*font-family: Georgia, "Times New Roman", Times, serif;*/
		font-family: "Arial", sans-serif;
	}
	
	
/* ==========================================================================
    SCROLL BAR
    ========================================================================== */
    
    @media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
        ::-webkit-scrollbar-thumb:vertical { background-color:transparent; height:0 !important; }
        ::-webkit-scrollbar { height:0; width:0; background-color:transparent; z-index:-1;}
    }
    
    

/* ==========================================================================
	FONTS
	========================================================================== */
	@font-face {
	font-family: 'rigby';
		src:url('/fonts/rigby_v8-webfont.eot');
		src:url('/fonts/rigby_v8-webfont.eot?#iefix') format('embedded-opentype'),
			url('/fonts/rigby_v8-webfont.woff') format('woff'),
			url('/fonts/rigby_v8-webfont.ttf') format('truetype'),
			url('/fonts/rigby_v8-webfont-webfont.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
	/* FONT-FACE CHROME RENDERING */
	/*@media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
			font-family: 'rigby';
			src: url('/fonts/rigby_v8-webfont-webfont.svg') format('svg');
		}
	}*/
	
	@font-face {
	font-family: 'fm_icons';
		src:url('/fonts/fm_icons-webfont.eot');
		src:url('/fonts/fm_icons-webfont.eot?#iefix') format('embedded-opentype'),
			url('/fonts/fm_icons-webfont.woff') format('woff'),
			url('/fonts/fm_icons-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	.fm_icon {
		font-family: 'fm_icons';
	}
	
/* ==========================================================================
	OVERLAY COLOURS
	========================================================================== */
	.bg-image .bg-overlay-darken, .bg-image .bg-overlay-darkgrey, .bg-image .bg-overlay-grey, 
	.bg-image .bg-overlay-lightgrey, .bg-image .bg-overlay-infrared, .bg-image .bg-overlay-pink, .bg-overlay-darken {
		width:100%;
		height:100%;
		position:absolute;
		opacity:0.5;
	}

	.bg-overlay-darken {
		background-color: #000;
	}
	
	.bg-overlay-darkgrey {
		background-color: #535858;
	}
	
	.bg-overlay-grey {
		background-color: #A0A6A6;
	}
	
	.bg-overlay-lightgrey {
		background-color: #F1F2F2;
	}
	
	.bg-overlay-infrared {
		background-color: #EB1C39;
	}
	
	.bg-overlay-pink {
		background-color: #F27F98;
	}
	
	.fm_grey {
		color: #A0A6A6;
	}
	


/* ==========================================================================
	HEADER - NAVIGATION BAR
	========================================================================== */
	#top_bar {
		margin: 0;
		left: 0;
		position: fixed;
		z-index: 9998;
		width: 100%;
		background-color: #FFFFFF;
		height: auto;
		border-bottom: 1px solid #ddd;
	}
	
	.user_info {
		padding-left: 0;
		padding-top: 8px;
		font-size: 12px;
	}

	.user_info p {
		margin: 0em;
		text-align: right;
		width: 100%;
		font-family: rigby;
	}

	.user_info p.user_name {
		text-transform: uppercase;
		color: #232B2B;
	}

	.user_info .user_points {
		color: #F1899F;
		font-style: italic;
		font-family:Georgia, "Times New Roman", Times, serif;
		text-transform: lowercase !important;
	}

	.user_image {
		height: 48px;
		width: 48px;
		margin-top: 1px;
		float: right;
		margin-right: -1px;
		position: relative;
	}
	
	#image_menu {
		cursor: pointer;
	}

	.divider-vertical {
		border-right: 1px dotted #A8AFAF;
		border-left: 1px dotted #A8AFAF;
		padding: 0px 0.5%;
		min-height: 40px;
		text-align: center;
		margin-top: -7px;
		height: 43px;
	}

	.glyphicon-align-justify {
		font-size: 20px;
	}

	#s-label {
		cursor: pointer;
		z-index: 9999;
	}

	#s {
		width: 0px;
		position: absolute;
		top: 15px;
		left: -430px;
		color: #ccc;
		font-size: 16px;
		border-radius: 2px;
		border: none;
		box-shadow: inset 0px 1px 0 #222;
		float: left;
		padding: 0;
	}

	#s:focus {
		border: 1px solid rgba(200, 200, 200, 1);
		width: 500px; 
		outline: none;  
		background: #FFFFFF;
		box-shadow: none;
		color: #666;
		padding: 5px;
		margin-top: -5px;
	}

	#mobile_search, #mobile_item {
		display: none;
	}
	
	.navbar-brand img {
		width: 100%;
		height: auto;
	}
	
	.user_name a {
		color: #535858;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 10px;
	}
	
	.user_name: a:hover {
		text-decoration: underline;
	}
	
	#side-menu {
		position: fixed;
		width: 500px;
		height: 100vh;
		border-left: 3px solid #EB1C39;
		right: -500px;
		top: 50px;
		background-color: #FFFFFF;
	}
	
	.active-side-menu {
		display: block;
	}
	
	.image_notification {
		background-color: #EB1C39;
		opacity: 0.4;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
	.image_notification_count {
		color: #FFFFFF;
		position: absolute;
		font-size: 24px;
		padding-top: 10px;
		width: 48px;
		text-align: center;
		font-family: rigby;
	}
	
	.disable {
		display:none;
	}
	
	
	
	/* MISC */
	.article_header_container {padding-left:0;padding-right:0;}
	
	/* CAROUSEL */
	.carousel-control.right, .carousel-control.left {
		opacity: 1;
		text-shadow: none;
		background-image: none;
	}
	
/* ==========================================================================
	ACTIVITY
	========================================================================== */
	.activity_container {
		height: 100%;
		font-size: 12px;
		padding: 0 0 15px 15px;
		margin-top: 15px;
	}
	
	.activity, .activity_loaded {
		margin-bottom: 15px;
		padding-left: 0;
		color: #000;
	}
	
	.activity-image {
		width: 100%;
		height: 80px;
	}
	
	.activity_icon_container {
		margin-top: 5px;
		padding-left: 5px;
	}
	
	.activity_icon, .side_icon {
		color: #EB1C39 !important;
		font-size: 48px;
	}
	
	.side_icon {
		font-size: 22px;
	}
	
	.activity_body {
		text-transform: none;
	}
	
	.activity_title, .activity_date {
		font-family: rigby;
	}
	
	.activity_title a {
		color: #535858;
	}
	
	.activity_title a:hover {
		color: #535858;
	}
	
	.load_more {
		padding-top: 15px;
		padding-left: 0;
		cursor: pointer;
		font-size: 22px;
		text-tranform: uppercase;
		font-family: rigby;
		color: #A0A6A6;
	}
	
	.load_more a {
		color: #A0A6A6;
	}
	
	.load_more a:hover {
		color: #535858;
	}
	
	.loading_animation, .save_animation, .password_message {
		display: none;
		width: 50px;
		height: 30px;
		padding-left: 15px;
		color: red;
	}

/* ==========================================================================
	FOOTER
	========================================================================== */
	.footer {
		width: 100%;
		border-bottom: solid 10px #EB1C39;
		text-transform: uppercase;
		background: #0E1212;
		padding-top: 30px;
		padding-bottom: 10px;
		position: relative;
		z-index: 8999;
	}
	
	.footer-logo {
		margin-top: -10px;
	}

	.footer-links a {
		color: #525757;
		font-family: rigby;
		letter-spacing:1px;
		font-size: 12px;
		padding: 5px 0px;
		line-height: 24px;
	}
	
	ul.social-media-links-footer {
		list-style-type: none;
	}
	
	.social-media-links-footer li {
		display: inline;
		padding: 0 8px;
		font-size: 21px;
	}
	
	.social-media-links-footer li a, .social-media-links-footer li a:hover {
		text-decoration: none;
		color: #525757;
	}

	.all_rights {
		text-transform: none;
		color: #525757;
		font-size: .8em;
		letter-spacing: 0.06em;
	}


/* ==========================================================================
	USER VIEW
	========================================================================== */
	.user-screen {
		min-height: 89vh;
		color: #FFFFFF;
		text-transform: uppercase;
	}
	
	.user_profile {
		margin-top: 5%;
	}
	
	.user-profile-head {
		height: 200px;
		padding-top: 125px;
		padding-left: 25px;
		line-height: 25px;
	}
	
	.user-name {
		font-size: 48px !important;
	}
	
	.bg-user-icon {
		position: absolute;
		top: 0px;
		right: 0px;
		padding-top: 5px;
		padding-right: 30px;
		font-size: 1.3em;
	}
	
	.user-profile-pic {
		height: 230px;
		width: 100%;
		cursor: pointer;
		position: relative;
	}
	
	.camera-icon {
		color: #FFFFFF;
		padding-left: 10px;
		padding-bottom: 10px;
		font-size: 22px;
		position: absolute;
		bottom: 0;
	}
	
	.update_profile_picture {
		display: none;
		background-color: #000000;
		width: 100%;
		height: 45px;
		opacity: 0.2;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 5px;
	}
	
	.update_profile_picture_text {
		color: #FFFFFF;
		font-family: rigby !important;
		letter-spacing: 5px;
		display: none;
		position:absolute;
		bottom: 0;
		left: 0;
		padding-left: 45px;
	}
	
	.modal-body .update_profile_picture_text {
		font-size: 24px;
		padding-bottom: 5px;
		letter-spacing: normal;
	}
	
	.user-profile-pic:hover .update_profile_picture, .user-profile-pic:hover .update_profile_picture_text{
		display: block;
	}
	
	.user-profile-pic img {
		max-height: 100%;
		max-width: 100%;
	}
	
	.user-bio {
		color: #232B2B;
		font-size: 14px;
		text-transform: none;
		padding: 15px 10px 0 0;
		margin-right: 10px;
	}
	
	.user-social-media li {
		margin: 8px 0;
	}
	
	.user-social-media li a {
		color: #232B2B;
		letter-spacing: -0.5px;
		font-size: 11px;
	}
	
	.modal-header {
		background-color: #EB1C39;
		color: #FFFFFF;
		text-transform: uppercase;
	}
	
	.modal-header button {
		color: #FFFFFF;
	}
	
	.modal-body {
		font-size: 12px;
	}
	
	textarea[name=edit_bio] {
		resize: none;
		width: 100%;
		height: 20vh;
		font-family: arial;
	}
	
	input[name=edit_website], input[name=edit_facebook], input[name=edit_twitter], .modal-body input {
		width: 90%;
		border: 0;
		font-family: arial;
	}
	
	input:focus {
		outline: 0;
		border-bottom: 1px #A0A6A6 solid;
	}
	
	textarea[name=edit_bio]:focus {
		outline: 0;
	}
	
	.inner_edit_profile {
		top: 100px;
		position: fixed;
		left: 50%;
		margin-left: -350px;
		font-family: rigby;
	}
	
	.inner_change_password {
		top: 50%;
		left: 50%;
		margin-left: -200px;
		margin-top: -137.5px;
		position: fixed;
		font-family: rigby;
	}
	
	.edit_change_password {
		width: 400px;
		height: 275px;
		border-radius: 0;
	}
	
	.edit_profile_content {
		width: 700px;
		border-radius: 0;
	}
	
	.edit_change_password input {
		width: 100%;
	}
	
	.modal-footer button {
		width: 100px;
	}
	
	.modal-footer .close-button {
		background-color: #7F121C;
		border-radius: 0px;
		font-family: rigby;
		color: #FFFFFF;
	}
	
	.modal-footer .save-profile-button, .modal-footer .change_password_button {
		background-color: #F21C3A;
		border-radius: 0px;
		font-family: rigby;
		color: #FFFFFF;
	}
	
	#account-navigation ul {
		padding-left: 15px;
	}
	
	.account-options > li > a {
		border-radius: 0;
	}
	
	.account-options {
		font-size: 24px;
	}
	
	#account-navigation .tab-content {
		padding-right: 0;
	}

	
	/* ================================
		USER NAVIGATION
		================================ */
		.user-navigation {
			position: relative;
			width: 100%;
			padding-right: 30px;
		}
		
		.user-split {
			border-top: 1px #A0A6A6 solid;
			display: block;
		}
		
		.user-tabs, .tab-content {
			margin-top: 15px;
			min-height: 1px;
			padding-right: 15px;
			padding-left: 15px;
		}
		
		.tab-content {
			color: #000;
		}
		
		.favorites {
			margin-bottom: 15px;
		}
		
		.remove_fav {
			cursor: pointer;
			display: none;
			color: #A0A6A6;
		}
		
		
		.remove_fav:hover {
			color: #EB1C39;
		}
		
		.favorites:hover .remove_fav {
			display: block;
		}
		
		#user_settings a {
			color: #535858;
		}
	

/* ==========================================================================
	PROFILE VIEW
	========================================================================== */
	.no-padding-left {
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
	
	.no-padding-right {
		margin-right: 0 !important;
		padding-right: 0 !important;
	}
	
	.profile-head-info {
		background-color: #252A2A;
		height: 200px;
		width: 100%;
		text-transform: none;
		padding-top: 65px;
		padding-left: 15px;
		font-size: 16px;
	}
	
	.profile-head-info p {
		color: #525757;
		font-style: italic;
	}
	
	.profile-head-info p span {
		color: #FFFFFF;
		font-style: normal;
	}

	
	
/* ==========================================================================
	ARTICLES VIEW
	========================================================================== */
	.articles-screen {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		overflow: auto;
		overflow-x: hidden;
		font-size: 14px;
	}
	
	.article-image-bg {
		width: 100%;
		height: 95vh;
	}
	
	.article-page-fix {
		margin-top: 54px;
	}
	
	.article-bottom-title, .article-bottom-share {
		font-size: 24px;
		text-transform: uppercase;
		color: #535858;
		font-family: rigby;
	}
	
	.article-bottom-title:hover {
		color: #000;
		text-decoration: underline !important;
	}
	
	.arrow-left, .arrow-right {
		font-size: 48px;
	}
	
	.arrow-padding {
		margin-left: -5px;
	}
	
	.a_sub {
		line-height: 10px;
		font-style: italic;
	}
	
	.article-page-bottom-fix {
		margin-top: 16px;
	}
	
	.social-media-icon i {
		color: #535858;
		font-size: 22px;
		padding: 0 20px;
		padding-top: 10px;
		position: relative;
		padding-bottom: 5px;
	}
	
	.social-media-icon .fa:hover {
		cursor: pointer;
	}
	
	.social-media-icon .fa-facebook-square:hover {
		color: #3B5998;
	}
	
	.social-media-icon .fa-tumblr:hover {
		color: #3E5A70;
	}
	
	.social-media-icon .fa-stumbleupon:hover {
		color: #EB4923;
	}
	
	.social-media-icon .fa-google-plus:hover {
		color: #DD4B39
	}
	
	.social-media-icon .fa-twitter:hover {
		color: #55ACEE
	}
	
	.social-media-icon i:hover .share_box, .social-media-icon i:hover .share_box_top, .social-media-icon i:hover .share_box_left {
		display: block;
	}
	
	.share_box, .share_box_top, .share_box_left {
		background: #FFFFFF;
		border: 2px solid #535858;
		width: 50px;
		height: 25px;
		border-radius: 0px;
		text-align: center;
		padding: 4px 2px;
		font-family: rigby;
		font-size: 12px;
		position: absolute;
		top: 7px;
		left: -35px;
		color: #A0A6A6;
		display: none;
	}
	
	.share_box:after, .share_box:before, .share_box_top:after, .share_box_top:before, .share_box_left:after, .share_box_left:before {
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	
	.share_box:after, .share_box:before {
		left: 100%;
		top: 50%;
	}

	.share_box:after {
		border-color: rgba(255, 255, 255, 0);
		border-left-color: #FFFFFF;
		border-width: 3px;
		margin-top: -3px;
	}
	.share_box:before {
		border-color: rgba(83, 88, 88, 0);
		border-left-color: #535858;
		border-width: 6px;
		margin-top: -6px;
	}
	
	.share_box_top {
		left: 2px;
		top: 36px;
	}
	
	.share_box_top:after, .share_box_top:before {
		bottom: 100%;
		left: 50%;
	}
	
	.share_box_top:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #FFFFFF;
		border-width: 3px;
		margin-left: -3px;
	}
	
	.share_box_top:before {
		border-color: rgba(83, 88, 88, 0);
		border-bottom-color: #535858;
		border-width: 6px;
		margin-left: -6px;
	}
	
	.share_box_left {
		left: 45px;
	}
	
	.share_box_left:after, .share_box_left:before {
		right: 100%;
		top: 50%;
	}
	
	.share_box_left:after {
		border-color: rgba(255, 255, 255, 0);
		border-right-color: #FFFFFF;
		border-width: 3px;
		margin-top: -3px;
	}
	
	.share_box_left:before {
		border-color: rgba(83, 88, 88, 0);
		border-right-color: #535858;
		border-width: 6px;
		margin-top: -6px;
	}
	
	.borders-share {
		border-top: 1px solid #A0A6A6;
		border-bottom: 1px solid #A0A6A6;
		padding: 15px;
	}
	
	.share-row {
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 30px;
	}
	
	/* ==========================================================================
	ARTICLE COMMENTS
	========================================================================== */

	.comment-section {
		margin-top: 40px;
		text-transform: uppercase;
	}
	
	.comment-order {
		text-transform: uppercase;
	}
	
	.comment-container {
		margin-top: 20px;
	}
	
	.comments {
		border: 2px solid #F1F2F2;
		padding: 10px;
	}
	
	.comment-user {
		position: relative;
	}
	
	.comment-user-image {
		width: 100px;
		height: 100px;
	}
	
	.comment-karma {
		padding-right: 0;
	}
	
	.comment-karma .row {
		height: 33.33333px;
		padding-bottom: 0;
	}
	
	.karma-up, .karma-down, .karma-voted-up, .karma-voted-down, .karma_novote {
		color: #A0A6A6;
		font-size: 12px;
	}
	
	.karma-voted-up i, .karma-voted-down i, .karma_novote {
		cursor: default !important;
	}
	
	.karma-voted-down i {
		color: #EB1C39;
	}
	
	.karma-voted-up i {
		color: #66CC33;
	}
	
	.karma-down, .down, .karma-voted-down i {
		margin-top: 15px;
	}
	
	
	.karma-up i, .karma-down i {
		cursor: pointer;
	}
	
	.karma-count {
		color: #535858;
		font-size: 18px;
	}
	
	.comment-body {
		padding-left: 0;
		padding-righ: 0;
		margin-left: -15px;
		color: #000;
	}
	
	.comment-owner {
		padding-left: 0;
		padding-right: 0;
	}
	
	.comment-owner a {
		color: #535858;
		text-transform: uppercase;
	}
	
	.comment-owner span, .activity_date {
		color: #A0A6A6;
	}
	
	.comment-content {
		padding: 10px 0;
	}
	
	.comment-reply {
		display: none;
		text-transform: uppercase;
		color: #A0A6A6;
		font-size: 12px;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	
	.comment-reply span {
		cursor: pointer;
	}
	
	.comment-reply .fa {
		font-size: 14px;
	}
	
	.comments:hover .comment-reply  {
		display: block;
	}
	
	.comment-reply-box-row {
		padding: 5px 15px;
		display: none;
		position: relative;
	}
	
	.comment-reply-box {
		background: #FFFFFF;
		border: 1px solid #535858;
		height: 100px;
		z-index: 1000;
		padding: 0;
	}
	
	.reply-box-ta-links {
		position: absolute;
		z-index: 1000;
		right: 15px;
		bottom: -15px;
		position: absolute;
	}
	
	.reply-submit, .cancel-button, .sub-reply-submit {
		text-transform: uppercase;
		color: #A0A6A6;
		font-size: 12px;
		background: transparent;
		padding: 0;
	}
	
	.cancel-button:hover {
		color: #535858;
		cursor: pointer;
	}
	
	.comment-reply-box:after, .comment-reply-box:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.comment-reply-box:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #FFFFFF;
		border-width: 20px;
		margin-left: -20px;
	}
	.comment-reply-box:before {
		border-color: rgba(83, 88, 88, 0);
		border-bottom-color: #535858;
		border-width: 21px;
		margin-left: -21px;
	}
	
	.reply-box-ta {
		width: 100%;
		height: 97px;
		outline: none;
		border: none;
		padding: 10px;
		position: relative;
	}
	
	.comment-reply-post {
		padding-top: 5px;
	}
	
	.comment-textarea {
		width: 100%;
		height: 100px;
		padding: 10px;
		border: 1px solid #535858;
		outline: none;
	}
	
	.comment-submit {
		background-color: transparent;
		text-transform: uppercase;
		color: #A0A6A6;
		padding: 0;
		outline: none;
	}
	
	.replied_to, .replied_to a {
		color: #535858;
	}
	
	.replied_to a {
		text-decoration: none;
		text-transform: capitalize;
		color: #A0A6A6;
	}
	
	.replied_to a:hover {
		text-decoration: underline;
	}
	
	
/* ==========================================================================
	FOOTWEAR VIEW
	========================================================================== */
	.footwear-page-fix {
		margin-top: 55px;
	}
	
	#footwear, #brands_select_button, ul li.brand_id, #start_over, ul li.styles_id, 
	span.user_brand_id:hover, .submit_refine, .color_box, .footwear_bookmark, .auto_refine  {
		cursor: pointer;
	}
	
	#footwear_tool {
		width: 100%;
		height: auto;
		position: fixed;
		left: 0;
		display: none;
	}
	
	#footwear_sidemenu {
		width: 16%;
		min-height: 89vh;
		display: none;
		position: fixed;
		left: 0;
		border-right: 3px solid #3C4141;
		background-color: #FFFFFF;
		z-index: 9000;
		top: 91px;
		font-family: rigby;
		padding-left: 15px;
		/*left: -16%;*/
	}
	
	@media only screen and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, #footwear_sidemenu {
			min-height: 581px;
		}
	}
	
	.footwear_options_row {
		border-bottom: 2px dotted #A0A6A6;
		padding-bottom: 15px;
	}
	
	.footwear_selector {
		position: absolute;
		top: 5px;
		right: 20px;
		color: #A0A6A6;
		font-size: 11px;
		cursor: pointer;
	}
	
	#footwear_category_options, #footwear_brands_options, #user_input_brand {
		position: absolute;
		height: auto;
		width: 380px;
		background-color: #FFFFFF;
		border: 1px solid #A0A6A6;
		top: 289px;
		left: 0;
		padding-left: 30px;
		display: none;
		font-family: rigby;
		font-size: 10px;
		color: #A0A6A6;
		text-transform: uppercase;
	}
	
	#footwear_brands_options {
		height: 200px;
		width: 200px;
		top: 133px;
		padding-right: 10px;
		overflow-y: auto !important;
	}
	
	#user_input_brand {
		max-height: 150px;
		width: auto;
		top: 160px;
		left: 15px;
		overflow-y: auto !important;
		z-index: 9999;
		padding-left: 5px;
	}
	
	.styles_id {
		padding-top: 5px;
	}
	
	ul li.brand_id:hover, ul li.styles_id:hover, span.user_brand_id:hover {
		color: #535858;
	}
	
	#footwear_sidemenu .footwear_label {
		text-transform: uppercase;
		color: #A0A6A6;
		padding: 15px;
		letter-spacing: 1px;
		font-size: 12px;
	}
	
	.footwear_tb {
		width: 100%;
		padding: 3px;
		font-size: 10px;
		font-style: italic;
		border:1px solid #A0A6A6;
	}
	
	#footwear_sidemenu .icon-list {
		padding-left: 0;
		font-size: 19px;
		color: #A0A6A6;
	}
	
	#footwear_side, .toggle_refine {
		background-color: #3C4141;
		min-height: 38px;
	}
	
	#footwear_search, #footwear_search_options, .submit_refine {
		background-color: #535858;
		min-height: 35px;
		padding: 9px;
		font-family: rigby;
		text-transform: uppercase;
	}
	
	#footwear_search .text, #footwear_search_options .text {
		color: #A0A6A6;
		font-size: 10px;
		letter-spacing: 1px;
	}
	
	#footwear_search .footwear_tags {
		color: #FFFFFF;
		font-size: 9px;
		display: inline;
	}
	
	.delete {
		color: #A0A6A6;
		font-size: 8px;
		padding-left: 3px;
		cursor: pointer;
	}
	
	.delete:hover {
		color: #EB1C39;
	}
	
	.footwear_tags .brand_name_tag {
		padding-left: 10px;
		display: inline;
	}
	
	#footwear_search .text i {
		margin-left: 10px;
	}
	
	#footwear_search_options .text {
		color: #FFFFFF;
	}
	
	.fw_side_menu_button {
		right: 15px;
		top: 7px;
		font-size: 17px;
		color: #A0A6A6;
		position: absolute;
		cursor: pointer;
	}
	
	.refine_search {
		position: absolute;
		bottom: 16px;
		width: 100%;
	}
	
	.toggle_refine {
		color: #A0A6A6;
		padding: 5px;
		font-size: 22px;
	}
	
	.submit_refine {
		color: #FFFFFF;
		font-size: 12px;
		letter-spacing: 1px;
		padding-top: 12px;
		min-height: 40px;
	}
	
	.selected_option {
		color: #535858;
	}
	
	.selected_color {
		border: 2px solid #000;
	}
	
	.price_other_box {
		margin-right: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.footwear_options_row input[name="min_price"], .footwear_options_row input[name="max_price"] {
		width: 50%;
		text-align: center;
		font-size: 10px;
		border:1px solid #A0A6A6;
	}
	
	.footwear_options_row input[name="max_price"] {
		border-left: none;
	}
	
	.colors_box {
		padding-right: 25px;
		padding-bottom: 15px;
	}
	
	.color_box {
		width: 10%;
		height: 20px;
		float: left;
		margin: 2px;
	}
	
	.color_box:hover {
		border: 2px solid #000;
	}
	
	.outer-shoes {
		min-height: 95vh;
		
		/*margin-left: 7.33%;
		width: 81.33%;*/
		
		margin-left: 13.33%;
		width: 73.33%;
	}
	
	.footwear_results {
		/*width: 32%;*/
		width: 32.3%;
		float: left;
		border: 2px solid #A0A6A6;
		height: 324px;
		margin: 5px;
		position: relative;
	}
	
	.footwear_results:hover {
		border: 2px solid #535858;
	}
	
	.footwear_bookmark {
		background: url('/images/fm-bookmark-grey.png') no-repeat;
		position: absolute;
		top: 0;
		right: 10px;
		height: 40px;
		width: 25px;
	}
	
	.footwear_bookmark:hover {
		background: url('/images/fm-bookmark-infrared-o.png') no-repeat;
		top: 0;
	}
	
	.footwear_bookmarked, .footwear_bookmarked:hover {
		background: url('/images/fm-bookmark-infrared.png') no-repeat;
		top: -2px;
	}
	
	.footwear_single_info {
		padding: 10px;
		font-family: rigby;
		text-transform: uppercase;
		color: #535858;
		font-size: 10px;
		width: 80%;
		font-weight: 500;
	}
	
	.footwear_single_info a {
		color: #535858;
	}
	
	.footwear_results img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0px;
		z-index: -1
	}
	
	.no_results {
		font-family: rigby;
		text-transform: uppercase;
		font-size: 72px;
		width: 100%;
		color: #535858;
		text-align: center;
		padding-top: 20%;
	}
	
/* ==========================================================================
	BOOTSTRAP OVERRIDES
	========================================================================== */

	/* ================================
		NAVIGATION BAR
		================================ */
		.navbar {
			border-radius: 0px;
			min-height: 40px;
		}

		.navbar-brand { padding: 9px 12px; font-size: 16px; line-height: 18px; }

		.navbar-nav > li > a {
			text-transform: uppercase;
			padding-top: 17px; padding-bottom: 0px; line-height: 20px;
			margin-right: 20px;
			font-family: rigby;
			font-size: 12px;
			letter-spacing: 1px;
			color: #A0A6A6;
		}
		
		.custom_nav {
			margin-top: 5px;
		}
		
		.custom_nav li a {
			text-transform: uppercase;
			font-family: rigby;
			font-size: 12px;
			letter-spacing: 1px;
			color: #A0A6A6;
			margin-top: 15px;
		}

		.navbar-nav > li > a:hover,
		.navbar-nav > li > a:focus, .custom_nav > li > a:hover, 
		.custom_nav > li > a:focus {
			background: none;
			text-decoration: none;
			border-bottom: 2px solid #535858;
			color: #535858;
		}

		.navbar-header .glyphicon-align-justify {
			color: #FFFFFF;
		}
		
		.navbar-form .glyphicon-search {
			color: #A0A6A6;
		}

		.navbar-form .glyphicon-search {
			margin-top: 14px;
			z-index: 3;
		}

		.navbar-form {
			padding-top: 0; padding-bottom: 0; line-height:18px;
		}

		.navbar .navbar-header .navbar-toggle, .navbar .navbar-header .navbar-brand, #navbar-collapse, #s {
			z-index: 9998;
		}
		
		@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
			.navbar-brand {
				display: none;
			}
			.navbar-nav {
				margin: 0;
				padding: 0;
			}
			
			.navbar-form {
				padding-left: 0;
				padding-right: 0;
			}
			
			.navbar-nav > li > a {
				color: #535858;
				margin: 0;
				padding: 0;
				font-size: 15px;
			}
			
			.navbar-nav > li {
				padding-top: 8px;
				margin-bottom: 8px
			}
			
			.navbar-nav > li > a:hover,
			.navbar-nav > li > a:focus, .custom_nav > li > a:hover, 
			.custom_nav > li > a:focus {
				border-bottom: 1px solid #535858;
			}
			
			#navbar-collapse {
				padding-left: 0;
				padding-right: 0;
			}
		}
		
		/* ================================
		TABS
		================================ */
		.nav-pills > li.active > a, .nav-pills > li.active > a:hover,
		.nav-pills > li.active > a:focus {
			color: #EB1C39;
			background-color: #FFFFFF;
		}
		
		.nav-pills > li > a:hover {
			border-color: #EB1C39;
			background-color: #EB1C39;
			color: #FFFFFF;
		}
		
		.nav-pills > li > a {
			color: #232B2B;
		}
	
/* ==========================================================================
	MOBILE VIEWS
	========================================================================== */
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

	/* ================================
		HEADER
		================================ */
		#mobile_search, #mobile_item {
			display: block;
		}
		
		#mobile_search {
			margin-left: 15px;
			margin-right: 15px;
		}
		
		.mobile_search_box {
			width: 100%;
			padding: 5px;
			color: #000;
		}
		
		#top_bar {
			height: auto;
			border-bottom: none;
		}
		
		#top_bar.transparent_bg {
			background-color: transparent;
		}
		
		#top_bar.solid_bg {
			background-color: #FFFFFF;
		}
		
		button.navbar-toggle {
			padding: 0;
			right: 15px;
			top: 14px;
			margin: 0;
			border: none;
			z-index: 9999;
			position: absolute;
		}
		
		a.home_button {
			padding: 0;
			left: 15px;
			top: 15px;
			margin: 0;
			border: none;
			z-index: 9999;
			position: absolute;
			display: block;
			width: 50px;
			height: 50px;
		}
		
		#mobile_search {
			margin-top: 50px;
		}
		
		button.navbar-toggle .glyphicon-align-justify {
			color: #FFFFFF;
			background-color: #535858; 
			width: 50px;
			height: 50px;
			font-size: 24px;
			padding-top: 13px;
		}
		
		a.home_button {
			background-color: #EB1C39 !important; 
		}
		
		#navbar-collapse {
			width: 100%;
		}
	
	/* ================================
		FOOTER
		================================ */
		.footer-links {
			z-index: 1000;
		}
	
	/* ================================
		USER VIEW
		================================ */
		.user_profile {
			margin-top: 0;
		}
		
		.user-profile-head {
			height: 150px;
			padding-top: 100px;
			padding-left: 20px;
			line-height: 15px;
		}
		
		.user-info {
			font-size: 10px;
		}
		
		.user-name {
			font-size: 36px !important;
		}
		
		.user-profile-pic {
			height: 100px;
		}
		
		.user-bio {
			color: #232B2B;
			font-size: 12px;
			margin-left: -10px;
		}
		.user-social-media li {
			margin: 5px 0;
		}
		
		#account-navigation ul, .tab-content .col-md-12 {
			padding-left: 0;
		}
		
		.update_profile_picture_text {
			letter-spacing: 0;
		}
		
		.user-screen {
			padding-right: 0 !important;
		}
		
		.account-options > li {
			width: 24%;
		}
		
		.inner_edit_profile {
			top: 4px;
			left: 4px;
			width: 100%;
			padding-right: 28px;
			position: absolute;
		}
		
		.edit_profile_content {
			width: 100%;
		}
		
		.edit_profile_content .modal-header {
			text-align: center;
			height: 51px;
		}
		
		
	/* ================================
		PROFILE VIEW
		================================ */
		.no-padding-left {
			padding-left: 15px !important;
		}
		
		.no-padding-right {
			padding-right: 15px !important;
		}
	
		.profile-head-info {
			height: 125px;
			text-transform: none;
			padding-top: 25px;
			padding-left: 15px;
			font-size: 13px;
		}
		
	/* ================================
		PAGE VIEW
		================================ */
		.page-fix {
			margin-top: 15px;
		}
	
	/* ================================
		ARTICLE VIEW
		================================ */
		.article_header_container{padding-left:15px;padding-right:15px;}
		
		.article-page-fix {
			margin-top: 0;
		}
		
		.articles-screen {
			margin-top: 15px;
		}
		
		.article-image-bg {
			height: 94vh;
		}
		
		.arrow-left, .arrow-right {
			font-size: 28px;
		}
		
		.article-bottom-title, .article-bottom-share {
			font-size: 14px;
		}
		
		.social-media-icon i {
			font-size: 20px;
			padding: 0 6px;
			padding-top: 10px;
		}
		
		.share-art {
			margin-top: 25px;
			color: 
		}
		
		.social-media-icon i:hover .share_box {
			display: none;
		}
		
		.activity_icon_container {
			padding: 0;
			margin: 0;
		}
		
		.activity_icon_container .activity_icon {
			font-size: 28px;
		}
		
		.activity-image {
			height: 50px;
		}
		
		.mobile-activity-content {
			padding-left: 0;
		}
		
		#account-navigation {
			padding-left: 0;
		}
		
		#account-navigation ul li {
			float: left;
		}
		
		.no-padding-left {
			margin-left: -15px;
		}
		
		.comment-user-image {
			width: 75px;
			height: 75px;
		}
		
		.review_box, .item_container {
			padding: 0;
		}
		
		.item_container {
			padding-right: 15px;
		}
		
		.sort-info  {
			padding: 9px 10px;
		}
		
}

	

	@media only screen and (min-width : 1824px) and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .user-screen {
			min-height: 898px;
		}
	}

/* ==========================================================================
	LARGE SCREEN VIEWS
	========================================================================== */
@media only screen and (min-width : 1824px) {

	/* ================================
		NAVIGATION BAR
		================================ */
		/*.glyphicon-search {
			color: #FFFFFF !important;
		}*/
	
	/* ================================
		TABS
		================================ */
		.user-tabs .nav-pills > li {
			font-size: 1.5em;
		}
		
		.user-tabs .nav-pills {
			margin-left: 22%;
		}
		
		.user-tabs .nav-pills > li {
			width: 100px;
		}
		
	/* ================================
		FOOTER
		================================ */
		.footer {
			border-bottom: solid 10px #EB1C39;
		}
		
		.footer-link-2 {
			margin-left: 95px;
		}
	
	/* ================================
		USER VIEW
		================================ */
		.user-screen {
			min-height: 94vh;
		}
	
		.user_profile {
			margin-top: 4%;
		}
		
		.user-profile-head {
			height: 275px;
			padding-top: 195px;
		}
		
		.user-name {
			font-size: 72px !important;
		}
		
		.bg-user-icon {
			padding-top: 15px;
			padding-right: 40px;
			font-size: 1.7em;
		}
		
		.user-profile-pic {
			height: 300px;
		}
		
		.user-bio {
			font-size: 16px;
			margin-right: 15px;
		}
		
		.user-social-media li {
			margin-bottom: 5px;
		}
		
		.user-social-media li a {
			letter-spacing: -0.2px;
			font-size: 14px;
		}
		
		.update_profile_picture_text {
			bottom: 8px;
		}

	/* ================================
		PROFILE VIEW
		================================ */
		.profile-head-info {
			height: 275px;
			padding-top: 125px;
			font-size: 18px;
		}
		
	/* ================================
		PAGE VIEW
		================================ */
		.page-fix {
			margin-top: 4%;
		}
		
	/* ================================
		ARTICLES VIEW
		================================ */
		.article {
			width: 25vw;
		}
		
		.article, .article-image-bg, .article-hover {
			height: 95vh;
		}
		
	/* ================================
		FOOTWEAR VIEW
		================================ */		
		#footwear_sidemenu {
			width: 16.2%;
		}
		
		.refine_search {
			bottom: 0;
		}
		
		#footwear_sidemenu {
			min-height: 91vh;
		}
		
		.outer-shoes {
			min-height: 93vh;
		}
		
		.footwear_results img {
			width: auto;
			max-height: 300px;
			position: absolute;
			top: 15px;
			left: 70px;
			z-index: -1
		}
	
	/* ================================
		REVIEWS VIEW
		================================ */		
		#review-items {
			min-height: 92vh;
		}
		
		.review_box {
			height: 46vh !important;
			padding: 15px 10px !important;
		}
}

@media only screen and (max-width: 1280px), only screen and (max-device-width: 1280px) {
	/* ================================
		ARTICLES VIEW
		================================ */
		.article {
			width: 304.8px;
		}
		
		.navbar-nav > li > a {
			margin-right: 3px;
		}
		
		.refine_search {
			bottom: 26px;
		}
		
		#footwear_sidemenu {
			top: 97px;
		}
}


@media only screen and (max-width: 990px), only screen and (max-device-width: 990px) {
	.navbar-nav > li > a {
		margin-right: 7px;
	}
	
	.navbar-brand {
		padding: 12px 0;
		margin-left: -10px;
	}
	
	.toggle_refine {
		min-height: 55px;
	}
	
	#footwear_sidemenu {
		top: 88px;
		min-height: 95vh;
		width: 24.2%;
	}
	
	.article-screen {
		height: 100%;
		width: 100%;
	}
	
	.user-screen {
		padding-right: 15px;
	}
	
	.item-info {
		height: 85px;
	}
	
	.review-body {
		padding-top: 10px;
		height: 195px;
	}
	
	.item-details {
		height: 202px;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.refine_search {
		bottom: 34px;
	}
	
	.toggle_refine {
		min-height: 55px;
	}
	
	.submit_refine {
		width: 75.1%;
	}
	
	#footwear_sidemenu {
			top: 94px;
			width: 27.4%
	}
	
	#footwear_side {
		width: 28%;
	}
	
	#footwear_search {
		width: 55%
	}
	
	#footwear_search_options {
		width: 16%;
	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#footwear_sidemenu {
			width: 24%
	}
	
	.refine_search {
		bottom:  0;
	}
	
	.submit_refine {
		width: 75.3%;
		min-height: 55px;
		padding-top: 20px;
	}
	
	.toggle_refine {
		padding-top: 20px;
	}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	
	#account-navigation ul {
		margin-top: 25px;
		padding-top: 25px;
	}
	
	.account-options {
		border-top: 1px solid #000;
	}
	
	#account-navigation ul li {
		margin: 0;
	}
	
	.update_profile_picture_text {
		padding-left: 35px;
		font-size: 10px;
	}
	
	.user-profile-pic .camera-icon {
		padding-left: 5px;
		padding-bottom: 5px;
		font-size: 13px;
	}
	
	.user-screen {
		padding-right: 0;
	}
	
	#top_bar ul li {
		width: 100%;
	}
	
	#navbar-collapse {
		padding: 0;
	}
	
	
}