/* ==========================================================================
	FOUNDMISSING MOBILE
	========================================================================== */
	* {
		/* prevent callout when holding tap on links (the native dialog that 
		comes up */
		-webkit-touch-callout: none;
		
		/* prevent webkit from resizing text to fit */
		-webkit-text-size-adjust: none;
		
		/* make transparent link selection, adjust last value from 0 to 1.0 */
		-webkit-tap-highlight-color: rgba(0,0,0,1.0);
		
		/* prevent copy paste, to allow change 'none' to 'text' */
		-webkit-user-select: none;
		
		/* fixes the flickering */
		-webkit-backface-visibility: hidden;
	}
	
	html, body { overflow-x: hidden; }
	
	/* turn off webkit checkbox style, works for other inputs too */
	input[type="checkbox"] { -webkit-appearance: none; }

/* ==========================================================================
	FONTS
	========================================================================== */
	@font-face {
	font-family: 'rigby';
		src:url('/fonts/rigby_v8-webfont.eot');
		src:url('/fonts/rigby_v8-webfont.eot?#iefix') format('embedded-opentype'),
			url('/fonts/rigby_v8-webfont.woff') format('woff'),
			url('/fonts/rigby_v8-webfont.ttf') format('truetype'),
			url('/fonts/rigby_v8-webfont-webfont.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}

/* ==========================================================================
	COLORS
	========================================================================== */
	.darkgrey 	{ color: #535858; }
	.grey 		{ color: #A0A6A6; }
	.lightgrey 	{ color: #F1F2F2; }
	.infrared 	{ color: #EB1C39; }
	.pink 		{ color: #F27F98; }


/* loading image */
.loading_fm {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

.loading_fm img {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -64px;
	margin-top: -64px;
}

#main, #main_article, #loadingScreen {
	position: fixed;
	top: 0 !important;
	left: 100%;
	width: 0;
	background-color: #FFFFFF;
	overflow-x: hidden;
	margin-top: 0;
}

.active_text { display: block; }

#header, #header2 {
	position: fixed;
	height: 50px;
	left: 100%;
	top: 0;
	background-color: #FFFFFF;
	z-index: 11;
	width: 100%;
}


.header, .header2 {
	display: none;
	font-size: 20px;
	padding: 15px;
}

.icon_head {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -18px;
	margin-top: -18px;
	width: 36px;
	height: 36px;
}

.toggle_layout {
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -18px;
	color: #535858;
	font-size: 30px;
}

#close2, #close {
	width: 30px;
	margin-top: -7px;
	font-size: 30px;
}
/* Galler */

.full_image {
	position: fixed;
	top: 0;
	display: none;
	z-index: 9999;
	left: 0;
	overflow: hidden;
	-webkit-transition: .3s linear;
	height: 100vh;
	width: 100%;
	background-color: #000;
}

.image_container {
	width: 100%;
	height: 100vh;
	position: relative;
}

.image_container img {
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -150px;
	position: absolute;
}

	.article_body .article_image {
		width: 100%;
		height: auto;
		padding-left: 0;
		padding-right: 0;
	}
	
	.article_body .left_image, .article_body .right_image, .special_pads, .special_pads_small {
		padding: 10px 0;
	}
	
	.indent {
		text-indent: 30px;
	}
	
	.article_notes {
		font-style: italic;
		font-size: 12px;
	}
	
	.article_caption {
		font-family: rigby;
		font-size: 19px;
	}
	
	.article_caption_small {
		font-family: rigby;
		font-size: 10px;
		line-height: 30px;
	}
	
	.article_body {
		line-height: 28px;
		font-size: 14px;
		font-family: georgia;
	}
