/* ==========================================================================
	PAGES VIEWS
	========================================================================== */
	#pages {
		text-transform: none !important;
		min-height: 91vh;
	}

	.page_header {
		background-color: #EB1C39;
		height: 28vh;
		width: 100%;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	.page_header h1 {
		color: #FFFFFF;
		font-family: rigby;
		position: absolute;
		left: 0;
		bottom: 0;
		padding-left: 15px;
	}

	.page-body {
		margin-top: 15px;
	}
	
	.page-body p {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-weight: normal;
		font-size: 11px;
		line-height: 18px;
		color: #535858;
		letter-spacing: 1px;
	}
	
	/* BRANDING */
	.panel {
		padding-bottom:100px;
		float:left;
		width: 100%;
	}
	
	.panel h1 {
		font-family: rigby;
		font-weight:normal;
		text-rendering: optimizeLegibility;
		font-size:50px;
		color:#535858;
	}

	.panel h2 {
		font-family:rigby;
		font-weight:normal;
		font-size:12px;
		letter-spacing:.2em;
		color:#535858;
		text-transform: uppercase;
	}
	
	.panel h3 {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-weight: normal;
		font-size: 11px;
		line-height: 18px;
		color: #535858;
		letter-spacing: 1px;
	}
	
	.panel h4 {
		font-family:Verdana, Geneva, sans-serif;
		font-weight:normal;
		opacity:0.7;
		text-transform:capitalize;
		font-size:9px;
		letter-spacing:1px;
		line-height: 14px;
	}
	
	.panel hr {
		background-color: #DADADA;
		height: 1px;
		border: none;
		margin-top: -10px;
	}
	
	.panel a {
		color: #EC1C3A;
		text-decoration: none;
	}
	
	.arrow-up {
		margin-bottom::-5px;
		width: 0; 
		height: 4px; 
		margin-right:8px;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-bottom: 5px solid #999999;
		float:left;
	}
	
	.arrow-down {
		margin-bottom::-5px;
		width: 0; 
		margin-top: 5px;
		margin-right:8px;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-top: 5px solid #999999;
		float:left;
	}
	
	.logowrapper {
		height:80px;
		width:100%;
		float:left;
		position:relative;
		margin:10px 0px;
	}
	
	.logowrapper#half {
		width: 48.75%;
	}
	
	#logo-p {
		background-color:#EC1C3A;
		background-image:url(../images/fm-primarytrans-64.png);
		background-repeat:no-repeat;
		background-position:center center;
		width:100%;
		position:relative;
		float:left;
		height:auto;
		padding: 8px 0px;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
	}
	
	#logo-p:hover {
		background-color:#ffffff;
		-webkit-box-shadow: inset 0px 0px 0px 1px #e2e2e2;
		-moz-box-shadow: inset 0px 0px 0px 1px #e2e2e2;
		box-shadow: inset 0px 0px 0px 1px #e2e2e2;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
	}
	
	#logo-p:hover img {
		opacity:0;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
	}
	
	#logo-p img{
		opacity:1;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
	}
	
	#logo-s{
		background-color:#ffffff;
		background-image:url(../images/fm-secwhitetrans-128.png);
		background-repeat:no-repeat;
		background-position:center center;
		width:100%;
		position:relative;
		float:left;
		height:auto;
		padding: 8px 0px;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
		-webkit-box-shadow: inset 0px 0px 0px 1px #e2e2e2;
		-moz-box-shadow: inset 0px 0px 0px 1px #e2e2e2;
		box-shadow: inset 0px 0px 0px 1px #e2e2e2;
	}
	
	#logo-s:hover{
		background-color:#EC1C3A;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	#logo-s:hover img{
		opacity:0;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
	}
	
	#logo-s img{
		opacity:1;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
	}
	
	#logo-i{
		background-color:#ffffff;
		background-repeat:no-repeat;
		background-image:url(../images/fm-whitetrans-128.png);
		background-position:center center;
		width:100%;
		position:relative;
		float:left;
		height:auto;
		padding: 8px 0px;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
		-webkit-box-shadow: inset 0px 0px 0px 1px #e2e2e2;
		-moz-box-shadow: inset 0px 0px 0px 1px #e2e2e2;
		box-shadow: inset 0px 0px 0px 1px #e2e2e2;
	}
	
	#logo-i:hover{
		background-color:#EC1C3A;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	#logo-i img{
		opacity:1;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
	}
	
	#logo-i:hover img{
		opacity:0;
		transition:ease-in  0.2s;
		-moz-transition:ease-in  0.2s;
		-o-transition:ease-in  0.2s;
		-webkit-transition:ease-in  0.2s;
	}
	
	
	/* COLOUR PANEL */
	.colour{
		height:300px;
		width:23.5%;
		float:left;
		margin-top:0px;
	}
	
	.colour2{
		height:155px;
		width:23.5%;
		float:left;
		margin-top:0px;
	}
	
	#fmred {
		background-color:#EC1C3A;
		margin-right: 2%;
	}
	
	#fmdgrey {
		background-color:#535858;
		margin-right: 2%;
	}
	
	#fmgrey {
		background-color:#A0A6A6;
		margin-right: 2%;
	}
	
	#fmlgrey {
		background-color:#F1F2F2;
		-webkit-box-shadow: inset 0px 0px 0px 1px #e2e2e2;
		-moz-box-shadow: inset 0px 0px 0px 1px #e2e2e2;
		box-shadow: inset 0px 0px 0px 1px #e2e2e2;
	}
	
	#fmwhite {
		background-color:#EC1C3A;
		margin-right: 2%;
	}
	
	#fmcharles {
		background-color:#232B2B;
		margin-right: 2%;
	}
	
	#fmpink {
		background-color:#F27F98;
		margin-right: 2%;
	}
	
	#fmgreen {
		background-color:#66CC33;
	}
	
	.colourinner{
		padding:0% 8%;
	}
	
	#fmred h3, #fmdgrey h3, #fmgrey h3, #fmgreen h3, #fmcharles h3, #fmpink h3, #fmred h4, #fmdgrey h4, #fmgrey h4, #fmgreen h4, #fmcharles h4, #fmpink h4{
		color:#ffffff;
	}
		
		
	/* TYPE PANEL */
	.typespec {
		margin-left:12%;
		margin-bottom:40px;
	}
	
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 480px) {
		#pages {
			min-height: 98vh;
		}
	}

	/* Smartphones (landscape) ----------- */
	@media only screen 
	and (min-width : 321px) {
		#pages {
			min-height: 95vh;
		}
		
		.page_header {
			min-height: 35vh;
		}
	}

	/* iPads (portrait and landscape) ----------- */
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) {
		#pages {
			min-height: 95vh;
		}
		
		.page_header {
			min-height: 35vh;
		}
	}

	/* Desktops and laptops ----------- */
	@media only screen 
	and (min-width : 1224px) {
		#pages {
			min-height: 91vh;
		}
	}

	/* Large screens ----------- */
	@media only screen 
	and (min-width : 1824px) {
		#pages {
			min-height: 94vh;
		}
	}
	
	/* TARGET ONLY SAFARI 5.X BROWSERS */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, #pages {
			min-height: 596px;
		}
		
		::i-block-chrome, .page_header {
			min-height: 183px;
		}
	}
	
	@media only screen 
	and (min-width : 1824px) 
	and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, #pages {
			min-height: 898px;
		}
		
		::i-block-chrome, .page_header {
			height: 334px;
		}
	}