/* ==========================================================================
	REVIEWS
	========================================================================== */
	.no-top-padding {
		padding-top: 0;
	}
	
	.item_container {
		position: fixed;
		right: 0;
		padding: 0 30px 10px 5px;
		overflow: hidden;
		z-index: 1;
		font-family: rigby;
	}
	
	.sort-info {
		border-bottom: 1px solid #A0A6A6;
		padding: 15px 10px;
	}
	
	#review-items {
		padding-right: 0;
		padding-left: 0;
		min-height: 526px;
	}
	
	.review_box {
		height: 45vh;
		overflow: hidden;
		padding-top: 5px;
		padding-left: 0;
		padding-right: 5px;
		-webkit-transition: .3s linear;
	}
	
	.review_box:nth-child(1), .review_box:nth-child(2), .review_box:nth-child(3) {
		padding-top: 0;
	}
	
	.review_box_innter {
		position: relative;
		-webkit-transition: .3s linear;
	}
	
	.review-image-bg {
		width: 100%;
		height: 45vh;
		-webkit-transition: .3s linear;
	}
	
	.item-hover {
		top: 0;
		left: 0;
		position:absolute;
		opacity:0.66;
		background-color: #EB1C39;
		width: 100%;
		height: 45vh;
		display: none;
		-webkit-transition: .3s linear;
	}
	
	.review-button-container {
		position: absolute;
		left: 0;
		top: 0;
		margin-top: 15vh;
		width: 100%;
		display: none;
		color: #FFFFFF;
	}
	
	.review-button {
		background-color: transparent;
		text-transform: uppercase;
		font-size: 14px;
		font-family :rigby;
		letter-spacing: 1px;
		border: 1px solid #FFFFFF;
		padding: 6px 12px 4px 12px;
		width: 150px;
	}
	.review_box:hover .item-hover, .review_box:hover .review-button-container {
		display: block;
	}
	
	.item-info {
		height: 15vh;
		text-transform: uppercase;
		padding: 0 10px;
		font-size: 16px;
		color: #535858;
	}
	
	.item-brand {
		padding-top: 30px;
	}
	
	.item-details {
		height: 25vh;
		padding: 0 10px;
		border-bottom: 1px solid #A0A6A6;
		line-height: 23px;
	}
	
	.item-details span {
		color: #A0A6A6;
		font-style: italic;
		font-size: 12px;
	}
	
	#raiting, #release_date, #categories, #tags {
		text-transform: lowercase;
	}
	
	#rating {
		font-size: 20px;
	}
	
	.review-body {
		padding: 0 10px;
		padding-top: 30px;
		height: 34.5vh;
	}
	
	.review-buttons button {
		text-transform: uppercase;
		border-radius: 0px;
		border: 1px solid #A0A6A6;
		color: #535858;
		background: #FFFFFF;
		width: 100%;
		overflow: hidden;
	}
	
	.slug a, .slug a:hover, .review-button {
		text-decoration: none !important;
		color: #FFFFFF !important;
	}
	
	#author_name {
		font-style: italic;
	}
	
	#main_container {
		height: 100% !important;
	}
	
	/* TARGET ONLY SAFARI 5.X BROWSERS */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .item-hover, .review-image-bg, .review_box {
			height: 281px;
		}
		
		::i-block-chrome, .review-button-container {
			margin-top: 95px;
		}
		
		::i-block-chrome, .item-info {
			height: 95px;
		}
		
		::i-block-chrome, .item-details {
			height: 180px;
		}
		
		::i-block-chrome, .review-body {
			height: 191px;
		}
	}

/* ==========================================================================
	REVIEW VIEW
	========================================================================== */
	.single-article-title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		color: #FFFFFF;
		z-index: 1;
		text-transform: uppercase;
		line-height: 40px;
		letter-spacing: 4px;
		font-size: 36px;
		margin-top: 22.5vh;
		padding: 0 5px;
	}
	
	.single-article-author {
		color: #FFFFFF !important;
		padding: 30px;
		line-height: 15px;
		font-family: georgia;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		display: block;
	}
	
	.article-box {
		margin-top: 22.5vh;
		height: 45vh;
		width: 25%;
		background-color: #EB1C39;
		position: absolute;
		left: 37.5%;
		top: 0;
	}
	
	.article-heading-single {
		min-height: 95vh;
	}
	
	
	@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
		.article-image-bg {
			height: 94vh;
			padding: 0.1px;
		}
		
		.article-box {
			position: relative;
			width: 100%;
			height: 30vh;
			left: 0;
			margin-top: 59vh;
		}
		
		.single-article-title {
			font-size: 28px;
			margin-top: 70px;
		}
		
		.single-article-author {
			font-size: 12px;
			padding: 15px;
		}
		
		.item_outer {
			font-size: 12px;
		}
		
		.excerpt_mobile {
			margin: 0;
			margin-top: 10px;
		}
		
		.item_subheadings_mobile p {
			margin: 0;
		}
		
		.item_mobile_heading {
			color: #A0A6A6;
			font-style: italic;
		}
		
		.item_subheadings_mobile {
			margin: 0;
		}
		
		.review_mobile_header {
			height: 65px;
			font-family: rigby; 
			text-transform:uppercase; 
			text-decoration: underline;
		}
		
		.review_mobile_header h3 {
			margin: 0;
			margin-top: 15px;
		}
		
		.item_most_outer {
			border-bottom: 1px solid #000;
			margin-left: 0;
			margin-right: 0;
		}
		
		.item_inner_box, .item_info_outer {
			padding: 0;
		}
		
		.review_box_m, .review-image-bg {
			height: 303px;
			padding-right: 0;
		}
		
		.review_box_m {
			border: 1px solid #000; border-bottom: none; border-right: none; padding: 0;
		}
		
		.item-info {
			padding: 15px 15px 0 15px;
			height: 100px;
		}
		
		.item-info a {
			color: #535858;
		}
		
		.item-brand {
			padding: 0;
		}
		
		.item_outer {
			height: 303px; width: 100%; border: 1px solid #000; border-bottom: none;
		}
	}
	
	@media only screen and (min-width : 1824px) {
		.article-image-bg {
			height: 92vh;
		}
		
		#review-items {
			min-height: 798px;
		}
		
		.outer {
			min-height: 885px;
		}
		
	}
	
	@media only screen and (max-width: 990px), only screen and (max-device-width: 990px) {
		.review_box:nth-child(1), .review_box:nth-child(2), .review_box:nth-child(3) { padding-top: 5px; }
	}
	
	/* TARGET ONLY SAFARI 5.X BROWSERS */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .article-image-bg {
			height: 583px;
		}
		
		::i-block-chrome, .article-box {
			height: 295px;
			margin-top: 147.375px;
		}
		
		::i-block-chrome, .single-article-title {
			margin-top: 147.375px;
		}
		
		::i-block-chrome, .article-heading-single {
			min-height: 622px;
		}
	}
	
	@media only screen 
	and (min-width : 1824px) 
	and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .article-image-bg {
			height: 879px;
		}
		
		::i-block-chrome, .article-box {
			height: 430px;
			margin-top: 214.875px;
		}
		
		::i-block-chrome, .single-article-title {
			margin-top: 150px;
		}
		
		::i-block-chrome, .article-heading-single {
			min-height: 907px;
		}
	}